.content-98HsJk {
    .chat-3bRxxu, .threadSidebar-1o3BTy {
        background-color: var(--background-base);
    }
    .wrapper-3vR61M, .wrapper-1F5TKx {
        background-color: var(--background-base);
    }
    .content-1o0f9g {
        background-color: var(--background-base);
    }
    [class="reaction-1hd86g"] {
        background-color: var(--background-light-alt);
    }
}