.form-2fGMdU {
    .channelTextArea-rNsIhG {
        background-color: var(--channeltextarea-background);
    }
    &::before {
        display: none;
    }
    .attachedBars-tZDmyV, .replyBar-1YLQ2F {
        background-color: var(--background-light);
    }
    .upload-3Dkqd6 {
        background-color: var(--background-alt);
    }
}
.jumpToPresentBar-G1R9s6 {
    background-color: #2b2b2b;
}