#app-mount {
    .wrapper-2aW0bm {
        background-color: var(--background-light);
    }
    .markup-2BOw-j code,
    .wrapperAudio-1jDe0Q {
        border-color: var(--background-light);
        background-color: var(--background-light);
    }
    .embedFull-2tM8-- {
        border-color: var(--background-light-alt);
        background-color: var(--background-light);
    }
    .textContainer-C0szpm,
    .footer-2yA7Ep {
        border-color: var(--background-light-alt);
        background-color: var(--background-light);
    }
    .wrapper-35wsBm {
        background-color: var(--background-light);
        .guildIconImage-3qTk45 {
            background-color: var(--background-light-alt);
        }
    }
    .container-3hZ-gs {
        background-color: var(--background-light);
    }
}