.container-1r6BKw {
    &.themed-ANHk51 {
        background: var(--background-base);
    }
    .children-19S4PO::after {
        display: none;
    }
    .searchBar-3dMhjb {
        background-color: var(--searcharea-background);
    }
    .searchAnswer-3Dz2-q, .searchFilter-2ESiM3 {
        background-color: var(--background-alt);
    }
    .akaBadge-1M-1Gw {
        background-color: var(--background-light-alt);
    }
}