#app-mount .layer-3QrUeG { 
    .group-1WdBVp {
        border-color: var(--background-light);
    }
    .item-1yAxl1 {
        background-color: var(--background-light);
        &.selected-2YhbGh {
            background-color: var(--background-light-alt);
        }
    }
}