#app-mount .layer-3QrUeG {
    .cardFolder-28dwxo {
        background-color: var(--background-light-alt);
    }
    .group-1WdBVp {
        border-color: var(--background-alt);
    }
    .item-1yAxl1 {
        background-color: var(--background-alt);
        &.selected-2YhbGh {
            background-color: var(--background-light-alt);
        }
    }
}