#app-mount .layer-3QrUeG {
    .avatarUploaderInnerSquareDisabled-2Cz_em {
        background-color: var(--background-light-alt);
    }
    .container-_phMUq {
        background-color: var(--background-light);
        &:hover {
            background-color: var(--background-alt);
            .icon-3_8HGa {
                background-color: var(--background-dark);
            }
        }
    }
    .icon-3_8HGa {
        background-color: var(--background-alt);
    }
    .primary-2McadE:hover:not(.disabled-3Njyym), 
    .secondary-dIudih {
        background-color: var(--background-light-alt);
        &:hover {
            background-color: var(--background-light);
        }
    }

    .tierHeaderLocked-3S508x {
        background-color: var(--background-light);
    }
    .tierBody-3aUxuc {
        background-color: var(--background-light-alt);
    }

    .auditLog-2ph_aK {
        border-color: var(--background-light);
        &:hover {
            border-color: var(--background-alt);
            .headerClickable-g5d9lT,
            .headerExpanded-2egR38 {
                background-color: var(--background-alt);
            }
        }
    }
    .headerClickable-g5d9lT, 
    .headerDefault-2D4Kcg,
    .headerExpanded-2egR38 {
        background-color: var(--background-light);
    }
    .divider-1tf9AP {
        background-color: var(--background-light);
    }
    .changeDetails-2dV5gP {
        background-color: var(--background-light-alt);
    }

    .descriptionBox-2ypBKO {
        background-color: var(--background-light-alt);
    }

    .featureCard-1TcVMH {
        background-color: var(--background-light-alt);
    }
    .featureIcon-g7w7y2 {
        background-color: var(--background-alt);
    }
}