#app-mount .layer-86YKbF {
    .avatarUploaderInnerSquareDisabled-e_U2MZ {
        background-color: var(--background-secondary-alt);
    }
    .container-3EtAkD {
        background-color: var(--background-secondary);
        &:hover {
            background-color: var(--background-tertiary);
            .icon-2DGsye {
                background-color: var(--background-dark);
            }
        }
    }
    .icon-2DGsye {
        background-color: var(--background-tertiary);
    }
    .primary-38Hs-h:hover:not(.disabled-184-il), 
    .secondary-2bzKEX {
        background-color: var(--background-secondary-alt);
        &:hover {
            background-color: var(--background-secondary);
        }
    }

    .previewContainer-1GxmBJ {
        background-color: var(--background-secondary);
    }
    .previewContainer-1xQAsw {
        .theme-secondary {
            display: none;
        }
        .messageContainer-3a6gLR {
            background-color: var(--background-secondary);
        }
    }

    .tierHeaderLocked-30MLlO {
        background-color: var(--background-secondary);
    }
    .tierBody-1d3UiS {
        background-color: var(--background-secondary-alt);
    }

    .auditLog-1NVAY0 {
        border-color: var(--background-secondary);
        &:hover {
            border-color: var(--background-tertiary);
            .headerClickable-zGQJz3,
            .headerExpanded-1-zwDr {
                background-color: var(--background-tertiary);
            }
        }
    }
    .headerClickable-zGQJz3, 
    .headerDefault-1e6yjj,
    .headerExpanded-1-zwDr {
        background-color: var(--background-secondary);
    }
    .divider-M3saWq {
        background-color: var(--background-secondary);
    }
    .changeDetails-1kMZqI {
        background-color: var(--background-secondary-alt);
    }

    .descriptionBox-SKGNgB {
        background-color: var(--background-secondary-alt);
    }

    .featureCard-3XHbjy {
        background-color: var(--background-secondary-alt);
    }
    .featureIcon-2sTnDK {
        background-color: var(--background-tertiary);
    }
}