#app-mount .layer-3QrUeG {
    .accountProfileCard-1XCH88 {
        background-color: var(--background-alt);
        .background-1QDuV2,
        .fieldList-21DyL8 {
            background-color: var(--background-light);
        }
    }
    .avatar-1uQSZT {
        border-color: var(--background-alt);
        background-color: var(--background-alt);
    }

    .profileBannerPreview-gaX5MP {
        background-color: var(--background-alt);
    }

    .cardPrimaryOutline-29Ujqw {
        border-color: var(--background-alt);
        background-color: var(--background-alt);
    }

    .accountList-33MS45 {
        background-color: var(--background-light);
    }
    .accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
        background-color: var(--background-light-alt);
    }

    .connection-1fbD7X,
    .guildSubscriptionSlots-1IKD1q {
        background-color: var(--background-light);
    }
    .connectionHeader-2MDqhu,
    .guildHeader-p5Yoct {
        background-color: var(--background-alt);
    }

    .subscriptionsRedirectContainer-21LuI0,
    .feature-2w65J5 {
        background-color: var(--background-light);
    }

    .outer-1AjyKL {
        background-color: var(--background-light);
    }
    .noIcon-1a_FrS {
        background-color: var(--background-light-alt);
    }
    .gemIndicatorContainer-2jdECl {
        background-color: var(--background-alt);
    }

    .premiumSubscriptionAccountCredit-25i0tQ,
    .promotionCard-2IP574 {
        background-color: var(--background-light);
    }

    .paginator-166-09,
    .paymentPane-3bwJ6A,
    .payment-xT17Mq {
        background-color: var(--background-light);
    }
    .bottomDivider-1K9Gao {
        border-color: var(--background-base);
    }
    .codeRedemptionRedirect-1wVR4b {
        border-color: var(--background-light);
        background-color: var(--background-alt);
    }
    
    .previewMessage-1ZN7YG {
        background-color: var(--background-light-alt);
    }

    .notches-1sAcEM.gray-3_LNYR {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='black'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
    .cameraWrapper-2n3EKe {
        border-color: var(--background-light);
        background-color: var(--background-light);
    }

    .notDetected-33MY4s {
        background-color: var(--background-light-alt);
    }
    .game-1ipmAa {
        box-shadow: 0 1px 0 0 var(--background-light-alt);
    }

    .option-n0icdO:not(.selected-mKYnfr):not(:hover) {
        background-color: var(--background-light-alt);
    }

    .powercord-entities-manage-tabs {
        background-color: var(--background-light);
    }

    .container-cMG81i {
        background-color: var(--background-light);
    }
}