.powercord-toast {
    .header {
        background-color: var(--background-primary);
        box-shadow: none;
    }

    box-shadow: none;
    background-color: var(--background-secondary-alt);
    border: 0px;
}