#app-mount .layer-86YKbF {
    .cardFolder-3H4uH4 {
        background-color: var(--background-secondary-alt);
    }
    .group-LWHoGI {
        border-color: var(--background-tertiary);
    }
    .item-4m-12I[aria-checked="false"] {
        background-color: var(--background-tertiary);
    }
    .passthrough--fbdFR.selected-3jieYB {
        background-color: var(--background-secondary-alt);
    }
}