#app-mount {
    .layer-86YKbF:not(.baseLayer-W6S8cY) {
        .copyInput-3AbKWB {
            border-color: var(--background-secondary);
            background-color: var(--background-tertiary);
        }
    }
    // primary
    .sidebarRegionScroller-FXiQOh {
        background-color: var(--background-primary);
    }
    .header-6h98Y_ {
        background-color: var(--background-primary);
    }
    // close
    .closeButton-PCZcma {
        border-color: var(--background-secondary-alt);
        &:hover {
            background-color: var(--background-secondary-alt);
        }
    }
    .keybind-13vtq8 {
        color: var(--text-normal);
    }
    //
    .settingCard-xZSDjS {
        background-color: var(--background-secondary);
    }
    .cardPrimary-3qRT__,
    .cardPrimaryEditable-2mz_3i {
        background-color: var(--background-secondary);
    }
    .iconWrapper-1sOtkE {
        background-color: var(--background-tertiary);
    }
    .itemFilled-1cPbtg:not(:hover):not([aria-checked="true"]) {
        background-color: var(--background-secondary-alt);
    }
    .itemFilled-1cPbtg[aria-checked="true"] {
        background-color: var(--background-tertiary) !important;
    }
    .default-1Tkeeg {
        background-color: var(--background-secondary-alt);
    }
    // keybind actions
    .container-30qY7E {
        background-color: var(--background-tertiary);
        &.fileUpload-3JzU7g :not(:hover) {
            border-color: var(--background-secondary);
        }
    }
    // save popup
    .noticeRegion-qjyUVg .container-20TyK0 {
        background-color: var(--background-secondary) !important;
    }
    // sliders
    .bar-1Bhnl9:not(.microphone-2RrrW7, .speaking-2Crrvt),
    .markDash-yk2kJ- {
        background-color: var(--background-secondary-alt);
    }
}