.layer-86YKbF[aria-label$="SETTINGS"] {
    .input-2g-os5 {
        border-color: var(--background-secondary);
        background-color: var(--background-tertiary);
    }
}

#app-mount {
    // primary
    .contentRegionScroller-2_GT_N,
    .contentRegion-3HkfJJ {
        background-color: var(--background-primary);
    }
    .sidebarRegionScroller-FXiQOh {
        background-color: var(--background-primary);
    }
    .titleContainer-3fPic2,
    .header-6h98Y_ {
        background-color: var(--background-primary);
    }
    // close
    .closeButton-PCZcma {
        border-color: var(--background-secondary-alt);
        &:hover {
            background-color: var(--background-secondary-alt);
        }
    }
    .keybind-13vtq8 {
        color: var(--text-normal);
    }
    //
    .scroller-3_YDR2 {
        background-color: var(--background-primary);
    }
    .card-2EUiNF,
    .settingCard-xZSDjS {
        background-color: var(--background-secondary);
    }
    .cardPrimary-3qRT__, .cardPrimaryEditable-2mz_3i {
        border-color: var(--background-secondary);
        background-color: var(--background-secondary);
    }
    .iconWrapper-lS1uig {
        background-color: var(--background-tertiary);
    }
    .itemFilled-1cPbtg {
        background-color: var(--background-secondary-alt);
        &[aria-checked=true] {
            background-color: var(--background-tertiary) !important;
        }
        &:hover {
            background-color: var(--background-secondary);
        }
    }
    .detailsBlock-24pLFz {
        background-color: var(--background-secondary);
    }
    .default-1Tkeeg {
        background-color: var(--background-secondary-alt);
    }
    .premiumGuildAvailabilityIndicator-2yVVuW {
        background-color: var(--background-secondary-alt);
    }
    // keybind actions
    .container-30qY7E {
        background-color: var(--background-tertiary);
    }
}