#app-mount .layer-86YKbF {
    .profileBannerPreview-3mLIdO {
        background-color: var(--background-tertiary);
    }

    .cardPrimaryOutline-1ofwVz {
        border-color: var(--background-secondary);
    }

    .connectContainer-1hylYM {
        background-color: var(--background-secondary);
    }
    .accountButtonInner-33vCDY:not(:hover) {
        background-color: var(--background-secondary-alt);
    }
    .connectionHeader-Ixbb1s {
        background-color: var(--background-secondary);
    }
    .connection-YOVI9j {
        background-color: var(--background-secondary-alt);
    }

    .outer-2JOHae {
        background-color: var(--background-secondary);
        &:hover {
            background-color: var(--background-tertiary);
        }
    }
    .noIcon-3gSX9V {
        background-color: var(--background-secondary-alt);
    }
    .gemIndicatorContainer-PqApbX {
        background-color: var(--background-tertiary);
    }

    .promotionCard-mo7ClH {
        background-color: var(--background-secondary);
    }

    .paginator-1eqD2g,
    .paymentPane-ut5qKZ,
    .payment-2bOh4k {
        background-color: var(--background-secondary);
    }
    .hoverablePayment-lE1s4t {
        background-color: var(--background-secondary);
        &:hover {
            background-color: var(--background-tertiary);
        }
    }
    .bottomDivider-ZmTm-j {
        border-color: var(--background-secondary-alt);
    }
    .expandedInfo-1W31i3 {
        background-color: var(--background-secondary-alt);
    }
    .codeRedemptionRedirect-2hYMSQ {
        border-color: var(--background-tertiary);
        background-color: var(--background-secondary);
    }

    .notches-2w7UZJ.gray-3wP137 {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='black'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
    .cameraWrapper-3a7Ngv {
        border-color: var(--background-secondary);
    }
    .backgroundOptionInner-SSz19O {
        background-color: var(--background-tertiary);
    }

    .notDetected-M3Ghh2 {
        background-color: var(--background-secondary-alt);
    }
    .game-2f2vPC {
        box-shadow: 0 1px 0 0 var(--background-secondary-alt);
    }

    .option-1QI4c9:not(.selected-18Wszc):not(:hover) {
        background-color: var(--background-secondary-alt);
    }

    .powercord-entities-manage-tabs {
        background-color: var(--background-secondary);
    }

    .container-2oNtJn {
        background-color: var(--background-secondary);
    }
}