@import url("https://raw.githack.com/LuckFire/AMOLED-Cord/main/src/source.css");
@import url("https://raw.githack.com/Snapperito/Settings-Icons/main/source.css"); /* Got permission from Snapperito, ty for this amazing snipept :^) */

:root {
    --background-primary: rgb(8, 8, 8) !important;
    --background-secondary: rgb(5, 5, 5) !important;
    --background-secondary-alt: rgb(15, 15, 15) !important;
    --background-tertiary: black !important;
    --background-accent: rgb(15, 15, 15) !important;
    --background-floating: black !important; 
    --background-modifier-hover: rgba(255, 255, 255, 0.015) !important;
    --background-modifier-active: rgba(255, 255, 255, 0.025) !important;
    --background-modifier-selected: rgba(255, 255, 255, 0.03) !important;
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
    --channeltextarea-background: rgb(20, 20, 20);
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #9f9f9f !important;
    --text-muted: #b6b6b6 !important;
    --text-normal: #fbfbfb !important; 
    --interactive-normal: #c8c8c8 !important;
    --interactive-hover: #dcddde !important;
    --interactive-active: #fff !important;
    --interactive-muted: #747474 !important;
    --header-secondary: #c9c9c9 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, .2) !important;
    --toast-border: var(--background-tertiary) !important;
    --offline-color: rgb(60, 60, 60) !important;
}
