#splash {
    background: rgb(5, 5, 5);
}
.progress .progress-bar {
    background-color: rgb(15, 15, 15);
}
.progress .progress-bar .complete {
    background-color: #ffffff;
}
#splash .splash-inner-dl .dl-select-frame .Select-control {
    background: rgb(13, 13, 13);
    border-color: rgb(15, 15, 15);
}
#splash .splash-inner-dl .dl-select-frame .Select-menu-outer {
    background: rgb(13, 13, 13);
    border-color: rgb(15, 15, 15);
}