#app-mount .autocomplete-1vrmpx {
    background-color: var(--background-alt);
    .selected-1Tbx07 {
        background-color: var(--background-light-alt);
    }
    .categoryHeader-O1zU94 {
        background-color: var(--background-alt);
    }
    .wrapper-uf3cnO, .wrapper-2Gsate {
        background-color: var(--background-alt);
    }
    .selected-3xBBKs, .selected-3xBBKs:hover {
        background-color: var(--background-light-alt);
    }
}