#app-mount .autocomplete-3NRXG8 {
    background-color: var(--background-tertiary);
    .selected-3H3-RC {
        background-color: var(--background-secondary-alt);
    }
    .categoryHeader-OpJ1Ly {
        background-color: var(--background-tertiary);
    }
    .wrapper-3z7DuG, .wrapper-22rqw6 {
        background-color: var(--background-tertiary);
    }
    .selected-3B2w1z, .selected-3B2w1z:hover {
        background-color: var(--background-secondary-alt);
    }
}