.contentWrapper-SvZHNd,
.emojiPicker-3PwZFl {
    background-color: var(--background-alt);
    .wrapper-1-Fsb8 {
        background-color: var(--background-alt);
    }
    .categoryItemDefaultCategorySelected-_HCKoz, 
    .categoryItemDefaultCategorySelected-_HCKoz:hover {
        background-color: var(--background-light-alt);
    }
    .inspector-S2gM3e {
        background-color: var(--background-light-alt);
    }
    .navButtonActive-1MkytQ {
        background-color: var(--background-modifier-selected);
    }
    .container-cMG81i,
    .container-2XeR5Z {
        background-color: var(--searcharea-background);
    }
}
.wrapper-2Gsate {
    background-color: var(--background-light);
}