.messagesPopoutWrap-1MQ1bW {
    background-color: var(--background-light);
    .channelHeader-3Gd2xq {
        background-color: var(--background-light);
    }
    .tertiary-aMXF0g,
    .primary-2McadE:hover:not(.disabled-3Njyym),
    .secondary-dIudih {
        background-color: var(--background-light-alt);
        &:hover {
            background-color: var(--background-dark);
        }
    }
    .messageContainer-gbhlwo {
        background-color: var(--background-alt);
    }
}