#app-mount {
    .layer-v9HyYc {
        .header-ykumBX {
            background-color: var(--background-light);
            + div {
                background-color: var(--background-light);
            }
        }
        .tab-ck0077.active-1MbGPa {
            background-color: var(--background-modifier-selected);
        }
    }
}