#app-mount .container-7uh5fX {
    background-color: var(--background-light);
    .header-1VS4tm {
        background-color: var(--background-light);
        .tab-PQvTH4.active-30vPlA {
            background-color: var(--background-modifier-selected);
        }
    }
    .container-2I9Hud {
        border-color: var(--background-alt);
        background-color: var(--background-alt);
    }
}