.userPopout-2j1gM4 {
    background-color: var(--background-tertiary);
    .avatar-2Vndt_ {
        border-color: var(--background-tertiary);
        background-color: var(--background-tertiary);
    }
    .bodyInnerWrapper-2bQs1k,
    .footer-1Dc_h6 {
        background-color: var(--background-tertiary);
    }
    .role-2TIOKu {
        background-color: var(--background-secondary-alt);
    }
    .input-2z42oC {
        background-color: var(--background-secondary);
    }
}