.userPopout-xaxa6l {
    background-color: var(--background-alt);
    .avatar-37jOim {
        border-color: var(--background-alt);
        background-color: var(--background-alt);
    }
    .bodyInnerWrapper-26fQXj,
    .footer-3UKYOU {
        background-color: var(--background-alt);
    }
    .role-2irmRk {
        background-color: var(--background-light-alt);
    }
    .input-2_SIlA {
        background-color: var(--background-light);
    }
}