@-moz-document domain("discord.com") {
    /* ==UserStyle==
    @name         AMOLED-Cord
    @description  A theme that's nice on your eyes.. lights out baby!
    @author       LuckFire#4800
    @namespace    github.com/LuckFire/amoled-cord
    @version      1.1.1
    ==/UserStyle== */

    @import url("https://luckfire.github.io/theme-source/src/css-compile/ThemeSource-Compiled.css");
    @import url("https://nyri4.github.io/Discolored/main.css");
    @import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
    
    :root {
        /* --------- BASE THEME --------- */
        --blurple-replace: #7289DA;
        --background-primary: rgb(8, 8, 8);
        --background-secondary: rgb(5, 5, 5);
        --background-secondary-alt: rgb(15, 15, 15);
        --background-tertiary: black;
        --background-accent: rgb(15, 15, 15);
        --background-floating: black;
        --userarea-background: var(--background-tertiary);
        --header-primary: #fff;
        --header-secondary: #b9bbbe;
        --elevation-low: 0 1px 0 rgba(40, 40, 50, 0.2), 0 1.5px 0 rgba(60, 60, 70, 0.05), 0 2px 0 rgba(40, 40, 50, 0.05);
        --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
        --channels-default: #969696;
        --channeltextarea-background: rgb(25, 25, 25);
        --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        --activity-card-background: #0f0f0f;
        --interactive-normal: #b9bbbe;
        --interactive-hover: #dcddde;
        --interactive-active: #fff;
        --interactive-muted: rgb(75, 75, 75);
        --background-modifier-hover: rgba(50, 50, 50, 0.16);
        --background-modifier-active: rgba(50, 50, 50, 0.24);
        --background-modifier-selected: rgba(50, 50, 50, 0.32);
        --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
        --text-link: #00b0f4;
        --text-normal: #dcddde;
        --text-muted: #969696;
        --deprecated-panel-background: #292b2f;
        --deprecated-card-bg: rgba(32, 34, 37, 0.6);
        --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
        --deprecated-store-bg: #36393f;
        --deprecated-quickswitcher-input-background: #72767d;
        --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
        --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
        --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
        --deprecated-text-input-border-hover: #040405;
        --deprecated-text-input-border-disabled: #202225;
        --deprecated-text-input-prefix: #dcddde;
        --background-accent-1: rgb(15, 15, 15, 0.1);
        --background-accent-3: rgb(15, 15, 15, 0.3);
        --background-floating-2: rgba(0, 0, 0, 0.2);
    }
    
    #app-mount .scrollerBase-289Jih.disableScrollAnchor-3V9UtP::-webkit-scrollbar-thumb,
    #app-mount .scrollerBase-289Jih.auto-Ge5KZx::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
    }
    #app-mount .scrollerBase-289Jih.disableScrollAnchor-3V9UtP::-webkit-scrollbar-track,
    #app-mount .scrollerBase-289Jih.auto-Ge5KZx::-webkit-scrollbar-track {
        background-color: var(--background-modifier-accent);
    }
    #app-mount .scrollerBase-289Jih.thin-1ybCId::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
    }
    #app-mount .rolesList-22qj2L::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
    }

    #app-mount .spoilerText-3p6IlD {
        background-color: rgba(255, 255, 255, 0.15);
    }

    /* Colored User Connections */
    #app-mount .connectedAccount-36nQx7 {
        background-color: transparent;
        border: none;
    }
    #app-mount .connectedAccount-36nQx7 .connectedAccountNameInner-1phBvE::after {
        content: "";
        position: absolute;
        border-radius: 3px;
        margin-left: -38px;
        height: 46px;
        width: 260px;
    }
    #app-mount .connectedAccountVerifiedIcon-3aZz_K svg path {
        fill: #fff;
        opacity: 0.4;
    }
    #app-mount .connectedAccountVerifiedIcon-3aZz_K .childContainer-1wxZNh svg path {
        opacity: 1;
    }
    #app-mount .connectedAccountIcon-3P3V6F,
    #app-mount .connectedAccountName-f8AEe2,
    #app-mount .connectedAccountNameInner-1phBvE span,
    #app-mount .connectedAccountNameInner-1phBvE + .anchor-3Z-8Bb {
        z-index: 1;
    }

    [alt="GitHub Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #181b1f;
        border: 1px solid #d9dadb;
    }

    [alt="Twitch Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #3A2E5E;
        border: 1px solid #563194;
    }

    [alt="Steam Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #171a21;
        border: 1px solid #2a475e;
    }

    [alt="Spotify Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #2C523E;
        border: 1px solid #1ED760;
    }

    [alt="Twitter Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #266994;
        border: 1px solid #1DA1F2;
    }

    [alt="Reddit Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #7D442A;
        border: 1px solid #FF6314;
    }

    [alt="YouTube Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #772528;
        border: 1px solid #EE0F0F;
    }

    [alt="Battle.net Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #264659;
        border: 1px solid #009AE4;
    }

    [alt="Xbox Live Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #394E31;
        border: 1px solid #5DC21E;
    }

    [alt="Facebook Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #14223d;
        border: 1px solid #3A5998;
    }

    [alt="League of Legends Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #424491;
        border: 1px solid #676AE6;
    }

    [alt="Skype Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #424491;
        border: 1px solid #676AE6;
    }

    [alt="GitLab Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #6E4330;
        border: 1px solid #FC6D26;
    }

    [alt="Minecraft Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #693037;
        border: 1px solid #EE303D;
    }

    [alt="osu! Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #5F3E51;
        border: 1px solid #EE65A2;
    }

    [alt="discord.bio Logo"] + .connectedAccountNameInner-1phBvE::after {
        background-color: #3d4870;
        border: 1px solid #7289da;
    }

    /* USRBG Support */
    .userPopout-3XzG_A .header-2BwW8b {
        transform: translateZ(0);
    }
    .userPopout-3XzG_A .wrapper-3t9DeA::after {
        content: "";
        position: fixed;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        opacity: 0.5;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: var(--user-popout-position) center;
        background-image: var(--user-background);
    }

    .root-SR8cQa > div:not(.body-3ND3kc) {
        transform: translateZ(0);
    }
    .root-SR8cQa > div:not(.body-3ND3kc) .header-QKLPzZ .wrapper-3t9DeA::after {
        content: "";
        position: fixed;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: 0 !important;
        pointer-events: none;
        background: var(--user-background) center/cover no-repeat;
    }
    .root-SR8cQa > div:not(.body-3ND3kc) .header-QKLPzZ .wrapper-3t9DeA svg {
        z-index: 1;
        position: relative;
    }
    .root-SR8cQa > div:not(.body-3ND3kc) .headerInfo-30uryT, .root-SR8cQa > div:not(.body-3ND3kc) .tabBarItem-1b8RUP, .root-SR8cQa > div:not(.body-3ND3kc) .activity-1ythUs {
        z-index: 1;
        position: relative;
    }

    /* Color Filled Roles */
    #app-mount .role-2irmRk {
        position: relative;
        overflow: hidden;
        border: 0;
        z-index: 0;
        padding: 5px;
    }
    #app-mount .role-2irmRk .roleCircle-3xAZ1j::after {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        width: 100%;
        height: 100%;
        left: 0;
        opacity: 0.25;
    }
    #app-mount .role-2irmRk.addButton-pcyyf6 {
        background-color: rgba(125, 125, 125, 0.25);
    }

    /* Light Theme Warning */
    html.theme-light #app-mount::after {
        content: "You need to have dark theme enabled for this theme to work properly. To enable it, go into Settings -> Appearance";
        background: var(--background-tertiary);
        /* Container color */
        position: fixed;
        z-index: 5;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        max-width: 225px;
        line-height: normal;
        padding: 15px 0 15px 60px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-left: 2px solid #F04747;
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.65);
        /* Text Color */
        background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMSAyMWgyMkwxMiAyIDEgMjF6bTEyLTNoLTJ2LTJoMnYyem0wLTRoLTJ2LTRoMnY0eiIvPjwvc3ZnPg==");
        background-repeat: no-repeat;
        background-size: 35px;
        background-position: 10px center;
    }

    /* AMOLED-Cord Watermark */
    .titleBar-AC4pGV.typeWindows-1za-n7::after {
        content: "";
        position: absolute;
        pointer-events: none;
        background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="moon" class="svg-inline--fa fa-moon fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M279.135 512c78.756 0 150.982-35.804 198.844-94.775 28.27-34.831-2.558-85.722-46.249-77.401-82.348 15.683-158.272-47.268-158.272-130.792 0-48.424 26.06-92.292 67.434-115.836 38.745-22.05 28.999-80.788-15.022-88.919A257.936 257.936 0 0 0 279.135 0c-141.36 0-256 114.575-256 256 0 141.36 114.576 256 256 256zm0-464c12.985 0 25.689 1.201 38.016 3.478-54.76 31.163-91.693 90.042-91.693 157.554 0 113.848 103.641 199.2 215.252 177.944C402.574 433.964 344.366 464 279.135 464c-114.875 0-208-93.125-208-208s93.125-208 208-208z"></path></svg>') center/100% no-repeat;
        width: 16px;
        height: 16px;
        left: 5px;
        top: 3px;
    }
    .titleBar-AC4pGV .wordmark-2iDDfm svg {
        width: 0;
    }
    .titleBar-AC4pGV .wordmark-2iDDfm::after {
        content: "AMOLED-Cord";
        position: absolute;
        font-family: "Fredoka One";
        background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 13px;
        font-weight: 550;
        top: 5px;
        left: 25px;
        width: 135px;
    }
}
