:root,
.theme-dark:not(.userProfileOuterThemed-3EfHmv),
.theme-light:not(.userProfileOuterThemed-3EfHmv),
.theme-amoled:not(.userProfileOuterThemed-3EfHmv) {
    --background-primary: hsl(0, calc(var(--saturation-factor, 1) * 0%), 0%);
    --background-secondary: hsl(0, calc(var(--saturation-factor, 1) * 0%), 8%);
    --background-secondary-alt: hsl(0, calc(var(--saturation-factor, 1) * 0%), 10%);
    --background-tertiary: hsl(0, calc(var(--saturation-factor, 1) * 0%), 4%);
    --background-accent: hsl(0, calc(var(--saturation-factor, 1) * 0%), 12%);
    --background-floating: hsl(0, calc(var(--saturation-factor, 1) * 0%), 6%);
    --channeltextarea-background: hsl(0, calc(var(--saturation-factor, 1) * 0%), 5%);
    --input-background: hsl(0, calc(var(--saturation-factor, 1) * 0%), 4%);
    --channels-default: hsl(0, calc(var(--saturation-factor, 1) * 0%), 55%);
    --header-primary: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%);
    --header-secondary: hsl(216, calc(var(--saturation-factor, 1) * 4%), 74%);
    --text-normal: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%);
    --text-muted: hsl(0, calc(var(--saturation-factor, 1) * 0%), 59%);
    --scroller-thumb: hsl(0, calc(var(--saturation-factor, 1) * 0%), 12%);
    --scroller-track: hsl(0, calc(var(--saturation-factor, 1) * 0%), 4%);
    --background-modifier-hsl: 0, calc(var(--saturation-factor, 1) * 0%), 16%;
    --background-modifier-hover: hsla(var(--background-modifier-hsl), 0.3);
    --background-modifier-active: hsla(var(--background-modifier-hsl), 0.4);
    --background-modifier-selected: hsla(var(--background-modifier-hsl), 0.5);
    --background-modifier-accent: hsla(var(--background-modifier-hsl), 0.4);
    --interactive-normal: hsl(216, calc(var(--saturation-factor, 1) * 4%), 74%);
    --interactive-hover: hsl(210, calc(var(--saturation-factor, 1) * 3%), 87%);
    --interactive-active: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%);
    --interactive-muted: hsl(0, calc(var(--saturation-factor, 1) * 0%), 29%);
    --elevation-low: 0 1px 0 hsla(240, calc(var(--saturation-factor, 1) * 11%), 18%, 0.2),
        0 1.5px 0 hsla(240, calc(var(--saturation-factor, 1) * 8%), 25%, 0.05),
        0 2px 0 hsla(240, calc(var(--saturation-factor, 1) * 11%), 18%, 0.05);
}

#app-mount .layer-86YKbF .item-4m-12I[aria-checked=false]:not(:hover) {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF .cardFolder-3H4uH4 {
    background-color: var(--background-secondary-alt);
}

#app-mount .layer-86YKbF .avatarUploaderInnerSquareDisabled-3M9eJS {
    background-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .container-3EtAkD {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .container-3EtAkD:hover {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF .container-3EtAkD:hover .icon-2DGsye {
    background-color: var(--background-primary);
}
#app-mount .layer-86YKbF .icon-2DGsye {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF .primary-38Hs-h:hover:not(.disabled-184-il),
#app-mount .layer-86YKbF .secondary-2bzKEX {
    background-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .primary-38Hs-h:hover:not(.disabled-184-il):hover,
#app-mount .layer-86YKbF .secondary-2bzKEX:hover {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .previewContainer-1GxmBJ {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .previewContainer-1xQAsw .theme-light {
    display: none;
}
#app-mount .layer-86YKbF .previewContainer-1xQAsw .messageContainer-3a6gLR {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .tierHeaderLocked-30MLlO,
#app-mount .layer-86YKbF .tierHeaderUnlocked-1OpOLf {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .tierBody-1d3UiS {
    background-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .auditLog-1NVAY0 {
    border-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .divider-M3saWq,
#app-mount .layer-86YKbF .headerExpanded-1-zwDr {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .headerClickable-zGQJz3,
#app-mount .layer-86YKbF .headerDefault-1e6yjj,
#app-mount .layer-86YKbF .changeDetails-1kMZqI {
    background-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .card-WWLYDO {
    background-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .iconMask-1EYGrv {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .css-17e1tep-control,
#app-mount .layer-86YKbF .css-6fzn47-control,
#app-mount .layer-86YKbF .css-gvi9bl-control,
#app-mount .layer-86YKbF .inputWrapper-3a4ywb {
    background-color: var(--input-background);
}
#app-mount .layer-86YKbF .welcomeChannel-_Q4qAA {
    background-color: var(--background-secondary-alt);
}

#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .copyInput-3AbKWB {
    border-color: var(--background-secondary);
    background-color: var(--background-tertiary);
}
#app-mount .sidebarRegionScroller-FXiQOh {
    background-color: var(--background-primary);
}
#app-mount .header-6h98Y_ {
    background-color: var(--background-primary);
}
#app-mount .closeButton-PCZcma {
    border-color: var(--background-secondary-alt);
}
#app-mount .closeButton-PCZcma:hover {
    background-color: var(--background-secondary-alt);
}
#app-mount .keybind-13vtq8 {
    color: var(--text-normal);
}
#app-mount .settingCard-xZSDjS {
    background-color: var(--background-secondary);
}
#app-mount .cardPrimary-3qRT__,
#app-mount .cardPrimaryEditable-2mz_3i {
    background-color: var(--background-secondary);
}
#app-mount .iconWrapper-1sOtkE {
    background-color: var(--background-tertiary);
}
#app-mount .itemFilled-1cPbtg:not(:hover):not([aria-checked=true]) {
    background-color: var(--background-secondary-alt);
}
#app-mount .itemFilled-1cPbtg[aria-checked=true] {
    background-color: var(--background-tertiary) !important;
}
#app-mount .default-1Tkeeg {
    background-color: var(--background-secondary-alt);
}
#app-mount .container-30qY7E {
    background-color: var(--background-tertiary);
}
#app-mount .container-30qY7E.fileUpload-3JzU7g :not(:hover) {
    border-color: var(--background-secondary);
}
#app-mount .noticeRegion-qjyUVg .container-20TyK0 {
    background-color: var(--background-secondary) !important;
}
#app-mount .bar-1Bhnl9:not(.microphone-2RrrW7, .speaking-2Crrvt),
#app-mount .markDash-yk2kJ- {
    background-color: var(--background-secondary-alt);
}

#app-mount .layer-86YKbF .profileBannerPreview-3mLIdO {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF .cardPrimaryOutline-1ofwVz {
    border-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .connectContainer-1hylYM {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .accountButtonInner-33vCDY:not(:hover) {
    background-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .connectionHeader-Ixbb1s {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .connection-YOVI9j {
    background-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .outer-2JOHae {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .outer-2JOHae:hover {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF .noIcon-3gSX9V {
    background-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .gemIndicatorContainer-PqApbX {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF .promotionCard-mo7ClH {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .paginator-1eqD2g,
#app-mount .layer-86YKbF .paymentPane-ut5qKZ,
#app-mount .layer-86YKbF .payment-2bOh4k {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .hoverablePayment-lE1s4t {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .hoverablePayment-lE1s4t:hover {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF .bottomDivider-ZmTm-j {
    border-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .expandedInfo-1W31i3 {
    background-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .codeRedemptionRedirect-2hYMSQ {
    border-color: var(--background-tertiary);
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .notches-2w7UZJ.gray-3wP137 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='black'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E");
}
#app-mount .layer-86YKbF .cameraWrapper-3a7Ngv {
    border-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .backgroundOptionInner-SSz19O {
    background-color: var(--background-tertiary);
}
#app-mount .layer-86YKbF .notDetected-M3Ghh2 {
    background-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .game-2f2vPC {
    box-shadow: 0 1px 0 0 var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .option-1QI4c9:not(.selected-18Wszc):not(:hover) {
    background-color: var(--background-secondary-alt);
}
#app-mount .layer-86YKbF .powercord-entities-manage-tabs {
    background-color: var(--background-secondary);
}
#app-mount .layer-86YKbF .container-2oNtJn {
    background-color: var(--background-secondary);
}

#app-mount .button-3Vyz67,
#app-mount .button-1EGGcP.buttonColor-3bP3fX,
#app-mount .button-1EGGcP .buttonColor-3bP3fX,
#app-mount .lookFilled-yCfaCM.colorGrey-2iAG-B,
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background-color: rgb(40, 40, 40);
}
#app-mount .button-3Vyz67:enabled:hover,
#app-mount .button-1EGGcP.buttonColor-3bP3fX:enabled:hover,
#app-mount .button-1EGGcP .buttonColor-3bP3fX:enabled:hover,
#app-mount .lookFilled-yCfaCM.colorGrey-2iAG-B:enabled:hover,
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo:enabled:hover {
    background-color: rgb(30, 30, 30);
}
#app-mount .button-3Vyz67:hover {
    background-color: rgb(30, 30, 30);
}
#app-mount .container-2nx-BQ[style="opacity: 1; background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"] {
    background-color: rgb(40, 40, 40) !important;
}
#app-mount .colorable-3rVGna.primaryDark-2UJt1G {
    background-color: rgb(40, 40, 40);
}

/*!
  Theme: Chalk
  Author: Chris Kempson (http://chriskempson.com)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
/*
  WARNING: DO NOT EDIT THIS FILE DIRECTLY.

  This theme file was auto-generated from the Base16 scheme chalk
  by the Highlight.js Base16 template builder.

  - https://github.com/highlightjs/base16-highlightjs
*/
/*
base00  #151515  Default Background
base01  #202020  Lighter Background (Used for status bars, line number and folding marks)
base02  #303030  Selection Background
base03  #505050  Comments, Invisibles, Line Highlighting
base04  #b0b0b0  Dark Foreground (Used for status bars)
base05  #d0d0d0  Default Foreground, Caret, Delimiters, Operators
base06  #e0e0e0  Light Foreground (Not often used)
base07  #f5f5f5  Light Background (Not often used)
base08  #fb9fb1  Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
base09  #eda987  Integers, Boolean, Constants, XML Attributes, Markup Link Url
base0A  #ddb26f  Classes, Markup Bold, Search Text Background
base0B  #acc267  Strings, Inherited Class, Markup Code, Diff Inserted
base0C  #12cfc0  Support, Regular Expressions, Escape Characters, Markup Quotes
base0D  #6fc2ef  Functions, Methods, Attribute IDs, Headings
base0E  #e1a3ee  Keywords, Storage, Selector, Markup Italic, Diff Changed
base0F  #deaf8f  Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
*/
/* purposely do not highlight these things */
/* base03 - #505050 -  Comments, Invisibles, Line Highlighting */
.hljs-comment {
    color: #505050;
}

/* base04 - #b0b0b0 -  Dark Foreground (Used for status bars) */
.hljs-tag {
    color: #b0b0b0;
}

/* base05 - #d0d0d0 -  Default Foreground, Caret, Delimiters, Operators */
.hljs-subst,
.hljs-punctuation,
.hljs-operator {
    color: #d0d0d0;
}

.hljs-operator {
    opacity: 0.7;
}

/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
    color: #fb9fb1;
}

/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
    color: #eda987;
}

/* base0A - Classes, Markup Bold, Search Text Background */
.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
    color: #ddb26f;
}

.hljs-strong {
    font-weight: bold;
    color: #ddb26f;
}

/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
    color: #acc267;
}

/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
    color: #12cfc0;
}

/* base0D - Functions, Methods, Attribute IDs, Headings */
.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
    color: #6fc2ef;
}

/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
.hljs-type,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
    color: #e1a3ee;
}

.hljs-emphasis {
    color: #e1a3ee;
    font-style: italic;
}

/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
    color: #deaf8f;
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
    font-weight: bold;
}

.theme-light #app-mount::after {
    content: "This theme is NOT meant to be used in Light Mode. Please switch over to Dark Mode in Settings -> Appearance.";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 22px;
    right: 0;
    bottom: calc(100% - 58px);
    left: 72px;
    border-top-left-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    color: white;
    background-color: #ed4245;
}
.theme-light #app-mount .container-YkUktl .flex-2S1XBF .button-12Fmur:last-child {
    -webkit-animation: flash 1s ease infinite;
            animation: flash 1s ease infinite;
    color: white;
    background-color: #ed4245;
}
.theme-light #app-mount #user-settings-cog-Appearance {
    -webkit-animation: flash 1s ease infinite;
            animation: flash 1s ease infinite;
    color: white;
    background-color: #ed4245 !important;
}
.theme-light #app-mount [aria-activedescendant^=user-settings-cog-Appearance] #user-settings-cog-Appearance--dark {
    -webkit-animation: flash 1s ease infinite;
            animation: flash 1s ease infinite;
    color: white;
    background-color: #ed4245 !important;
}
.theme-light #app-mount [aria-controls=appearance-tab] {
    -webkit-animation: flash 1s ease infinite;
            animation: flash 1s ease infinite;
    color: white;
    background-color: #ed4245 !important;
}
.theme-light #app-mount [aria-label=USER_SETTINGS] [tabindex="-1"] + [class=marginTop40-Q4o1tS] .item-2idW98:nth-of-type(1) {
    -webkit-animation: flash 1s ease infinite;
            animation: flash 1s ease infinite;
    color: white;
    background-color: #ed4245 !important;
}
.theme-light #app-mount .base-2jDfDU {
    margin-top: 36px;
}
.theme-light #app-mount .sidebar-1tnWFu {
    border-radius: 0;
}

@-webkit-keyframes flash {
    0% {
        box-shadow: 0 2px 10px rgba(237, 66, 69, 0.2), 0 0 0 2px rgba(237, 65, 68, 0.1);
    }
    70% {
        box-shadow: 0 0 20px 15px rgba(237, 66, 69, 0.1), 0 0 0 6px rgba(237, 65, 68, 0.1);
    }
    100% {
        box-shadow: 0 0 20px 15px rgba(237, 66, 69, 0), 0 0 0 6px rgba(237, 65, 68, 0.1);
    }
}

@keyframes flash {
    0% {
        box-shadow: 0 2px 10px rgba(237, 66, 69, 0.2), 0 0 0 2px rgba(237, 65, 68, 0.1);
    }
    70% {
        box-shadow: 0 0 20px 15px rgba(237, 66, 69, 0.1), 0 0 0 6px rgba(237, 65, 68, 0.1);
    }
    100% {
        box-shadow: 0 0 20px 15px rgba(237, 66, 69, 0), 0 0 0 6px rgba(237, 65, 68, 0.1);
    }
}
#app-mount .scrollerBase-_bVAAt.thin-31rlnD::-webkit-scrollbar-thumb {
    background-color: var(--scroller-thumb);
}
#app-mount .scrollerBase-_bVAAt.auto-2K3UW5::-webkit-scrollbar-thumb {
    background-color: var(--scroller-thumb);
}
#app-mount .scrollerBase-_bVAAt.auto-2K3UW5::-webkit-scrollbar-track {
    background-color: var(--scroller-track);
}

.titleBar-1it3bQ.typeWindows-2-g3UY::after {
    content: "";
    position: absolute;
    pointer-events: none;
    background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="moon" class="svg-inline--fa fa-moon fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%236b6b6b" d="M279.135 512c78.756 0 150.982-35.804 198.844-94.775 28.27-34.831-2.558-85.722-46.249-77.401-82.348 15.683-158.272-47.268-158.272-130.792 0-48.424 26.06-92.292 67.434-115.836 38.745-22.05 28.999-80.788-15.022-88.919A257.936 257.936 0 0 0 279.135 0c-141.36 0-256 114.575-256 256 0 141.36 114.576 256 256 256zm0-464c12.985 0 25.689 1.201 38.016 3.478-54.76 31.163-91.693 90.042-91.693 157.554 0 113.848 103.641 199.2 215.252 177.944C402.574 433.964 344.366 464 279.135 464c-114.875 0-208-93.125-208-208s93.125-208 208-208z"></path></svg>') center/100% no-repeat;
    width: 16px;
    height: 16px;
    left: 5px;
    top: 4px;
}
.titleBar-1it3bQ .wordmarkWindows-2dq6rw {
    margin-left: 13px;
    color: #6b6b6b;
}

#app-mount .callContainer-HtHELf .tile-2TcwiO {
    background-color: var(--background-secondary);
}

#app-mount .container-3wLKDe {
    background-color: var(--background-primary);
}
#app-mount .container-3wLKDe .mainCard-3KBsBI,
#app-mount .container-3wLKDe .container-3arpDl,
#app-mount .container-3wLKDe .container-2nXUah,
#app-mount .container-3wLKDe .container-2_J666 {
    background-color: var(--background-tertiary);
}
#app-mount .container-3wLKDe .container-2qVG6q:active {
    background-color: var(--background-modifier-active);
}
#app-mount .container-3wLKDe .tagFiltered-1YWPlr,
#app-mount .container-3wLKDe .pill-3pRQlO.clickable-3YTfAq:not(.disabled-3Rezaw):hover {
    background-color: var(--background-modifier-hover);
}

#app-mount .background-fkKrXt {
    background-color: var(--background-primary);
}
#app-mount .background-fkKrXt .card-3x20HF,
#app-mount .background-fkKrXt .container-2Hi7Km,
#app-mount .background-fkKrXt .container-xwOzwi,
#app-mount .background-fkKrXt .container-3rZ3XA,
#app-mount .background-fkKrXt .wrapper-15CKyy {
    background-color: var(--background-tertiary);
}
#app-mount .background-fkKrXt .icon-2IDTxf {
    border-color: var(--background-tertiary);
}
#app-mount .background-fkKrXt .emptyStateContainer-xWOMPJ,
#app-mount .background-fkKrXt .container-4HqGB3.background-3X6Uak,
#app-mount .background-fkKrXt .previewContainer-3BJM_S {
    background-color: var(--background-secondary);
}
#app-mount .background-fkKrXt .iconContainer-2R-3M1,
#app-mount .background-fkKrXt .moreUsers-_v6T-L,
#app-mount .background-fkKrXt .typingIndicator-KF8hGa {
    background-color: var(--background-primary);
}
#app-mount .background-fkKrXt .container-3HMTms:hover {
    background-color: var(--background-modifier-hover);
}
@media (max-width: 1300px) {
    #app-mount .background-fkKrXt .container-xwOzwi,
#app-mount .background-fkKrXt .container-3rZ3XA {
        background-color: var(--background-primary);
    }
    #app-mount .background-fkKrXt .container-3HMTms,
#app-mount .background-fkKrXt .container-3HMTms:hover,
#app-mount .background-fkKrXt .iconContainer-2R-3M1 {
        background-color: var(--background-tertiary);
    }
}
#app-mount .background-fkKrXt .headerBarInner-2pcZSM::after {
    background: unset;
}

#app-mount .container-2o3qEW,
#app-mount .member-48YF_l,
#app-mount .members-3WRCEx {
    background-color: var(--background-primary);
}

#app-mount .messageListItem-ZZ7v6g:hover {
    background-color: rgba(255, 255, 255, 0.03);
}
#app-mount .wrapperAudio-1Bzv_Z .mediaBarWrapper-33h1oY,
#app-mount .wrapperAudio-1Bzv_Z .mediaBarWrapper-33h1oY:after,
#app-mount .wrapperAudio-1Bzv_Z .mediaBarWrapper-33h1oY:before {
    background-color: var(--background-secondary);
}
#app-mount .wrapperAudio-1Bzv_Z .buffer-3eVqKK,
#app-mount .wrapperAudio-1Bzv_Z .buffer-3eVqKK:after,
#app-mount .wrapperAudio-1Bzv_Z .buffer-3eVqKK:before {
    background-color: #3a3a3a !important;
}
#app-mount .guildIconImage-74OdmM {
    background-color: var(--background-secondary);
}
#app-mount .wrapper-2vIMkT {
    background-color: var(--background-secondary);
}
#app-mount .upload-vLbqu- {
    background-color: var(--background-secondary-alt);
}

#app-mount .container-cH6QoY .callContainer-BGIngG,
#app-mount .container-cH6QoY .scroller-35tvpe,
#app-mount .container-cH6QoY .container-3r7mfc,
#app-mount .container-cH6QoY .participants-3hk3ND,
#app-mount .container-cH6QoY .rowContainer-jDvyA4 {
    background-color: var(--background-primary);
}
#app-mount .container-cH6QoY .tileContainer-Os085F {
    background-color: var(--background-primary);
}
#app-mount .container-cH6QoY .tileContainer-Os085F:hover {
    background-color: var(--background-secondary-alt);
}
#app-mount .container-cH6QoY .divider-vv_iHh,
#app-mount .container-cH6QoY .separator-3FDGQ4 {
    background-color: var(--background-secondary);
    border-color: var(--background-secondary);
}
#app-mount .container-cH6QoY .container-1IyjjY {
    background-color: var(--background-secondary);
}
#app-mount .container-cH6QoY .container-1IyjjY:hover {
    background-color: var(--background-tertiary);
}
#app-mount .container-cH6QoY .iconBackground-3qSXiM {
    background-color: var(--background-secondary-alt);
}

#app-mount .container-1RZJZM .channelTextAreaInner-ITp5kW {
    background-color: var(--input-background);
}

#app-mount .folder-241Joy .folderIconWrapper-1oRIZr:hover {
    background-color: var(--background-secondary-alt);
}
#app-mount .folder-241Joy .noIcon-3gSX9V {
    background-color: var(--background-secondary-alt);
}

.wrapper-1_HaEi .childWrapper-1j_1ub,
.wrapper-1_HaEi [class=circleIconButton-1VxDrg] {
    background-color: var(--background-secondary-alt);
}

#app-mount .directoryModal-YJsOMv {
    background-color: var(--background-primary);
}

#app-mount .keyboardShortcutsModal-2CRmCm {
    background-color: var(--background-secondary);
}
#app-mount .keybindShortcut-3zF1P9 span {
    box-shadow: inset 0 -4px 0 var(--background-tertiary);
    border-color: var(--background-tertiary);
    background-color: var(--background-secondary-alt);
}

#app-mount .root-g14mjS {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--background-secondary);
}
#app-mount .root-g14mjS.carouselModal-1eUFoq {
    box-shadow: none;
    background-color: transparent;
}
#app-mount .root-g14mjS .footer-31IekZ,
#app-mount .root-g14mjS .footer-3Gu_Tl,
#app-mount .root-g14mjS .footer-VCsJQY {
    box-shadow: none;
    background-color: var(--background-tertiary);
}
#app-mount .root-g14mjS .footer-1hTRRZ {
    background-color: var(--background-secondary);
}
#app-mount .root-g14mjS .input-3r5zZY {
    background-color: var(--input-background);
}
#app-mount .root-g14mjS .scroller-2GkvCq {
    background-color: var(--background-secondary-alt);
}
#app-mount .root-g14mjS .reactionSelected-1aMb2K {
    background-color: var(--background-modifier-selected);
}
#app-mount .root-g14mjS .container-KM8BU6,
#app-mount .root-g14mjS .reactors-1VXca7 {
    background-color: var(--background-secondary);
}
#app-mount .root-g14mjS .reactorDefault-3GSyaV {
    box-shadow: inset 0 -1px 0 var(--background-secondary-alt);
}
#app-mount .root-g14mjS .item-2OyinQ,
#app-mount .root-g14mjS .qualitySettingsContainer-2LjkfM {
    border-color: var(--background-tertiary);
}
#app-mount .root-g14mjS .card-m7VgZ8,
#app-mount .root-g14mjS .item-2OyinQ:not(.selectorButtonSelected-3cQUnj, .selectorButtonSelected-1VZ6hz) {
    background-color: var(--background-secondary-alt);
}
#app-mount .root-g14mjS .message-G6O-Wv {
    box-shadow: none;
    background-color: var(--background-tertiary);
}
#app-mount .root-g14mjS .optionContainer-yOpaLq {
    background-color: var(--background-tertiary);
}
#app-mount .root-g14mjS .optionContainer-yOpaLq:hover {
    background-color: var(--background-primary);
}
#app-mount .root-g14mjS .previewLight-IOzFhi {
    display: none;
}
#app-mount .root-g14mjS .previewDark-3Xp3UB {
    background-color: var(--background-secondary);
}
#app-mount .root-g14mjS .perks-2IIbWQ {
    background-color: var(--background-secondary-alt);
}
#app-mount .root-g14mjS .eventCard-2ZL9GD,
#app-mount .root-g14mjS .childButton-3o_dlg {
    background-color: var(--background-tertiary);
}
#app-mount .root-g14mjS .eventCard-2ZL9GD:hover,
#app-mount .root-g14mjS .childButton-3o_dlg:hover {
    background-color: var(--background-primary);
}
#app-mount .root-g14mjS .contentContainer-BWAau5 {
    background-color: var(--background-secondary);
}
#app-mount .root-g14mjS .container-3zZkKh,
#app-mount .root-g14mjS .rsvpCount-iCkObl {
    background-color: var(--background-secondary-alt);
}
#app-mount .root-g14mjS .sidebarContainer-gUKhtL {
    background-color: var(--background-secondary-alt);
}
#app-mount .root-g14mjS .contentWrapper-3oy4Xo {
    background-color: var(--background-secondary);
}
#app-mount .root-g14mjS .root-cw9rWQ {
    background-color: var(--background-secondary-alt);
}
#app-mount .root-g14mjS .modal-2TOYtq {
    background-color: var(--background-secondary);
}
#app-mount .root-g14mjS .formFieldWrapper-2LV3S6,
#app-mount .root-g14mjS .guildSidebar-UHnQqs {
    background-color: var(--background-secondary-alt);
}
#app-mount .root-g14mjS .authBox-1HR6Ha {
    background-color: var(--background-secondary);
}
#app-mount .root-g14mjS .list-3-WAYB {
    background-color: var(--background-secondary-alt);
}
#app-mount .root-g14mjS .navRow-dG-XX8 {
    background-color: var(--background-tertiary);
}
#app-mount .root-g14mjS .inviteBannerUpsell-1t_LYM {
    background-color: var(--background-secondary-alt);
}
#app-mount .root-g14mjS .ctaSection-3LqbxQ {
    background-color: var(--background-secondary-alt);
}
#app-mount .root-g14mjS .formSection-23ecNl {
    background-color: var(--background-secondary);
}
#app-mount .root-g14mjS .usagePill-P-Cmcv {
    background-color: var(--background-secondary);
}
#app-mount .root-g14mjS .channelsWrapper-51IUFR,
#app-mount .root-g14mjS .rolesWrapper-1LLZrU {
    background-color: var(--background-secondary-alt);
}
#app-mount .root-g14mjS .authorize-2xTTr- {
    background-color: var(--background-secondary);
}

#app-mount .root-g14mjS .container-x8Y1ix,
#app-mount .root-g14mjS .guildRow-3fJnG6 {
    background-color: var(--background-secondary);
}
#app-mount .root-g14mjS .container-x8Y1ix:hover,
#app-mount .root-g14mjS .guildRow-3fJnG6:hover {
    background-color: var(--background-tertiary);
}
#app-mount .root-g14mjS .rowContainer-3t7486 {
    background-color: var(--background-tertiary);
}
#app-mount .root-g14mjS .rowContainer-3t7486:hover {
    background-color: var(--background-primary);
}
#app-mount .root-g14mjS .lookLink-15mFoz.colorPrimary-2AuQVo,
#app-mount .root-g14mjS .lookBlank-21BCro {
    color: var(--header-primary);
}
#app-mount .root-g14mjS .formTitle-2YQyhj {
    color: var(--header-primary);
}
#app-mount .root-g14mjS .sampleLink-5BWNy9 {
    color: var(--text-muted);
}

#app-mount .perksModal-CLcR1c {
    background-color: var(--background-primary);
}
#app-mount .perksModal-CLcR1c .tierMarkerBackground-G8FoN4 {
    background-color: var(--background-primary);
}
#app-mount .perksModal-CLcR1c .tierHeaderLocked-3ItHYn {
    background-color: var(--background-tertiary);
}
#app-mount .perksModal-CLcR1c .tierBody-3ju-rc {
    background-color: var(--background-secondary);
}
#app-mount .perksModal-CLcR1c .perk-19D_HN {
    background-color: var(--background-secondary-alt);
}

#app-mount .pageWrapper-2PwDoS {
    background-color: var(--background-primary);
}
#app-mount .pageWrapper-2PwDoS .searchBox-pyIJJj:not(.searchBox-31Zv9h) {
    background-color: var(--background-secondary);
}

#app-mount .container-2cd8Mz {
    background-color: var(--background-primary);
}
#app-mount .container-2cd8Mz .container-2oNtJn {
    background-color: var(--background-secondary);
}
#app-mount .container-2cd8Mz .wrapper-2RrXDg {
    background-color: var(--background-tertiary);
}
#app-mount .container-2cd8Mz .wrapper-2RrXDg:hover {
    background-color: var(--background-secondary);
}
#app-mount .container-2cd8Mz .wrapper-2RrXDg:hover .section-3G9aLW {
    background-color: var(--background-tertiary);
}
#app-mount .container-2cd8Mz .peopleListItem-u6dGxF:hover {
    background-color: var(--background-tertiary);
}
#app-mount .container-2cd8Mz .peopleListItem-u6dGxF:hover .actionButton-3-B2x- {
    background-color: var(--background-primary);
}
#app-mount .container-2cd8Mz .addFriendInputWrapper-kkoSV9 {
    background-color: var(--background-secondary);
}

#app-mount .defaultIndicator-1AxErs {
    background-color: var(--background-accent);
}
#app-mount .installationPath-2PbaRC {
    box-shadow: 0 1px 0 0 var(--background-secondary);
}
#app-mount .hiddenLibraryApplication-lfw1ab {
    border-bottom-color: var(--background-secondary);
}
#app-mount .hiddenLibraryApplication-lfw1ab::before {
    border-color: var(--background-secondary);
    background-color: var(--background-secondary);
}

#app-mount .feature-2IUcBI {
    background-color: var(--background-secondary);
}

#app-mount .autocomplete-3NRXG8 {
    background-color: var(--background-secondary);
}
#app-mount .autocomplete-3NRXG8 .selected-3H3-RC {
    background-color: var(--background-secondary-alt);
}
#app-mount .autocomplete-3NRXG8 .categoryHeader-OpJ1Ly {
    background-color: var(--background-secondary);
}
#app-mount .autocomplete-3NRXG8 .wrapper-3z7DuG,
#app-mount .autocomplete-3NRXG8 .wrapper-22rqw6 {
    background-color: var(--background-tertiary);
}
#app-mount .autocomplete-3NRXG8 .selected-3B2w1z,
#app-mount .autocomplete-3NRXG8 .selected-3B2w1z:hover {
    background-color: var(--background-secondary-alt);
}

#app-mount .contentWrapper-3vHNP2,
#app-mount .emojiPicker-6YCk8a {
    background-color: var(--background-tertiary);
}
#app-mount .contentWrapper-3vHNP2 .wrapper-1NNaWG,
#app-mount .emojiPicker-6YCk8a .wrapper-1NNaWG {
    background-color: var(--background-tertiary);
}
#app-mount .contentWrapper-3vHNP2 .categoryItemDefaultCategorySelected-2YeRUu,
#app-mount .contentWrapper-3vHNP2 .stickerCategoryGenericSelected-DnO2K8,
#app-mount .contentWrapper-3vHNP2 .categoryItemDefaultCategorySelected-2YeRUu:hover,
#app-mount .contentWrapper-3vHNP2 .stickerCategoryGenericSelected-DnO2K8:hover,
#app-mount .contentWrapper-3vHNP2 .stickerCategoryGeneric-29JiZ2:hover,
#app-mount .emojiPicker-6YCk8a .categoryItemDefaultCategorySelected-2YeRUu,
#app-mount .emojiPicker-6YCk8a .stickerCategoryGenericSelected-DnO2K8,
#app-mount .emojiPicker-6YCk8a .categoryItemDefaultCategorySelected-2YeRUu:hover,
#app-mount .emojiPicker-6YCk8a .stickerCategoryGenericSelected-DnO2K8:hover,
#app-mount .emojiPicker-6YCk8a .stickerCategoryGeneric-29JiZ2:hover {
    background-color: var(--background-secondary-alt);
}
#app-mount .contentWrapper-3vHNP2 .inspector-DFKXwB,
#app-mount .emojiPicker-6YCk8a .inspector-DFKXwB {
    background-color: var(--background-secondary-alt);
}
#app-mount .contentWrapper-3vHNP2 .navButtonActive-1EqC5l,
#app-mount .emojiPicker-6YCk8a .navButtonActive-1EqC5l {
    background-color: var(--background-modifier-selected);
}
#app-mount .contentWrapper-3vHNP2 .container-2oNtJn,
#app-mount .contentWrapper-3vHNP2 .container-1SX9VC,
#app-mount .emojiPicker-6YCk8a .container-2oNtJn,
#app-mount .emojiPicker-6YCk8a .container-1SX9VC {
    background-color: var(--background-secondary);
}
#app-mount .contentWrapper-3vHNP2 .upsell-3B1lnN,
#app-mount .emojiPicker-6YCk8a .upsell-3B1lnN {
    background-color: var(--background-secondary);
}
#app-mount .wrapper-22rqw6 {
    background-color: var(--background-secondary);
}

#app-mount .tertiary-1e-lAP,
#app-mount .primary-38Hs-h:hover:not(.disabled-184-il),
#app-mount .secondary-2bzKEX {
    background-color: var(--background-secondary-alt);
}
#app-mount .tertiary-1e-lAP:hover,
#app-mount .primary-38Hs-h:hover:not(.disabled-184-il):hover,
#app-mount .secondary-2bzKEX:hover {
    background-color: var(--background-primary);
}
#app-mount .messageContainer-3VTXBC,
#app-mount .messages-23can0 {
    background-color: var(--background-secondary-alt);
}
#app-mount .messages-23can0 .content-3spvdd {
    background-color: var(--background-secondary-alt);
}
#app-mount .tutorialIcon-25VF3Q {
    background-color: var(--background-secondary-alt);
}
#app-mount .icon-2yhmi8 {
    background-color: var(--background-secondary-alt);
}

#app-mount .messageGroupWrapper-1jf_7C {
    background-color: var(--background-secondary-alt);
}

#app-mount .layer-2aCOJ3 .header-1w9Q93 + div {
    background-color: var(--background-secondary);
}
#app-mount .layer-2aCOJ3 .tab-TRrPC8.active-1grPyy {
    background-color: var(--background-modifier-selected);
}
#app-mount .popout-1KHNAq {
    background-color: var(--background-secondary-alt);
}
#app-mount .overflowRolesPopout-1Puiuq {
    background-color: var(--background-tertiary);
}
#app-mount .container-2rzKKA {
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
}
#app-mount .container-2rzKKA:hover {
    border-color: var(--background-secondary);
}
#app-mount .notches-2w7UZJ.black-11MaxJ {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='rgb(12, 12, 12)'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E");
}
#app-mount .colorPickerCustom-1swUKF {
    background-color: var(--background-secondary);
    border-color: var(--background-secondary-alt);
}
#app-mount .tooltipGrey-lpLZjh {
    background-color: var(--background-secondary);
}
#app-mount .tooltipGrey-lpLZjh .tooltipPointer-3L49xb {
    border-top-color: var(--background-secondary);
}

#app-mount .searchResult-O9NDji {
    background-color: var(--background-secondary-alt);
}
#app-mount .button-cfOvv- {
    background-color: var(--background-secondary);
}
#app-mount .searchAnswer-23w-CH,
#app-mount .searchFilter-2UfsDk {
    background-color: var(--background-secondary-alt);
}
#app-mount .container-2McqkF {
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--background-tertiary);
}
#app-mount .container-2McqkF .focused-2FU0YH {
    background-color: var(--background-tertiary);
}
#app-mount .container-2McqkF .option-ayUoaq::after {
    background: none;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker,
#app-mount .calendarPicker-sDhzdi .react-datepicker__header {
    background-color: var(--background-tertiary);
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next,
#app-mount .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous {
    background-color: var(--background-secondary);
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day--disabled,
#app-mount .calendarPicker-sDhzdi .react-datepicker__day--outside-month,
#app-mount .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled,
#app-mount .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: var(--background-secondary);
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day,
#app-mount .calendarPicker-sDhzdi .react-datepicker__day:last-of-type {
    border-color: var(--background-secondary-alt);
}

#app-mount .userPopout-2j1gM4 {
    background-color: var(--background-tertiary);
}
#app-mount .userPopout-2j1gM4 .avatar-2Vndt_ {
    border-color: var(--background-tertiary);
    background-color: var(--background-tertiary);
}
#app-mount .userPopout-2j1gM4 .bodyInnerWrapper-2bQs1k,
#app-mount .userPopout-2j1gM4 .footer-3naVBw {
    background-color: var(--background-tertiary);
}
#app-mount .userPopout-2j1gM4 .input-2z42oC {
    background-color: var(--background-secondary);
}

#app-mount .container-1NXEtd .selected-1GtAC5 .header-3OsQeK,
#app-mount .container-1NXEtd .header-3OsQeK:hover {
    background-color: var(--background-secondary);
}
#app-mount .container-1NXEtd .hasBanner-2IrYih .header-3OsQeK {
    background-color: transparent;
}
#app-mount .container-1NXEtd .channelNotice-K4UfZY {
    border-color: var(--background-secondary);
}
#app-mount .container-1NXEtd .audienceVoiceUserIconContainer-1aQGLF {
    background-color: var(--background-secondary);
}
#app-mount .container-1NXEtd .wrapper-2fEmwW .users-2JoyGL {
    background-color: var(--background-secondary-alt);
}
#app-mount .container-1NXEtd .wrapper-2fEmwW .total-1c5KCN {
    background-color: var(--background-secondary);
}
#app-mount .container-1NXEtd .wrapper-2fEmwW .total-1c5KCN::after {
    border-right-color: var(--background-secondary);
}

#app-mount .scroller-WSmht3 {
    background-color: var(--background-primary);
}

#app-mount .content-1SgpWY .sidebar-1tnWFu {
    background-color: var(--background-primary);
}
#app-mount .content-1SgpWY .sidebar-1tnWFu > nav {
    background-color: var(--background-primary);
}

#app-mount .panels-3wFtMD {
    background-color: var(--background-primary);
}