/**
    * @name AMOLED-Cord
    * @version 1.1.1
    * @description A theme that's nice on your eyes.. lights out baby!
    * @author LuckFire#4800
    *
    * @website https://github.com/LuckFire
    * @source https://github.com/LuckFire/amoled-cord/tree/main/src
**/

@import url('https://luckfire.github.io/amoled-cord/src/support/betterdiscord/compiled.css');

:root {
    /* --------- BASE THEME --------- */
    --blurple-replace: #7289DA;
    --background-primary: rgb(8, 8, 8);
    --background-secondary: rgb(5, 5, 5);
    --background-secondary-alt: rgb(15, 15, 15);
    --background-tertiary: black;
    --background-accent: rgb(15, 15, 15);
    --background-floating: black;
    --userarea-background: var(--background-tertiary);
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --elevation-low: 0 1px 0 rgba(40, 40, 50, 0.2), 0 1.5px 0 rgba(60, 60, 70, 0.05), 0 2px 0 rgba(40, 40, 50, 0.05);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --channels-default: #969696;
    --channeltextarea-background: rgb(25, 25, 25);
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --activity-card-background: #0f0f0f;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: rgb(75, 75, 75);
    --background-modifier-hover: rgba(50, 50, 50, 0.16);
    --background-modifier-active: rgba(50, 50, 50, 0.24);
    --background-modifier-selected: rgba(50, 50, 50, 0.32);
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
    --text-link: #00b0f4;
    --text-normal: #dcddde;
    --text-muted: #969696;
    --deprecated-panel-background: #292b2f;
    --deprecated-card-bg: rgba(32, 34, 37, 0.6);
    --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
    --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
    --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
    --background-accent-1: rgb(15, 15, 15, 0.1);
    --background-accent-3: rgb(15, 15, 15, 0.3);
    --background-floating-2: rgba(0, 0, 0, 0.2);
}
