.expandedFolderBackground-3ZDF05 {
    background-color: var(--background-light);
}
.folder-2w6LX1 {
    background-color: var(--background-light);
    &.hover-vBJrIv {
        background-color: var(--background-light-alt);
    }
}