.wrapper-3NnKdC {
    background-color: var(--background-dark);
    .scroller-1Bvpku {
        background-color: var(--background-dark);
        
    }
    .childWrapper-anI2G9,
    [class="circleIconButton-hZmpE8"],
    .noIcon-1a_FrS {
        background-color: var(--background-light-alt);
    }
}