// I organize everything based on how I did stuff in order.
// It should be noted that some elements are used in other areas in settings,
// but I'm not sure which ones and I'm too lazy to really dig into it.

.theme-midnight {
    ._23e6b439306f125a-contentRegion,
    ._23e6b439306f125a-contentRegionScroller {
        background: var(--background-base-lowest);
    }

    // V2
    .e9e3ed8b8badfe05-content,
    ._409aa1aeee28d5f7-sidebar,
    .e9e3ed8b8badfe05-contentHeader {
        background-color: var(--background-base-lowest);
    }
    ._409aa1aeee28d5f7-fixedContent:after {
        background: linear-gradient(to bottom, var(--background-base-lowest), transparent);
    }

    // User Settings --> My Account
    ._1fed1dd06c7aabf7-accountProfileCard {
        background-color: var(--background-base-low);
        border: 1px solid var(--border-subtle);

        ._1fed1dd06c7aabf7-background {
            border: 1px solid var(--border-subtle);
            background-color: var(--background-base-lowest);
            ._1fed1dd06c7aabf7-fieldList {
                background-color: var(--background-base-lowest);
            }
        }
    }

    // User Settings --> Content & Social
    .de806995aea91de8-emptyContainer {
        border: 1px solid var(--border-muted);
        background-color: var(--background-base-low);
    }
    ._5cea9da4c2ca012f-card {
        border: 1px solid var(--border-muted);

        ._5cea9da4c2ca012f-header {
            border-bottom: 1px solid var(--border-muted);
            background-color: var(--background-base-low);
        }
    }

    // User Settings --> Family Center
    .f8c98cc3d7c1bc42-box {
        border-color: var(--border-muted);
        background-color: var(--background-base-low);
    }

    // User Settings --> Authorized Apps
    ._50a5493e9d9cc496-headerV2 {
        border-bottom: 1px solid var(--border-muted);
        background-color: var(--background-base-low);
    }
    ._50a5493e9d9cc496-authedAppV2 {
        border: 1px solid var(--border-muted);
        background-color: var(--background-base-lower);
    }

    // User Settings --> Connections
    .c7f964e7e0fc8b47-connection {
        border: 1px solid var(--border-muted);
        background-color: var(--background-base-low);

        .c7f964e7e0fc8b47-metadataContainer,
        .c7f964e7e0fc8b47-integrationWrapper {
            border: 1px solid var(--border-muted);
            background-color: var(--background-base-lowest);
        }
    }

    // User Settings --> Nitro
    .a61c561e7be40d05-expandedProgressBarContainerSettingsPage,
    .a45ed3bc8a11b547-giftCard {
        border: 1px solid var(--border-muted);
        background-color: var(--background-base-low);
    }
    .b62c4e4ee0e62730-perkCard {
        border: 1px solid var(--border-muted);
        background-color: var(--background-base-low);
    }
    .e4ef5cb9eb007591-rowBottomBorder {
        border-color: var(--border-subtle);
    }

    // User Settings --> Server Boost
    .ceb06aa49ba836f9-appliedBoostContainer {
        border: 1px solid var(--border-muted);
        background-color: var(--background-base-low);

        .ceb06aa49ba836f9-boostContainerSeparator {
            background-color: var(--border-subtle);
        }

        .ceb06aa49ba836f9-boostContainer {
            background-color: var(--background-base-low);
        }

        ._5dba5003598d9c70-guildContainer:not(._5153730f0c7cf20d-recommendedServerCard) {
            border-bottom: 1px solid var(--border-muted);
        }
    }
    ._8e08ce7f1f1b7f5a-wave {
        fill: var(--background-base-lowest);
    }
    ._5dba5003598d9c70-guildContainer {
        background-color: var(--background-base-low);
        &._5153730f0c7cf20d-recommendedServerCard {
            border: 1px solid var(--border-muted);
        }
    }
    ._5b98ee5ec86ed598-wrapper {
        border: 1px solid var(--border-muted);
        background-color: var(--background-base-low);

        ._5b98ee5ec86ed598-list {
            border-color: var(--border-subtle);
        }
        ._5b98ee5ec86ed598-listItem {
            border-color: var(--border-subtle);
        }
    }

    // User Settings --> Subscriptions
    .e335a78803b4d1df-detailsBlock {
        border: 1px solid var(--border-muted);
        background-color: var(--background-base-low);
    }
    ._94f72ca8df533a71-accountCreditsContainer ._94f72ca8df533a71-accountCreditRow:not(:last-child) {
        border-bottom: 1px solid var(--border-muted);
    }
    ._94f72ca8df533a71-fractionalPremiumAccountCredit,
    ._94f72ca8df533a71-premiumSubscriptionAccountCredit {
        border: 1px solid var(--border-muted);
        background-color: var(--background-base-low);
    }
    ._94f72ca8df533a71-fractionalTimeRemainingRow {
        background-color: var(--background-base-lower);
    }

    // User Settings --> Billing
    ._01014d2e38bd7c76-paymentPane {
        background-color: var(--background-base-low);

        .e9cb00d6250845ad-payment {
            background-color: var(--background-base-low);
        }

        .e9cb00d6250845ad-expandedInfo {
            background-color: var(--background-base-lowest);
        }
    }

    // User Settings --> Appearance
    ._3e443c6b2569044a-preview {
        background-color: var(--background-base-lowest);
    }
    .a1d343a407a39907-container {
        background-color: var(--background-base-low);
        border: 1px solid var(--border-subtle);
    }

    // User Settings --> Accessibility
    ._5d148ffac19e7fb1-preview {
        background-color: var(--background-base-lowest);
    }

    // User Settings --> Voice & Video
    ._062838a9530acec0-notches._062838a9530acec0-gray {
        color: var(--background-base-lowest);
    }
    ._062838a9530acec0-progress {
        background-color: var(--background-surface-highest);
    }
    .ac7648c9bd968881-sliderBar:not(.ac7648c9bd968881-speaking) {
        background-color: var(--background-surface-highest);
    }
    ._11e1f74ed34823b2-cameraWrapper {
        background-color: var(--background-base-low);
        border-color: var(--border-subtle);
    }
    ._53965a42989baf13-backgroundOptionInner {
        background-color: var(--background-base-low);
    }

    // User Settings --> Keybinds
    ._740f25428e5fa983-defaultKeybindGroup {
        background-color: var(--background-base-low);
    }

    // User Settings --> Activity Privacy
    ._7db089e5a4993141-headerContainer {
        background-color: var(--background-base-lowest);
    }

    // User Settings --> Registered Games
    .cc46f0f859f26200-notDetected {
        background-color: var(--background-surface-high);
        border: 1px solid var(--border-subtle);
    }
    .cc46f0f859f26200-game {
        background-color: var(--background-base-low);
        border: 1px solid var(--border-subtle);
    }

    // Guild Settings --> Boost Perks
    .e0450273efe6a4b3-avatarUploaderInnerSquareDisabled {
        background-color: var(--background-surface-high);
    }

    // Guild Settings --> Stickers
    ._83b1d7042b9be375-wrapper {
        background-color: var(--background-surface-high);
        &:focus-within,
        &:hover {
            background-color: var(--background-mod-subtle);
        }
    }

    // Guild Settings --> Roles
    .e29cd7b93c4f1266-titleContainer,
    .c6bf1b7af480dfda-header {
        background-color: var(--background-base-lowest);
    }
    .theme-midnight._981c8ddc53ff5825-messageWrapper {
        background-color: var(--background-base-lowest);
    }

    // Guild Settings --> Access
    ._959cbfbb20fb39e8-joinOptions {
        background-color: var(--background-base-low);
        ._959cbfbb20fb39e8-joinOptionContent {
            &._959cbfbb20fb39e8-uninteractive:hover {
                background-color: var(--background-base-low);
            }
            &._959cbfbb20fb39e8-active {
                background-color: var(--background-surface-high);
            }
        }
    }
    ._99871ef1d8f8adaa-header {
        background-color: var(--background-base-low);
        border-bottom: 1px solid var(--border-muted);
    }
    ._99871ef1d8f8adaa-container {
        background-color: var(--background-base-lower);
    }

    // Guild Settings --> Safety Setup
    ._6446fb2bd9a3c2e5-actionContainer,
    .ed9c90c31c2038a5-mentionLimitContainer {
        background-color: var(--background-surface-higher);
    }
    .bc45130a46a61b36-actionContainer {
        background-color: var(--background-surface-highest);
    }
    .a25a68d7be1be409-editCard {
        background-color: var(--background-base-low);
    }
    ._217b73c8e5e3ff6d-collapseable:is(._4546e2b07bad4954-collapseable, .fc46b1ccaa4b79c5-collapseable) {
        background-color: var(--background-surface-high);
    }

    // Guild Settings --> Onboarding
    .a9b45282395ecdfc-notice,
    .a9b45282395ecdfc-review {
        background-color: var(--background-base-low);
        border: 1px solid var(--border-subtle);
    }
    ._28e57b0268546d72-onboardingStepContainer {
        border-left: 1px solid var(--border-subtle);
        border-right: 1px solid var(--border-subtle);
        &:last-child {
            border-bottom: 1px solid var(--border-subtle);
        }
    }
    ._5d75644e264790f5-container {
        border: 1px solid var(--border-subtle);
    }
    ._5d75644e264790f5-example {
        background-color: var(--background-surface-high);
    }
    .e348504a04b3195e-channelCoverage {
        background-color: var(--background-base-low);
    }
    .d2b0e4d0195c7d48-actionItem,
    .d2b0e4d0195c7d48-resourceChannel,
    .d2b0e4d0195c7d48-suggestedChannels {
        background-color: var(--background-base-low);
    }

    // Guild Settings --> Enable Monetization
    .dd30dca4d268da6e-howItWorksContainer,
    ._02e4c53e15067b10-creatorBenefitCard,
    ._2485e7bec1c79566-guildCard {
        border: 1px solid var(--border-muted);
        background-color: var(--background-surface-high);
    }

    // Guild Settings --> Server Template
    ._981f723644a1a061-descriptionBox {
        border: 1px solid var(--border-subtle);
        background-color: var(--background-base-low);
    }

    // Channel Settings --> Permissions
    ._1a4ef2934d882343-settingCard {
        border: 1px solid var(--border-subtle);
        &._1a4ef2934d882343-active {
            background-color: var(--background-base-low);
        }
    }
    ._1a4ef2934d882343-cardFolder:not(:empty) {
        border-top: 1px solid var(--border-subtle);
    }
    ._535437b3d3b11fd1-scroller {
        background-color: var(--background-base-lowest);
    }
}