:is(.theme-dark, .theme-midnight) #app-mount .layers__960e4 {
    // Overview
    .avatarUploaderInnerSquareDisabled_e04502 {
        background-color: var(--background-secondary-alt);
    }
    // Stickers
    .background_c44edb {
        color: var(--background-secondary-alt);
    }
    // Custom Invite Link
    .prefixInput__9d137 {
        background-color: hsl(var(--primary-700-hsl)/0.2);
    }
    // Safety Setup
    .backgroundContainer_eaaeee {
        background-color: var(--background-secondary-alt);
    }
    .containerFooter_eaaeee {
        background-color: var(--background-secondary);
    }
    .iconWrapper__96f95 {
        background: var(--button-secondary-background);
        .icon__96f95:hover {
            background: var(--button-secondary-background-hover);
            &.disabled__96f95 {
                background: var(--button-secondary-background-disabled);
            }
        }
    }
    // Audit Log
    .auditLog__43dab {
        border-color: var(--background-secondary);
        .headerDefault__43dab,
        .headerClickable__43dab {
            background-color: hsl(var(--primary-660-hsl)/0.3);
        }
        .headerExpanded__43dab {
            background-color: hsl(var(--primary-660-hsl)/0.5);
        }
        .divider__43dab {
            background-color: var(--background-modifier-accent);
        }
        .changeDetails__43dab {
            background-color: hsl(var(--primary-660-hsl)/0.3);
        }
    }
    // Server Boost Status
    .tierBody_f15dca {
        background-color: var(--background-secondary-alt);
    }
}