:is(.theme-dark, .theme-amoled) #app-mount .layers__1c917 {
    // Overview
    .avatarUploaderInnerSquareDisabled__3cfd1 {
        background-color: var(--background-secondary-alt);
    }
    // Stickers
    .tierHeaderContent__27033 {
        background-color: var(--background-secondary);
    }
    // Custom Invite Link
    .prefixInput__38dcc {
        background-color: var(--input-background);
    }
    // Rules Screening
    .backgroundContainer__06189 {
        background-color: var(--background-secondary-alt);
    }
    .containerFooter_c8da8a {
        background-color: var(--background-secondary);
    }
    // Automod
    .iconWrapper__9caa9 {
        background: var(--button-secondary-background);
        .icon_ae3492:hover {
            background: var(--button-secondary-background-hover);
            &.disabled_d58a9f {
                background: var(--button-secondary-background-disabled);
            }
        }
    }
    // Audit Log
    .auditLog__6c805 {
        border-color: var(--background-secondary);
        .header_e08fd2 {
            background-color: var(--background-secondary);
        }
        .headerExpanded__03c29 {
            background-color: var(--background-secondary-alt);
        }
        .divider__1505d {
            background-color: var(--background-modifier-accent);
        }
        .changeDetails_ecd760 {
            background-color: var(--background-secondary);
        }
    }
    // Server Boost Status
    .tierBody__615a1 {
        background-color: var(--background-secondary-alt);
    }
}