:is(.theme-dark, .theme-midnight) #app-mount .layers__1c917 {
    // Overview
    .avatarUploaderInnerSquareDisabled__2abd0 {
        background-color: var(--background-secondary-alt);
    }
    // Stickers
    .tierHeaderContent__3351e {
        background-color: var(--background-secondary);
    }
    // Custom Invite Link
    .prefixInput_e78a57 {
        background-color: var(--input-background);
    }
    // Rules Screening
    .backgroundContainer__8f24a {
        background-color: var(--background-secondary-alt);
    }
    .containerFooter__2f30f {
        background-color: var(--background-secondary);
    }
    // Automod
    .iconWrapper__0d13e {
        background: var(--button-secondary-background);
        .icon_bb7288:hover {
            background: var(--button-secondary-background-hover);
            &.disabled_f8a046 {
                background: var(--button-secondary-background-disabled);
            }
        }
    }
    // Audit Log
    .auditLog__9228d {
        border-color: var(--background-secondary);
        .header__8cacc {
            background-color: var(--background-secondary);
        }
        .headerExpanded__05a35 {
            background-color: var(--background-secondary-alt);
        }
        .divider__1ee1f {
            background-color: var(--background-modifier-accent);
        }
        .changeDetails_c0aa16 {
            background-color: var(--background-secondary);
        }
    }
    // Server Boost Status
    .tierBody_fd5f94 {
        background-color: var(--background-secondary-alt);
    }
}