:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 {
    // Overview
    .avatarUploaderInnerSquareDisabled_e9b3be {
        background-color: var(--background-secondary-alt);
    }
    // Stickers
    .tierHeaderContent_da77bd {
        background-color: var(--background-secondary);
    }
    .background_bfac79 {
        color: var(--background-secondary-alt);
    }
    // Custom Invite Link
    .prefixInput_a6236d {
        background-color: var(--input-background);
    }
    // Safety Setup
    .backgroundContainer_ceff93 {
        background-color: var(--background-secondary-alt);
    }
    .containerFooter_ceff93 {
        background-color: var(--background-secondary);
    }
    .iconWrapper_cc6793 {
        background: var(--button-secondary-background);
        .icon_cc6793:hover {
            background: var(--button-secondary-background-hover);
            &.disabled_cc6793 {
                background: var(--button-secondary-background-disabled);
            }
        }
    }
    // Audit Log
    .auditLog_eebd33 {
        border-color: var(--background-secondary);
        .header_eebd33 {
            background-color: var(--background-secondary);
        }
        .headerExpanded_eebd33 {
            background-color: var(--background-secondary-alt);
        }
        .divider_eebd33 {
            background-color: var(--background-modifier-accent);
        }
        .changeDetails_eebd33 {
            background-color: var(--background-secondary);
        }
    }
    // Server Boost Status
    .tierBody_da77bd {
        background-color: var(--background-secondary-alt);
    }
}