:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 {
    // Authorized Apps
    .cardPrimary_a298b8.outline_a298b8 {
        background-color: var(--background-secondary);
    }
    // Connections
    .connectContainer_e2a436 {
        background-color: var(--background-secondary);
        .wrapper_c36ce4:hover {
            background-color: var(--background-modifier-hover);
        }
    }
    // Billing
    .paymentPane_f66684 {
        background-color: var(--background-secondary);
        .expandedInfo_a28a08 {
            background-color: var(--background-primary);
        }
        .paginator_f66684 {
            background-color: var(--background-secondary);
            .payment_a28a08 {
                background-color: var(--background-secondary);
                &.hoverablePayment_a28a08:hover {
                    background-color: var(--background-modifier-hover);
                }
            }
        }
        .bottomDivider_f66684 {
            border-bottom-color: var(--background-modifier-accent);
        }
    }
    .codeRedemptionRedirect_cb70f4 {
        border-color: var(--background-tertiary);
        background-color: var(--background-secondary);
    }
    // Appearance
    .preview_a614a7 {
        border-color: var(--background-secondary);
        background-color: var(--background-primary) !important;
    }
    // Voice & Video
    .notches_a1107d.gray_a1107d {
        color: var(--background-primary);
    }
    // Keybinds
    .container_c67e31 {
        background-color: var(--input-background);
    }
    // Registered Games
    .game_fd966d {
        box-shadow: none;
        border-bottom: 1px solid var(--background-modifier-accent);
        .gameNameInput_fd966d:is(:hover, :focus) {
            border-color: var(--background-tertiary);
            background-color: var(--background-secondary);
        }
    }
    // Game Overlay
    .option_b877fa:not(.selected_b877fa, :hover) {
        background-color: var(--background-accent);
    }
    .disabled_b877fa:not(.selected_b877fa, :hover) {
        color: var(--background-accent);
    }
}