:is(.theme-dark, .theme-midnight) #app-mount .layers__1c917 {
    // Authorized Apps
    .cardPrimary__1ee6a.outline__16075 {
        background-color: var(--background-secondary);
    }
    // Connections
    .connectContainer_e331e3 {
        background-color: var(--background-secondary);
        .wrapper__5780f:hover {
            background-color: var(--background-modifier-hover);
        }
    }
    // Server Boost
    .guildHeader__30707 {
        background-color: var(--background-secondary-alt);
    }
    // Billing
    .paymentPane__541d7 {
        background-color: var(--background-secondary);
        .expandedInfo_efc786 {
            background-color: var(--background-primary);
        }
        .paginator__28ba5 {
            background-color: var(--background-secondary);
            .payment_f27ac6 {
                background-color: var(--background-secondary);
                &.hoverablePayment__4ff3b:hover {
                    background-color: var(--background-modifier-hover);
                }
            }
        }
        .bottomDivider_c85b47 {
            border-bottom-color: var(--background-modifier-accent);
        }
    }
    .codeRedemptionRedirect_b3eca7 {
        border-color: var(--background-tertiary);
        background-color: var(--background-secondary);
    }
    // Appearance
    .preview__30ef4 {
        border-color: var(--background-secondary);
        background-color: var(--background-primary) !important;
    }
    // Voice & Video
    .notches__5406c.gray__211f0 {
        color: var(--background-primary);
    }
    // Keybinds
    .container__8267c {
        background-color: var(--input-background);
    }
    // Registered Games
    .game__19f4b {
        box-shadow: none;
        border-bottom: 1px solid var(--background-modifier-accent);
        .gameNameInput__3e1e4:is(:hover, :focus) {
            border-color: var(--background-tertiary);
            background-color: var(--background-secondary);
        }
    }
    // Game Overlay
    .option__1d8de:not(.selected__4e154, :hover) {
        background-color: var(--background-accent);
    }
    .disabled__586d3:not(.selected__4e154, :hover) {
        color: var(--background-accent);
    }
}