:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 {
    // Authorized Apps
    .cardPrimary_a298b8.outline_a298b8 {
        background-color: var(--background-secondary);
    }
    // Billing
    .paymentPane_f66684 {
        .expandedInfo_a28a08 {
            background-color: var(--background-primary);
        }
        .hoverablePayment_a28a08:hover {
            background-color: var(--background-modifier-hover);
        }
        .bottomDivider_f66684 {
            border-bottom-color: var(--background-modifier-accent);
        }
    }
    .codeRedemptionRedirect_cb70f4 {
        border-color: var(--background-tertiary);
    }
    // Appearance
    .preview_a614a7 {
        border-color: var(--background-secondary);
        background-color: var(--background-primary) !important;
    }
    // Voice & Video
    .notches_a1107d.gray_a1107d {
        color: var(--background-primary);
    }
    // Keybinds
    .container_c67e31 {
        background-color: hsl(var(--primary-800-hsl)/0.6);
        &:not(:hover, :focus-within) {
            border-color: hsl(var(--primary-800-hsl)/0.8);
        }
    }
    // Registered Games
    .game_fd966d {
        box-shadow: none;
        border-bottom: 1px solid var(--background-modifier-accent);
        .gameNameInput_fd966d:is(:hover, :focus) {
            border-color: hsl(var(--primary-800-hsl)/0.6);
            background-color: var(--background-secondary);
        }
    }
    // Game Overlay
    .option_b877fa:not(.selected_b877fa, :hover) {
        background-color: var(--background-accent);
    }
    .disabled_b877fa:not(.selected_b877fa, :hover) {
        color: var(--background-accent);
    }
}