:is(.theme-dark, .theme-amoled) #app-mount .layers__1c917 {
    // Authorized Apps
    .cardPrimary_cb7a0e.outline_cb0aed {
        background-color: var(--background-secondary);
    }
    // Connections
    .connectContainer__8050b {
        background-color: var(--background-secondary);
        .wrapper__03d5e:hover {
            background-color: var(--background-modifier-hover);
        }
    }
    .integration_d2f026 {
        background-color: var(--background-primary);
    }
    // Server Boost
    .guildHeader__30707 {
        background-color: var(--background-secondary-alt);
    }
    // Billing
    .paymentPane__9cf01 {
        background-color: var(--background-secondary);
        .expandedInfo__47bad {
            background-color: var(--background-primary);
        }
        .paginator_e620d3 {
            background-color: var(--background-secondary);
            .payment__7d702 {
                background-color: var(--background-secondary);
                &.hoverablePayment__3ea24:hover {
                    background-color: var(--background-modifier-hover);
                }
            }
        }
        .bottomDivider_a59d97 {
            border-bottom-color: var(--background-modifier-accent);
        }
    }
    .codeRedemptionRedirect_bc7f36 {
        border-color: var(--background-tertiary);
        background-color: var(--background-secondary);
    }
    // Appearance
    .preview_f42b5d {
        border-color: var(--background-secondary);
        background-color: var(--background-primary) !important;
    }
    // Voice & Video
    .notches__065e9.gray__4fb3f {
        color: var(--background-primary);
    }
    // Keybinds
    .container__0c807 {
        background-color: var(--input-background);
    }
    // Registered Games
    .game__19f4b {
        box-shadow: none;
        border-bottom: 1px solid var(--background-modifier-accent);
        .gameNameInput_e25dd8:is(:hover, :focus) {
            border-color: var(--background-tertiary);
            background-color: var(--background-secondary);
        }
    }
    // Game Overlay
    .option_a0c054:not(.selected_ea51d6, :hover) {
        background-color: var(--background-accent);
    }
    .disabled_ab18dc:not(.selected_ea51d6, :hover) {
        color: var(--background-accent);
    }
}