@mixin warning_flash {
    animation: flash 1s ease infinite;
    color: white;
    background-color: #ed4245 !important;
}

.theme-light #app-mount {
    &::after {
        content: "This theme is NOT meant to be used in Light Mode. Please switch over to Dark Mode in Settings -> Appearance.";
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 22px;
        right: 0;
        bottom: calc(100% - 58px);
        left: 72px;
        border-top-left-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        color: white;
        background-color: #ed4245;
    }
    .container-YkUktl .flex-2S1XBF .button-12Fmur:last-child {
        animation: flash 1s ease infinite;
        color: white;
        background-color: #ed4245;
    }
    #user-settings-cog-Appearance {
        @include warning_flash;
    }
    [aria-activedescendant^="user-settings-cog-Appearance"] #user-settings-cog-Appearance--dark {
        @include warning_flash;
    }
    [aria-controls="appearance-tab"] {
        @include warning_flash;
    }
    [aria-label="USER_SETTINGS"] [tabindex="-1"] + [class="marginTop40-Q4o1tS"] .item-2idW98:nth-of-type(1) {
        @include warning_flash;
    }
    .base-2jDfDU {
        margin-top: 36px;
    }
    .sidebar-1tnWFu {
        border-radius: 0;
    }
}

@keyframes flash {
	0% { box-shadow: 0 2px 10px rgba(237, 66, 69, 0.2),0 0 0 2px rgba(237, 65, 68, 0.1); }
	70% { box-shadow: 0 0 20px 15px rgba(237, 66, 69, 0.1),0 0 0 6px rgba(237, 65, 68, 0.1); }
	100% { box-shadow: 0 0 20px 15px rgba(237, 66, 69, 0),0 0 0 6px rgba(237, 65, 68, 0.1); }
}