.theme-light {
    .base-2jDfDU {
        &::before {
            z-index: 101;
            position: relative;
            text-align: center;
            content: 'AMOLED-Cord is strictly meant to be used in either dark or AMOLED mode; it will not properly work in light mode. Please head over to User Settings, navigate to Appearance and under "Theme" enable "Dark"';
            font-size: 14px;
            font-weight: 500;
            line-height: 36px;
            padding-left: 4px;
            padding-right: 28px;
            border-radius: 8px 0 0;
            flex-grow: 0;
            flex-shrink: 0;
            box-shadow: var(--elevation-low);
            color: #fff;
            background-color: var(--red-430);
        }
        .notice-2HEN-u,
        .sidebar-1tnWFu {
            border-radius: 0;
        }
    }
}