:is(.theme-dark, .platform-overlay) {
    .overlayBackground_c95d46 {
        background-color: rgba(0,0,0, 0.75);
    }

    .contained__6398e,
    .headerContainer_c6e0ea,
    .messagesContainer__8cac7,
    .footerContent__32b34 {
        background-color: var(--background-primary) !important;
    }

    .sidebar__398fc,
    .panels__1458f, .panels__1458f > div,
    .searchBar__107ca,
    .header__0d02e,
    .privateChannels__9b1e8, .privateChannels__9b1e8 .scroller__89969,
    .panels_f8dc5f, .panels_f8dc5f > div {
        background-color: var(--background-primary) !important;
    }
}