#app-mount .scrollerBase-_bVAAt {
    &.thin-31rlnD {
        &::-webkit-scrollbar-thumb {
            background-color: var(--scroller-thumb);
        }
    }
    &.auto-2K3UW5 {
        &::-webkit-scrollbar {
            &-thumb {
                background-color: var(--scroller-thumb);
            }
            &-track {
                background-color: var(--scroller-track);
            }
        }
    }
}