:is(.theme-dark, .theme-midnight) #app-mount .container__11d72 {
    [class*="searchBar"] {
        background-color: var(--background-secondary);
        .searchAnswer_b452e7,
        .searchFilter__118cb {
            background-color: var(--background-primary);
        }
    }
}