:is(.theme-dark, .theme-midnight) #app-mount .container__26baa {
    [class*="searchBar"] {
        background-color: var(--background-secondary);
        .searchAnswer__2ccaf,
        .searchFilter_dbda51 {
            background-color: var(--background-primary);
        }
    }
}