:is(.theme-dark, .platform-overlay) {
    .overlayActive_df3f07, .invalidContainer_df3f07 {
        background-color: hsl(var(--primary-900-hsl)/0.8);
    }
    .inactiveContainer_df3f07 {
        background-color: var(--background-primary);
    }
    .previewingInGameHeader_df3f07 {
        background-color: hsl(var(--primary-900-hsl)/0.9);
    }
}