:is(.theme-dark, .platform-overlay) {
    .widget__777cc {
        &.default__777cc {
            background-color: var(--background-primary);
        }
        &.unpinned__777cc {
            background-color: var(--background-tertiary);
        }
    }

    .bar__777cc {
        background-color: hsl(var(--primary-900-hsl)/0.85);
        &.default__777cc, &.unpinned__777cc {
            background-color: var(--background-primary);
        }
    }
    .body__777cc {
        &.default__777cc, &.unpinned__777cc {
            background-color: var(--background-primary);
        }
        &.pinned__777cc {
            background-color: hsl(var(--primary-900-hsl)/0.75);
        }
    }
}