:is(.theme-dark, .platform-overlay) {
    .widget_eb6bd1 {
        &.default_eb6bd1 {
            background-color: var(--background-primary);
        }
        &.unpinned_eb6bd1 {
            background-color: var(--background-tertiary);
        }
    }

    .bar_eb6bd1 {
        background-color: hsl(var(--primary-900-hsl)/0.85);
        &.default_eb6bd1, &.unpinned_eb6bd1 {
            background-color: var(--background-primary);
        }
    }
    .body_eb6bd1 {
        &.default_eb6bd1, &.unpinned_eb6bd1 {
            background-color: var(--background-primary);
        }
        &.pinned_eb6bd1 {
            background-color: hsl(var(--primary-900-hsl)/0.75);
        }
    }
}