:is(.theme-dark, .platform-overlay) {
    .contained_ee4d7e {
        background-color: var(--background-primary);
    }
    :is(.contained_ee4d7e, .pinned_ee4d7e:not(:has(.locked_ee4d7e))) {
        .headerDefault_ee4d7e, .messagesContainer_ee4d7e, .footerContent_ee4d7e {
            &[style*='rgb(54, 57, 63)'] {
                background-color: var(--background-primary) !important;
            }
            &[style*='rgb(54, 57, 63, 0.75)'] {
                background-color: hsl(var(--black-hsl)/0.75) !important;
            }
            &[style*='rgb(54, 57, 63, 0.25)'] {
                background-color: var(var(--black-hsl)/0.25) !important;
            }
        }
    }

    .opacityHeader__0aebc {
        background-color: var(--background-primary);
    }

    .background-opacity-high .scrollableContainer_d0696b {
        background-color: var(--channeltextarea-background);
    }
}