:is(.theme-dark, .platform-overlay) {
    :is(.contained_ac9afa, .wrapper_c199cc:not(:has(.locked_ac9afa))) {
        .headerContainer_c6d3b6,
        .footer_ac9afa {
            background-color: var(--background-primary) !important;
        }
    
        .messagesContainer_ac9afa {
            background-color: var(--background-primary) !important;
        }
    }

    .opacityHeader_c6d3b6 {
        background-color: var(--background-primary);
    }

    .wrapper_c199cc:has(.default_eb6bd1) {
        .footer_ac9afa,
        .headerContainer_c6d3b6 {
            border-radius: 0px;
        }
    }

    .background-opacity-high .scrollableContainer_d0696b {
        background-color: var(--channeltextarea-background);
    }
}