:is(.theme-dark, .platform-overlay) {
    .themePrimary__350af {
        &.container__350af {
            background-color: hsl(var(--primary-900-hsl)/0.95);
            &.clickable__350af:hover {
                background-color: var(--background-secondary);
            }
        }

        .divider__350af {
            background-color: var(--background-secondary-alt);
        }

        .dismissButton__350af {
            box-shadow: none;
            background-color: var(--background-secondary);
        }
    }
}