:is(.theme-dark, .platform-overlay) {
    .themePrimary_f6b647 {
        &.container_f6b647 {
            background-color: hsl(var(--primary-900-hsl)/0.95);
            &.clickable_f6b647:hover {
                background-color: var(--background-secondary);
            }
        }

        .divider_f6b647 {
            background-color: var(--background-secondary-alt);
        }

        .dismissButton_f6b647 {
            box-shadow: none;
            background-color: var(--background-secondary);
        }
    }
}