:is(.theme-dark, .platform-overlay) {
    .sidebar__9835e,
    .scroller__99e7c {
        background-color: var(--background-primary);
    }
    .header__9835e,
    .base_e3f659 {
        background-color: var(--background-primary) !important;
    }
    .searchBar_ee924e {
        box-shadow: none;
    }
    .panels_b81b18, .panels_b81b18 > div,
    .panels_ee924e, .panels_ee924e > div {
        background-color: var(--background-primary) !important;
    }
}