:is(.theme-dark, .theme-midnight) #app-mount {
    [class="wrapper__8436d"] .childWrapper_a6ce15,
    [class="circleIconButton__05cf2"] {
        background-color: var(--background-secondary-alt);
    }
}