:is(.theme-dark, .theme-midnight) #app-mount {
    [class="wrapper_d281dd"] .childWrapper__01b9c,
    [class="circleIconButton_d8df29"] {
        background-color: var(--background-secondary-alt);
    }
}