:is(.theme-dark, .theme-midnight) #app-mount .nowPlayingColumn_b025fe {
    .separator_fc3370 {
        background-color: var(--background-secondary);
    }
    .applicationStreamingPreviewWrapper_cdc31a {
        background-color: var(--background-secondary-alt);
    }
}