#app-mount .perksModal-CLcR1c {
    background-color: var(--background-primary);
    .tierMarkerBackground-G8FoN4 {
        background-color: var(--background-primary);
    }
    .tierHeaderLocked-3ItHYn {
        background-color: var(--background-tertiary);
    }
    .tierBody-3ju-rc {
        background-color: var(--background-secondary);
    }
    .perk-19D_HN {
        background-color: var(--background-secondary-alt);
    }
}