// https://discord.com/developers
.theme-dark body {
    // Sidebar
    .wrapper-28jGDw {
        background-color: var(--background-primary);
    }
    .hasBorder-17PTeu {
        border-bottom-color: var(--background-modifier-accent);
    }
    .searchContainer-2duiLS:is(:hover) button {
        border-color: var(--background-secondary);
        background-color: var(--input-background);
    }

    // Documentation
    .contentWrapper-1Cwe5m hr {
        background-color: hsl(var(--primary-760-hsl) / 0.6);
    }
    .pre-398F0p {
        background-color: var(--background-tertiary);
    }
    .mdxCard-iv9u29:hover {
        background-color: var(--card-secondary-pressed-bg);
    }

    // Panel
    .colorDark-311Rq5,
    .colorLight-1o6rnK {
        background-color: var(--background-tertiary);
    }
    .borderPrimary-1l1Cvj {
        border-color: var(--background-secondary);
    }

    // Tooltips
    .tooltip-2YjxAH {
        background-color: var(--background-floating);
    }
    .top-3SkhL3:after {
        border-top-color: var(--background-floating);
    }
    .bottom-1VilIE:after {
        border-bottom-color: var(--background-floating);
    }
    .left-3N6_YX:after {
        border-left-color: var(--background-floating);
    }
    .right-2v0SN-:after {
        border-right-color: var(--background-floating);
    }
    .grey-IHse8x {
        background-color: var(--background-secondary-alt);
        &:after {
            border-top-color: var(--background-secondary-alt) !important;
        }
    }

    // Forms
    .divider-_0um2u {
        background-color: var(--background-modifier-accent);
    }

    // Selects
    [class$="-control"] {
        border-color: var(--background-secondary);
        &:hover {
            border-color: var(--background-secondary-alt);
        }
    }
    .css-gqriav-menu {
        border-color: var(--background-secondary);
        box-shadow: var(--background-secondary) 0px 1px 5px 0px;
        background-color: var(--background-floating);
    }
    .css-17vfzgn-option {
        background-color: var(--background-modifier-selected);
    }
    .css-ic7iun-option {
        background-color: var(--background-modifier-hover);
    }

    // Modals
    .modalContent-31OOYM {
        background-color: var(--modal-background);
        .modalFooter-3193QM {
            border: none;
            background-color: var(--modal-footer-background);
        }
        .divider-Qljx2k {
            background-color: var(--background-modifier-accent);
        }
    }

    // Paginator
    .disabled-29cfPA,
    .disabled-29cfPA:hover {
        border-color: var(--background-secondary);
        background-color: var(--background-tertiary);
    }
    .disabled-29cfPA + .pageButtonNext-2_bbdk,
    .disabled-29cfPA + .pageCount-17vMJm,
    .disabled-29cfPA:hover + .pageButtonNext-2_bbdk,
    .disabled-29cfPA:hover + .pageCount-17vMJm,
    .pageButtonNext-2_bbdk,
    .pageCount-17vMJm,
    .pageButtonNext-2_bbdk,
    .pageButtonPrev-3q9rh8 {
        border-color: var(--background-secondary) !important;
        background-color: var(--background-tertiary);
    }
    .pageButtonNext-2_bbdk:hover,
    .pageButtonPrev-3q9rh8:hover {
        border-color: var(--background-secondary-alt) !important;
        background-color: var(--background-secondary);
    }

    // Content
    .contentWrapper-3RqEiS {
        // Applications
        .cardLink-H6gvNe {
            &:hover {
                background-color: var(--background-secondary-alt);
            }
            .cardImagePlaceholder-EjWnzT {
                background-color: var(--background-primary);
            }
        }
        // Applications - General
        .avatarUploaderInner-yEhTv5 {
            background-color: var(--background-primary);
        }
        // Applications - Rich Presence
        .invite-1J5PX7 {
            border-color: var(--background-modifier-accent);
        }
    }
}