#app-mount .content-1SgpWY {
    .pageWrapper-2PwDoS {
        background-color: var(--background-primary);
    }
    .searchBox-pyIJJj {
        background-color: var(--input-background);
        input {
            color: var(--primary-260);
            &::placeholder {
                color: var(--primary-400);
            }
        }
        .searchIcon-3X4BYL, .closeIcon-BMGxx0 {
            color: var(--interactive-normal);
        }
    }
}