:is(.theme-dark, .theme-midnight) #app-mount .content__76dcf {
    .pageWrapper_c182d3 {
        background-color: var(--background-primary);
    }
    .searchBox__56feb {
        background-color: var(--input-background);
        input {
            color: var(--primary-260);
            &::placeholder {
                color: var(--primary-400);
            }
        }
        .searchIcon__58dfd, .closeIcon_da3bc1 {
            color: var(--interactive-normal);
        }
    }
}