.theme-midnight {
    ._8a7fc664acf53af6-relative {
        border-bottom: 1px solid var(--app-frame-border);
    }
    ._8a7fc664acf53af6-relative,
    ._23746ba3de9452d8-scroller,
    .cbd375bef7ac11dc-container {
        background-color: var(--background-base-lowest);
    }
}