:is(.theme-dark, .theme-amoled) #app-mount .content__4bf10 {
    .pageWrapper_fef757 {
        background-color: var(--background-primary);
    }
    .searchBox_a63854 {
        background-color: var(--input-background);
        input {
            color: var(--primary-260);
            &::placeholder {
                color: var(--primary-400);
            }
        }
        .searchIcon_f30c40, .closeIcon__3dfb5 {
            color: var(--interactive-normal);
        }
    }
}