:is(.theme-dark, .theme-amoled) #app-mount .content-1SgpWY {
    .pageWrapper-eg3-6i {
        background-color: var(--background-primary);
    }
    .searchBox-pyIJJj {
        background-color: var(--input-background);
        input {
            color: var(--primary-260);
            &::placeholder {
                color: var(--primary-400);
            }
        }
        .searchIcon-237w7n, .closeIcon-3XLsFw {
            color: var(--interactive-normal);
        }
    }
}