.theme-midnight {
    ._133bf5eea8e33a34-tabBody,
    ._133bf5eea8e33a34-nowPlayingColumn,
    ._7d20cf18f8a2784c-container,
    ._7e549558f336cddb-emptyCard {
        background-color: var(--background-base-lowest);
    }

    ._00943886e1cf89d1-body ._00943886e1cf89d1-section {
        background-color: var(--background-base-lowest);
        border: 1px solid var(--border-subtle);
    }

    ._72ba79a5dfa2ce86-addFriendInputWrapper {
        &:not(:focus-within) {
            border-color: var(--input-border);
        }
        background: var(--input-background);
    }

    // Active Now
    .bf1984a18b3ec6f0-outer {
        background-color: var(--background-base-low);

        &.bf1984a18b3ec6f0-active,
        &.bf1984a18b3ec6f0-interactive {
            &:hover {
                background-color: var(--background-surface-high);
            }
        }
    }
}