.theme-midnight {
    .tabBody__133bf,
    .nowPlayingColumn__133bf,
    .container__7d20c,
    .emptyCard__7e549 {
        background-color: var(--background-base-lowest);
    }

    .body__00943 {
        .section__00943 {
            background-color: var(--background-base-lowest);
            border: 1px solid var(--border-subtle);

            &:has(+ .separator__00943) {
                border-bottom: none;
            }
        }

        .wrapper__960df {
            background-color: var(--background-base-lowest);
            border: 1px solid var(--border-subtle);
        }
        .separator__00943 {
            + .section__00943,
            + .wrapper__960df {
                border-top: none;
            }
        }
    }

    .addFriendInputWrapper__72ba7 {
        // thank you fede
        &:not(:focus-within) {
            border-color: var(--input-border);
        }
        background: var(--input-background);
    }

    // Active Now
    .outer_bf1984 {
        background-color: var(--background-base-low);

        &.active_bf1984,
        &.interactive_bf1984 {
            &:hover {
                background-color: var(--background-surface-high);
            }
        }
    }
}