.theme-midnight {
    // Add borders to loading lazy loaded pages and empty channel page
    .page__5e434:empty,
    .page__5e434:has(.loader__5e434, > div:empty:only-child),
    .noChannel__01d5c {
        border-top: 1px solid var(--app-border-frame);
    }
}