.theme-midnight {
    // Add borders to loading lazy loaded pages and empty channel page
    ._5e434347c823b592-page:empty,
    ._5e434347c823b592-page:has(._5e434347c823b592-loader, > div:empty:only-child),
    ._01d5c7193c9f2ff4-noChannel {
        border-top: 1px solid var(--app-frame-border);
    }
}