#app-mount {
    .defaultIndicator-1AxErs {
        background-color: var(--background-accent);
    }
    .installationPath-2PbaRC {
        box-shadow: 0 1px 0 0 var(--background-secondary)
    }
    .hiddenLibraryApplication-lfw1ab {
        border-bottom-color: var(--background-secondary);
        &::before {
            border-color: var(--background-secondary);
            background-color: var(--background-secondary);
        }
    }
}