.theme-midnight {
    .container_ad5cdf {
        border-top: 1px solid var(--app-border-frame);
    }

    .scroller__4a84a,
    .scroller_fb04e1 {
        background-color: var(--background-base-lowest);
    }

    .installationPath_a6f654 {
        box-shadow: 0 1px 0 0 var(--border-subtle);
    }
}