.theme-midnight {
    .ad5cdf4c3a4bde59-container {
        border-top: 1px solid var(--app-border-frame);
    }

    ._4a84a2c88d373bef-scroller,
    .fb04e18e9304920d-scroller {
        background-color: var(--background-base-lowest);
    }

    .a6f6545753635e0e-installationPath {
        box-shadow: 0 1px 0 0 var(--border-subtle);
    }
}