:is(.theme-dark, .theme-amoled) #app-mount .container-2qjEOK {
    .mainTableContainer-3Nxvkd {
        background-color: var(--background-tertiary);
    }
    .container-2oNtJn {
        background-color: var(--background-secondary);
    }
}