:is(.theme-dark, .theme-midnight) #app-mount .page_e5cc79 {
    background-color: var(--background-primary) !important;
    .mainTableContainer__37b54 {
        background-color: var(--background-tertiary);
    }
    .container__33507 {
        background-color: var(--background-secondary);
    }
}