:is(.theme-dark, .theme-midnight) #app-mount .page_d20375 {
    .mainTableContainer_e23072 {
        background-color: var(--background-tertiary);
    }
    .container_c18ec9 {
        background-color: var(--background-secondary);
    }
}