:is(.theme-dark, .theme-midnight) #app-mount .page__0b66e {
    .mainTableContainer__5ffe0 {
        background-color: var(--background-tertiary);
    }
    .container__7712a {
        background-color: var(--background-secondary);
    }
}