.theme-midnight {
    .f07d62e29a48ceee-applicationStore,
    .ca1a02dcad190ff8-mainPageScroller,
    .c880e89226639033-scroller,
    .ca1a02dcad190ff8-allPerksScroller {
        background-color: var(--background-base-lowest);
    }

    .b5493bb5330ab072-card {
        border: 1px solid var(--border-subtle);
        background-color: var(--background-surface-high);

        ._1f0692e2665d8dcd-cardDescription {
            background-image: linear-gradient(
                to bottom,
                var(--background-surface-high) 50%,
                hsl(var(--primary-800-hsl) / 0.75) 80%
            );
        }
    }

    .da4aee5b24d1a407-container {
        border: 1px solid var(--border-subtle);
        background-color: var(--background-surface-high);

        .da4aee5b24d1a407-textContainer {
            background-image: linear-gradient(
                to right,
                var(--background-surface-high),
                hsl(var(--primary-800-hsl) / 40%) 90%,
                transparent
            );
        }
    }
}