#app-mount {
    .row--LCpto {
        background-color: var(--background-tertiary);
        &:hover {
            background-color: var(--background-modifier-hover);
        }
    }
    .sidebarCardWrapper-34oCuK {
        background-color: var(--background-tertiary);
    }
}