:is(.theme-dark, .theme-midnight) #app-mount {
    .row_d13feb {
        background-color: var(--background-tertiary);
        &:hover {
            background-color: var(--background-modifier-hover);
        }
    }
    .clickableAction_c66e86:hover .action_c66e86 {
        background-color: var(--background-modifier-hover);
    }
    .action_c66e86 {
        background-color: var(--background-tertiary);
    }
    .sidebarCardWrapper__7449f {
        background-color: var(--background-tertiary);
    }
    .headerIcon__553a5 {
        background-color: var(--background-tertiary);
        border-color: var(--background-tertiary);
    }
}