:is(.theme-dark, .theme-midnight) #app-mount {
    .row_b53f4f {
        background-color: var(--background-tertiary);
        &:hover {
            background-color: var(--background-modifier-hover);
        }
    }
    .clickableAction_e3f878:hover .action_e3f878 {
        background-color: var(--background-modifier-hover);
    }
    .action_e3f878 {
        background-color: var(--background-tertiary);
    }
    .sidebarCardWrapper_e85cee {
        background-color: var(--background-tertiary);
    }
    .headerIcon_d32e26 {
        background-color: var(--background-tertiary);
        border-color: var(--background-tertiary);
    }
}