:is(.theme-dark, .theme-midnight) #app-mount {
    .row__4f559 {
        background-color: var(--background-tertiary);
        &:hover {
            background-color: var(--background-modifier-hover);
        }
    }
    .clickableAction__9e970 {
        &:hover .action__94060 {
            background-color: var(--background-modifier-hover);
        }
    }
    .action__94060 {
        background-color: var(--background-tertiary);
    }
    .sidebarCardWrapper__98124 {
        background-color: var(--background-tertiary);
    }
    .headerIcon_f56272 {
        background-color: var(--background-tertiary);
        border-color: var(--background-tertiary);
    }
}