.theme-midnight {
    ._6db1d32c47b6ad72-shop,
    ._084152b107f71237-shop,
    ._1feb0fca744244ab-page,
    ._1feb0fca744244ab-shopScroll,
    ._1feb0fca744244ab-filterBar ._1187745e085c713e-filterBar {
        background-color: var(--background-base-lowest);
    }
}