.theme-midnight {
    .shop__6db1d,
    .shop__08415,
    .page__1feb0,
    .shopScroll__1feb0,
    .filterBar__1feb0 .filterBar__11877 {
        background-color: var(--background-base-lowest);
    }

    .darkCardBackground_c3d04b {
        background-color: var(--background-base-low);
    }
}