#app-mount .root-1gCeng {
    box-shadow: 0 0 0 1px var(--background-light), 0 2px 10px 0 rgb(0 0 0 / 20%);
    background-color: var(--background-light);
    .header-2MrRa6 {
        box-shadow: 0 0 0 1px var(--background-dark), 0 2px 10px 0 rgb(0 0 0 / 20%);
        background-color: var(--background-dark);
    }
    .footer-2gL1pp {
        box-shadow: inset 0 1px 0 var(--background-alt);
        background-color: var(--background-alt);
    }
    // message
    .message-2qRu38 {
        box-shadow: 0 0 0 1px var(--background-light-alt), 0 2px 10px 0 rgb(0 0 0 / 20%);
        background-color: var(--background-light-alt);
    }
    // screenshare (mostly)
    .card-2Mz_4z {
        border-color: var(--background-light-alt);
        background-color: var(--background-light-alt);
    }
    .qualitySettingsContainer-1gOtRJ {
        background-color: var(--background-light-alt);
    }
    .item-3T2z1R {
        border-color: var(--background-alt);
        background-color: var(--background-light);
    }
    // reactions
    .scroller-1-nKid {
        background-color: var(--background-light-alt);
    }
    .reactionSelected-1pqISm {
        background-color: var(--background-modifier-selected);
    }
    .reactors-Blmlhw {
        background-color: var(--background-light);
    }
    .reactorDefault-1IUqMZ {
        box-shadow: inset 0 -1px 0 var(--background-light-alt);
    }
    // guild join
    .optionContainer-15srkc {
        background-color: var(--background-light-alt);
    }
    // guild verify
    .guildSidebar-2OCzWB {
        background-color: var(--backgrounds-dark);
    }
    .modal-f02hVt {
        background-color: var(--background-base);
    }
    .formFieldWrapper-malor5 {
        background-color: var(--background-alt);
    }
    .formFieldWrapper-malor5, 
    .settingsFormFieldWrapper-3Y77Pr {
        border-color: var(--background-light);
    }
    // server boost
    .perks-2hUniO {
        background-color: var(--background-light-alt);
    }
    // events
    .itemFilled-3llgIC {
        background-color: var(--background-light-alt);
        &:hover {
            background-color: var(--background-alt);
        }
        &[aria-checked="true"] {
            background-color: var(--background-dark);
        }
    }
    .card-2X8BSG {
        border-color: var(--background-dark);
        background-color: var(--background-dark);
        &:hover {
            background-color: var(--background-alt);
        }
    }
    .rsvpCount-1Qtgtr {
        background-color: var(--background-light-alt);
    }
}