.quickswitcher-3JagVE {
    background-color: var(--background-alt);
    .scroller-zPkAnE {
        background-color: var(--background-alt);
        &::-webkit-scrollbar-track {
            background-color: var(--scroller-track) !important;
        }
    }
    .input-2VB9rf {
        background-color: #4c4c4c;
    }
}