.theme-light .root-1gCeng {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #969696;

    .formTitle-aeXUoN {
        color: var(--header-primary);
    }
    .sampleLink-2NLvZg {
        color: var(--text-muted);
    }
    .container-UC8Ug1,
    .rowContainer-3AFY0S {
        border-color: var(--background-light-alt);
        background-color: var(--background-light-alt);
    }
    .closeIcon-150W3V {
        color: var(--header-secondary);
    }
    .iconContainer-2B0ixr {
        color: var(--header-secondary);
    }
    .input--jS-j2 {
        border: solid 1px var(--background-modifier-selected);
        background-color: transparent;
    }
    .lookLink-9FtZy-.colorPrimary,
    .lookLink-9FtZy-.colorPrimary-3b3xI6,
    .lookBlank-3eh9lL {
        color: var(--text-normal);
    }
}