.theme-light .root-1gCeng {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;

    .container-UC8Ug1 {
        border-color: var(--background-light-alt);
        background-color: var(--background-light-alt);
    }
    .closeIcon-150W3V {
        color: var(--header-secondary);
    }
    .iconContainer-2B0ixr {
        color: var(--header-secondary);
    }
}