.theme-midnight:root {
    --card-primary-bg: var(--background-base-low);
    --background-message-hover: var(--background-base-low);
    --custom-channel-members-bg: var(--background-base-lowest);

    --scrollbar-auto-scrollbar-color-thumb: var(--background-surface-highest);
    --scrollbar-auto-thumb: var(--background-surface-highest);
    --scrollbar-thin-thumb: var(--background-surface-highest);

    /**
     * These are some old variables Discord used.
     * They're still used in some areas, still would prefer to update areas to use the new ones if possible.
     */
    --background-primary: var(--background-base-lowest);
    --background-secondary: var(--background-base-lower);
    --background-tertiary: var(--background-base-low);
    --modal-background: var(--background-base-lowest);
    --modal-footer: var(--background-base-lowest);
}