.theme-midnight {
    --message-background-hover: var(--opacity-8) !important;

    --background-mod-muted: var(--opacity-4) !important;
    --background-mod-normal: var(--opacity-16) !important;
    --background-mod-strong: var(--opacity-20) !important;
    --background-mod-subtle: var(--opacity-8) !important;

    --interactive-background-active: var(--opacity-16) !important;
    --interactive-background-hover: var(--opacity-8) !important;
    --interactive-background-selected: var(--opacity-20) !important;

    --background-secondary-alt: var(--neutral-88) !important;

    --card-background-default: var(--background-base-low) !important;

    --modal-background: var(--background-base-lowest) !important;
    --modal-footer-background: var(--background-base-lowest) !important;

    --scrollbar-auto-scrollbar-color-thumb: var(--neutral-80) !important;
    --scrollbar-auto-thumb: var(--neutral-80) !important;
    --scrollbar-thin-thumb: var(--neutral-79) !important;

    --custom-channel-members-bg: var(--background-base-lowest) !important;
}

@supports (color: color-mix(in lch, red, blue)) {
    .theme-midnight {
        --message-background-hover: color-mix(
            in oklab,
            var(--opacity-8) 100%,
            hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.0784313725490196)
                var(--theme-base-color-amount, 0%)
        ) !important;
        --background-secondary-alt: color-mix(
            in oklab,
            var(--neutral-88) 100%,
            var(--theme-base-color, #000) var(--theme-base-color-amount, 0%)
        ) !important;
        --card-background-default: color-mix(
            in oklab,
            var(--background-base-low) 100%,
            var(--theme-base-color, #000) var(--theme-base-color-amount, 0%)
        ) !important;
        --modal-background: color-mix(
            in oklab,
            var(--background-base-lowest) 100%,
            var(--theme-base-color, #000) var(--theme-base-color-amount, 0%)
        ) !important;
        --modal-footer-background: color-mix(
            in oklab,
            var(--background-base-lowest) 100%,
            var(--theme-base-color, #000) var(--theme-base-color-amount, 0%)
        ) !important;
        --scrollbar-auto-scrollbar-color-thumb: color-mix(
            in oklab,
            var(--neutral-80) 100%,
            var(--theme-base-color, #000) var(--theme-base-color-amount, 0%)
        ) !important;
        --scrollbar-auto-thumb: color-mix(
            in oklab,
            var(--neutral-80) 100%,
            var(--theme-base-color, #000) var(--theme-base-color-amount, 0%)
        ) !important;
        --scrollbar-thin-thumb: color-mix(
            in oklab,
            var(--neutral-79) 100%,
            var(--theme-base-color, #000) var(--theme-base-color-amount, 0%)
        ) !important;
    }
}