#app-mount {
    .form-2fGMdU {
        .channelTextArea-rNsIhG .scrollableContainer-2NUZem {
            border-bottom-right-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
            border-bottom: solid var(--display-height) var(--background-tertiary); 
            transition: all var(--transition-time);
        }

        &:focus-within .channelTextArea-rNsIhG .scrollableContainer-2NUZem {
            border-color: var(--indicator-color);
        }
    }
}