@import url("https://raw.githack.com/Snapperito/Settings-Icons/main/source.css");
@import url("https://nyri4.github.io/Discolored/main.css");

/* Colored User Connections */
@import './user-connections/import';
/* USRBG Support */
@import './userbg/import';
/* Color Filled Roles */
@import './filled-roles';
/* Light Theme Warning */
@import './warning';
/* AMOLED-Cord Watermark */
@import './watermark';
/* Powercord Toasts */
@import './powercord-toasts/import'