.connectedAccount-36nQx7 {
    background-color: transparent;
    border: none;

    .connectedAccountNameInner-1phBvE {
        &::after {
            content: '';
            position: absolute;
            border-radius: 2px;
            border: solid 1px transparent;
            margin-left: -40px;
            height: 46px;
            width: 260px;
        }
    }

    .connectedAccountVerifiedIcon-3aZz_K {
        .flowerStar-1GeTsn path {
            fill: rgba(255, 255, 255, 0.25);
        }
        .childContainer-1wxZNh {
            margin-top: 1px;
        }
    }

    .connectedAccountIcon-3P3V6F,
    .connectedAccountName-f8AEe2,
    .connectedAccountNameInner-1phBvE span,
    .connectedAccountNameInner-1phBvE + .anchor-3Z-8Bb {
        z-index: 1;
    }
    .connectedAccountIcon-3P3V6F {
        margin-left: 2px;
    }
}