:is(.theme-dark, .theme-midnight) #app-mount {
    .button_adcaac.buttonColor_adcaac:not(.buttonActive_adcaac),
    .button_adcaac .buttonColor_adcaac:not(.buttonActive_adcaac) {
        background-color: var(--button-secondary-background);
        &:hover {
            background-color: var(--button-secondary-background-hover);
        }
        &:active {
            background-color: var(--button-secondary-background-active);
        }
    }
}