:is(.theme-dark, .theme-amoled) #app-mount {
    .button__66e8c.buttonColor_a6eb73, .button__66e8c .buttonColor_a6eb73 {
        background-color: var(--button-secondary-background);
        &:hover {
            background-color: var(--button-secondary-background-hover);
        }
        &:active {
            background-color: var(--button-secondary-background-active);
        }
    }
}