:is(.theme-dark, .theme-amoled) #app-mount {
    .button-2gNyE9.buttonColor-3bP3fX, .button-2gNyE9 .buttonColor-3bP3fX {
        background-color: var(--button-secondary-background);
        &:hover {
            background-color: var(--button-secondary-background-hover);
        }
        &:active {
            background-color: var(--button-secondary-background-active);
        }
    }
}