:is(.theme-dark, .theme-midnight) #app-mount {
    .button_b82d53.buttonColor__7bad9, .button_b82d53 .buttonColor__7bad9 {
        background-color: var(--button-secondary-background);
        &:hover {
            background-color: var(--button-secondary-background-hover);
        }
        &:active {
            background-color: var(--button-secondary-background-active);
        }
    }
}