.theme-midnight {
    .editProfileContainer__42179 {
        background-color: var(--background-base-low);
    }
    .headerIconWrapper__42179 {
        background-color: var(--background-base-lowest);
    }
}