:is(.theme-dark, .theme-amoled) #app-mount .root_a28985 {
    .authBox__7196a {
        background-color: transparent;
    }
    .navRow-dG-XX8 {
        background-color: var(--modal-footer-background);
    }
}