:is(.theme-dark, .theme-midnight) #app-mount .root_a28985 {
    .authBox__6f336 {
        background-color: transparent;
    }
    .navRow_bb8efc {
        background-color: var(--modal-footer-background);
    }
}