.theme-midnight {
    .container_deee3a {
        background:
            radial-gradient(100% 100% at 50% 100%, var(--background-base-lowest) 60%, var(--transparent) 100%),
            linear-gradient(270deg, var(--expressive-gradient-blue-end) 0, var(--expressive-gradient-blue-start) 100%);
    }
}