.theme-midnight {
    .accountBtnInner__750de,
    .application__750de {
        border: 1px solid var(--border-subtle);
        &:not(:hover) {
            background-color: var(--background-base-lower);
        }
    }
}