.theme-midnight {
    .container__8a031 {
        background-color: var(--background-base-lowest);
    }
    .bodyControls__8a031:after {
        background: radial-gradient(
            88.69% 87.5% at 50% 87.5%,
            transparent 0,
            var(--background-base-lowest) 100%
        );
    }
}