:is(.theme-dark, .theme-midnight) #app-mount .root_a28985 {
    &.rootWithShadow_d20cd6 {
        box-shadow: var(--dark-elevation-border), var(--dark-elevation-high);
    }
    .footerSeparator__2af8d {
        box-shadow: inset 0 1px 0 var(--modal-footer-background);
    }
}