.theme-midnight {
    ._8a031a135bfcb9ba-container {
        background-color: var(--background-base-lowest);
    }
    ._8a031a135bfcb9ba-bodyControls:after {
        background: radial-gradient(
            88.69% 87.5% at 50% 87.5%,
            transparent 0,
            var(--background-base-lowest) 100%
        );
    }
}