@forward 'accept-invite';
@forward 'claim-reward';
@forward 'connections';
@forward 'create-poll';
@forward 'integrations';
@forward 'invite';
@forward 'keyboard-shortcuts';
@forward 'message-reactions';
@forward 'onboarding';
@forward 'pending-application';
@forward 'poll-votes';
@forward 'quest-console-connection';
@forward 'student-hub-email';
@forward 'upload-stickers';