@forward 'accept-invite';
@forward 'account-switcher';
@forward 'create-poll';
@forward 'generic';
@forward 'invite';
@forward 'keybinds';
@forward 'linked-roles';
@forward 'modify-attachment';
@forward 'notification-settings';
@forward 'onboarding';
@forward 'poll-votes';
@forward 'server-shop-product';
@forward 'stickers';
@forward 'tab-tips';