@forward 'accept-invite';
@forward 'auth-box';
@forward 'captcha';
@forward 'claim-reward';
@forward 'connections';
@forward 'edit-upload';
@forward 'gif-picker';
@forward 'invite';
@forward 'keyboard-shortcuts';
@forward 'message-reactions';
@forward 'mana';
@forward 'nitro';
@forward 'onboarding';
@forward 'pending-application';
@forward 'poll-votes';
@forward 'quest-console-connection';
@forward 'server-tag';
@forward 'student-hub-email';
@forward 'upload-stickers';
@forward 'voice-channel-status';