:is(.theme-dark, .theme-amoled) #app-mount .root_a28985 {
    .container__7712a {
        background-color: var(--input-background);
    }
    .footer-Ql9fbL {
        background-color: var(--modal-footer-background);
    }
}