:is(.theme-dark, .theme-midnight) #app-mount .root_a28985 {
    .container__33507 {
        background-color: var(--input-background);
    }
    .footer_d84330 {
        background-color: var(--modal-footer-background);
    }
}