.theme-midnight {
    .f061f614def5a8d6-keyboardShortcutsModal {
        background-color: var(--background-base-lowest);
    }
    .f061f614def5a8d6-keybindGroup {
        background-color: var(--background-base-low);
    }
}