:is(.theme-dark, .theme-amoled) #app-mount .modal-2RG0j2 {
    .verifiedRoleHasRole-2CPTNi {
        background-color: var(--background-secondary);
        border-color: var(--background-secondary);
    }
}