:is(.theme-dark, .theme-midnight) #app-mount .modal_c01034 {
    .verifiedRoleHasRole__912d9 {
        background-color: var(--background-secondary);
        border-color: var(--background-secondary);
    }
}