:is(.theme-dark, .theme-amoled) #app-mount .root_a28985 {
    &.uploadModal_eae2a0 {
        background-color: var(--modal-background);
        .footer_ceda43 {
            box-shadow: inset 0 1px 0 hsl(var(--primary-900-hsl)/.6);
            background-color: var(--modal-footer-background);
        }
    }
}