#app-mount .root-1CAIjD {
    &.uploadModal-2ie9O_ {
        background-color: var(--modal-background);
        .footer-VCsJQY {
            box-shadow: inset 0 1px 0 hsl(var(--primary-900-hsl)/.6);
            background-color: var(--modal-footer-background);
        }
    }
}