#app-mount .root-g14mjS {
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    background-color: var(--background-secondary);
    &.carouselModal-1eUFoq {
        box-shadow: none;
        background-color: transparent;
    }
    .footer-31IekZ,
    .footer-3Gu_Tl,
    .footer-VCsJQY {
        box-shadow: none;
        background-color: var(--background-tertiary);
    }
    .footer-1hTRRZ {
        background-color: var(--background-secondary);
    }
    // quick switcher
    .input-3r5zZY {
        background-color: var(--input-background);
    }
    // reactions
    .scroller-2GkvCq {
        background-color: var(--background-secondary-alt);
    }
    .reactionSelected-1aMb2K {
        background-color: var(--background-modifier-selected);
    }
    .container-KM8BU6,
    .reactors-1VXca7 {
        background-color: var(--background-secondary);
    }
    .reactorDefault-3GSyaV {
        box-shadow: inset 0 -1px 0 var(--background-secondary-alt);
    }
    // screenshare
    .item-2OyinQ,
    .qualitySettingsContainer-2LjkfM {
        border-color: var(--background-tertiary);
    }
    .card-m7VgZ8,
    .item-2OyinQ:not(.selectorButtonSelected-3cQUnj, .selectorButtonSelected-1VZ6hz) {
        background-color: var(--background-secondary-alt);
    }
    // delete message
    .message-G6O-Wv {
        box-shadow: none;
        background-color: var(--background-tertiary);
    }
    // welcome screen
    .optionContainer-yOpaLq {
        background-color: var(--background-tertiary);
        &:hover {
            background-color: var(--background-primary);
        }
    }
    // sticker upload
    .previewLight-IOzFhi {
        display: none;
    }
    .previewDark-3Xp3UB {
        background-color: var(--background-secondary);
    }
    // boost perks
    .perks-2IIbWQ {
        background-color: var(--background-secondary-alt);
    }
    // events
    .eventCard-2ZL9GD,
    .childButton-3o_dlg {
        background-color: var(--background-tertiary);
        &:hover {
            background-color: var(--background-primary);
        }
    }
    .contentContainer-BWAau5 {
        background-color: var(--background-secondary);
    }
    .container-3zZkKh,
    .rsvpCount-iCkObl {
        background-color: var(--background-secondary-alt);
    }
    // student hub
    .sidebarContainer-gUKhtL {
        background-color: var(--background-secondary-alt);
    }
    // server join
    .contentWrapper-3oy4Xo {
        background-color: var(--background-secondary);
    }
    // server leave feedback
    .root-cw9rWQ {
        background-color: var(--background-secondary-alt);
    }
    // membership screening
    .modal-2TOYtq {
        background-color: var(--background-secondary);
    }
    .formFieldWrapper-2LV3S6,
    .guildSidebar-UHnQqs {
        background-color: var(--background-secondary-alt);
    }
    // account switcher
    .authBox-1HR6Ha {
        background-color: var(--background-secondary);
    }
    .list-3-WAYB {
        background-color: var(--background-secondary-alt);
    }
    .navRow-dG-XX8 {
        background-color: var(--background-tertiary);
    }
    // invite
    .inviteBannerUpsell-1t_LYM {
        background-color: var(--background-secondary-alt);
    }
    // server template
    .ctaSection-3LqbxQ {
        background-color: var(--background-secondary-alt);
    }
    .formSection-23ecNl {
        background-color: var(--background-secondary);
    }
    .usagePill-P-Cmcv {
        background-color: var(--background-secondary);
    }
    .channelsWrapper-51IUFR,
    .rolesWrapper-1LLZrU {
        background-color: var(--background-secondary-alt);
    }
    // add bot
    .authorize-2xTTr- {
        background-color: var(--background-secondary);
    }
}