:is(.theme-dark, .theme-midnight) #app-mount .root_a28985 {
    &.uploadModal__6eb75 {
        background-color: var(--modal-background);
        .footer_f06dbb {
            box-shadow: inset 0 1px 0 hsl(var(--primary-900-hsl)/.6);
            background-color: var(--modal-footer-background);
        }
    }
}