.theme-midnight {
    ._6fd0e42f91edfda6-scroller {
        background-color: var(--background-base-lowest);
    }
    ._1dfaec293e55bc43-headerWave {
        color: var(--background-base-lowest);
    }
    ._1dfaec293e55bc43-bodyWaveGradientStop1,
    ._1dfaec293e55bc43-bodyWaveGradientStop3 {
        stop-color: var(--background-base-lower);
    }
    ._1dfaec293e55bc43-bodyWaveGradientStop2 {
        stop-color: var(--background-base-low);
    }
}