.theme-midnight {
    .scroller__6fd0e {
        background-color: var(--background-base-lowest);
    }
    .headerWave__1dfae {
        color: var(--background-base-lowest);
    }
    .bodyWaveGradientStop1__1dfae,
    .bodyWaveGradientStop3__1dfae {
        stop-color: var(--background-base-lower);
    }
    .bodyWaveGradientStop2__1dfae {
        stop-color: var(--background-base-low);
    }
}