:is(.theme-dark, .theme-midnight) #app-mount .root_a28985 {
    .header_cc5843 {
        box-shadow: none;
        background-color: var(--modal-background);
    }

    .sectionContent_b96e47 {
        background-color: var(--background-secondary);
    }

    .channels__99b5a {
        border-color: var(--background-secondary-alt);
        background-color: var(--background-secondary);
    }

    .cardPrimary__1ee6a {
        background-color: var(--background-secondary);
    }
    .default__23a5a {
        background-color: var(--background-primary);
    }
}