.theme-midnight {
    .c08b38911b1dcc2f-main:not(.c08b38911b1dcc2f-fullBorderWithGradient) {
        border-top: 1px solid var(--app-frame-border);
    }
    .fe70ca6739eeb5f0-prompt {
        border: 1px solid var(--border-normal);
    }
    .fe70ca6739eeb5f0-navButtons {
        background-color: var(--background-base-lowest);
    }
    .fe70ca6739eeb5f0-termsFieldBody {
        background-color: var(--background-base-low);
        border: 1px solid var(--border-subtle);
    }
}