:is(.theme-dark, .theme-midnight) #app-mount .promptContent__129f0 {
    .optionButtonWrapper_c86844.selected__31118 {
        background-color: var(--background-secondary);
    }
    .overlay_a15774 {
        background: none !important;
    }
}