.theme-midnight {
    .main_c08b38:not(.fullBorderWithGradient_c08b38) {
        border-top: 1px solid var(--app-border-frame);
        border-left: 1px solid var(--app-border-frame);
    }
    .prompt_fe70ca {
        border: 1px solid var(--border-normal);
    }
    .navButtons_fe70ca {
        background-color: var(--background-base-lowest);
    }
    .termsFieldBody_fe70ca {
        background-color: var(--background-base-low);
        border: 1px solid var(--border-subtle);
    }
}