:is(.theme-dark, .theme-midnight) #app-mount .promptContent__63c03 {
    .optionButtonWrapper__4072c.selected__90dd8 {
        background-color: var(--background-secondary);
    }
    .overlay_ef4f80 {
        background: none !important;
    }
}