.theme-midnight {
    .e5f3a99c23b47bde-premiumBrandRefreshBackground {
        background-color: var(--background-base-lowest) !important;
    }
    .e50a4da433dc80b9-premiumBrandRefreshHeader,
    .e50a4da433dc80b9-skuSelectModalContent.e50a4da433dc80b9-premiumBrandRefreshContent.e50a4da433dc80b9-premiumBrandRefreshContent {
        background-color: var(--background-base-lowest);
    }

    .d5200e6d16a6b1af-oneStepCheckoutTextWrapper {
        background-color: var(--background-base-lowest);
    }
    .d5200e6d16a6b1af-bodyGradient {
        background: linear-gradient(0deg, transparent 0, var(--background-base-lowest) 46.63%);
    }
}