.theme-midnight {
    .e5f3a99c23b47bde-premiumBrandRefreshBackground {
        background-color: var(--background-base-lowest) !important;
    }
    .e50a4da433dc80b9-premiumBrandRefreshHeader,
    .e50a4da433dc80b9-skuSelectModalContent.e50a4da433dc80b9-premiumBrandRefreshContent.e50a4da433dc80b9-premiumBrandRefreshContent {
        background-color: var(--background-base-lowest);
    }
}