.theme-midnight {
    ._1051dda1dcd41f38-confirmation {
        background-color: var(--background-base-lowest);
    }
    ._1051dda1dcd41f38-iconWrapper {
        background-color: var(--background-base-low);
    }
}