.theme-midnight {
    ._01c8cef726c85956-scroller {
        border-right: 1px solid var(--border-subtle);
        background-color: var(--background-base-lowest);
    }
    ._01c8cef726c85956-voters {
        background-color: var(--background-base-lowest);
    }
    ._01c8cef726c85956-voteSelected {
        background-color: var(--background-base-low);
    }
}
