.theme-midnight {
    .scroller__01c8c {
        border-right: 1px solid var(--border-subtle);
        background-color: var(--background-base-lowest);
    }
    .container__01c8c,
    .voters__01c8c {
        background-color: var(--background-base-lowest);
    }
    .voteSelected__01c8c {
        background-color: var(--background-base-low);
    }
}
