.theme-midnight {
    .modalRoot__5b400,
    .footer__5b400 {
        background-color: var(--background-base-lowest);
    }

    .targetList__5b400,
    .connectionRowHeader__5b400 {
        background-color: var(--background-base-low);
    }

    .connectionRowHeaderError__5b400 {
        background-color: hsl(var(--neutral-95-hsl) / 0.7);
    }
}