#app-mount .root-1CAIjD {
    .container-x8Y1ix,
    .guildRow-3fJnG6 {
        background-color: var(--background-secondary);
        &:hover {
            background-color: var(--background-tertiary);
        }
    }
    .rowContainer-3t7486 {
        background-color: var(--background-tertiary);
        &:hover {
            background-color: var(--background-primary);
        }
    }

    .sampleLink-5BWNy9 {
        color: var(--text-muted);
    }
}