#app-mount .root-g14mjS {
    .container-x8Y1ix,
    .guildRow-3fJnG6 {
        background-color: var(--background-secondary);
        &:hover {
            background-color: var(--background-tertiary);
        }
    }
    .rowContainer-3t7486 {
        background-color: var(--background-tertiary);
        &:hover {
            background-color: var(--background-primary);
        }
    }
    .lookLink-15mFoz.colorPrimary-2AuQVo,
    .lookBlank-21BCro {
        color: var(--header-primary);
    }

    .formTitle-2YQyhj {
        color: var(--header-primary);
    }
    .sampleLink-5BWNy9 {
        color: var(--text-muted);
    }
}