#app-mount .container-1NXEtd {
    // header
    .channelNotice-K4UfZY {
        border-color: var(--background-secondary);
    }
    // voice channel
    .wrapper-2fEmwW {
        .users-2JoyGL {
            background-color: var(--background-secondary-alt);
        }
        .total-1c5KCN {
            background-color: var(--background-secondary);
            &::after {
                border-right-color: var(--background-secondary);
            }
        }
    }
}