:is(.theme-dark, .theme-midnight) #app-mount .sidebar_e031be {
    nav {
        background-color: var(--background-primary);
    }
    [class*="scroller"] {
        background-color: var(--background-primary);
        &.fade_ba0fa0 {
            background-color: transparent;
        }
    }
}