:is(.theme-dark, .theme-midnight) #app-mount .sidebar_a4d4d9 {
    nav {
        background-color: var(--background-primary);
    }
    [class*="scroller"] {
        background-color: var(--background-primary);
        &.fade_eed6a8 {
            background-color: transparent;
        }
    }
}