:is(.theme-dark, .theme-midnight) .sidebar_e031be {
    .searchBar__621ec {
        background-color: var(--background-primary);
        .searchBarComponent__8f95f {
            background-color: var(--background-secondary);
        }
    }
}