:is(.theme-dark, .theme-midnight) #app-mount .sidebar_e031be {
    .container_f41675:not(.hasBanner__04337) .header__77c95 {
        background-color: var(--background-primary);
        &:hover {
            background-color: var(--background-secondary);
        }
    }
    .hasBanner__04337 [class*="scroller-"] {
        background-color: transparent;
    }
}