:is(.theme-dark, .theme-amoled) .sidebar-1tnWFu {
    .panels-3wFtMD {
        .container-1CH86i, .panel-ufc1-o, .wrapper-VSquwh > div {
            background-color: var(--background-primary);
        }
    }
}