:is(.theme-dark, .theme-midnight) .sidebar_e031be {
    .panels__58331 {
        background-color: var(--background-primary);
        > div, .wrapper_e832ee > div {
            background: var(--background-primary) !important;
        }
    }
}