:is(.theme-dark, .theme-midnight) .sidebar_c48ade {
    .panels_c48ade {
        background-color: var(--background-primary);
        // Quest Bar -> Activity Panel -> RTC Connection -> Account
        .wrapper__0d616,
        .panel__5dec7,
        .container_e131a9,
        .content__37e49 {
            background-color: var(--background-primary);
        }
    }
}