:is(.theme-dark, .theme-midnight) .sidebar_ded4b5 {
    .panels__58331 {
        background-color: var(--background-primary);
        .container_ca50b9, .panels__58331, .wrapper__0ed4a > div {
            background-color: var(--background-primary);
        }
    }
}