:is(.theme-dark, .theme-midnight) .sidebar_ded4b5 {
    .panels__58331 {
        background-color: var(--background-primary);
        > div, .wrapper__0ed4a > div {
            background: var(--background-primary) !important;
        }
    }
}