:root {
    /* ignore these, unless you wanna mess with them, then go for it. they may be removed at any time, though. */
    --lightness-600-660: 0%;
    --lightness-700-760: 0%;
    --lightness-800-860: 0%;
    --lightness-900: 0%;

    --primary-100: hsl(var(--primary-100-hsl)/1);
    --primary-100-hsl: 0 calc(var(--saturation-factor, 1)*0%) 97.6%;
    --primary-130: hsl(var(--primary-130-hsl)/1);
    --primary-130-hsl: 220 calc(var(--saturation-factor, 1)*13%) 95.5%;
    --primary-160: hsl(var(--primary-160-hsl)/1);
    --primary-160-hsl: 210 calc(var(--saturation-factor, 1)*11.1%) 92.9%;
    --primary-200: hsl(var(--primary-200-hsl)/1);
    --primary-200-hsl: 216 calc(var(--saturation-factor, 1)*9.8%) 90%;
    --primary-230: hsl(var(--primary-230-hsl)/1);
    --primary-230-hsl: 210 calc(var(--saturation-factor, 1)*9.1%) 87.1%;
    --primary-260: hsl(var(--primary-260-hsl)/1);
    --primary-260-hsl: 214 calc(var(--saturation-factor, 1)*8.4%) 83.7%;
    --primary-300: hsl(var(--primary-300-hsl)/1);
    --primary-300-hsl: 210 calc(var(--saturation-factor, 1)*9.3%) 78.8%;
    --primary-330: hsl(var(--primary-330-hsl)/1);
    --primary-330-hsl: 215 calc(var(--saturation-factor, 1)*8.8%) 73.3%;
    --primary-345: hsl(var(--primary-345-hsl)/1);
    --primary-345-hsl: 214 calc(var(--saturation-factor, 1)*8.4%) 67.5%;
    --primary-360: hsl(var(--primary-360-hsl)/1);
    --primary-360-hsl: 214 calc(var(--saturation-factor, 1)*8.1%) 61.2%;
    --primary-400: hsl(var(--primary-400-hsl)/1);
    --primary-400-hsl: 223 calc(var(--saturation-factor, 1)*5.8%) 52.9%;
    --primary-430: hsl(var(--primary-430-hsl)/1);
    --primary-430-hsl: 229 calc(var(--saturation-factor, 1)*4.8%) 44.9%;
    --primary-460: hsl(var(--primary-460-hsl)/1);
    --primary-460-hsl: 228 calc(var(--saturation-factor, 1)*5.2%) 38%;
    --primary-500: hsl(var(--primary-500-hsl)/1);
    --primary-500-hsl: 228 calc(var(--saturation-factor, 1)*6%) 32.5%;
    --primary-530: hsl(var(--primary-530-hsl)/1);
    --primary-530-hsl: 227 calc(var(--saturation-factor, 1)*6.5%) 27.3%;
    --primary-560: hsl(var(--primary-560-hsl)/1);
    --primary-560-hsl: 225 calc(var(--saturation-factor, 1)*6.7%) 23.5%;
    --primary-600: hsl(var(--primary-600-hsl)/1);
    --primary-600-hsl: 223 calc(var(--saturation-factor, 1)*6.7%) calc(var(--lightness-600-660, 0) + 20.6%);
    --primary-630: hsl(var(--primary-630-hsl)/1);
    --primary-630-hsl: 220 calc(var(--saturation-factor, 1)*6.5%) calc(var(--lightness-600-660, 0) + 18%);
    --primary-645: hsl(var(--primary-645-hsl)/1);
    --primary-645-hsl: 220 calc(var(--saturation-factor, 1)*7%) calc(var(--lightness-600-660, 0) + 16.9%);
    --primary-660: hsl(var(--primary-660-hsl)/1);
    --primary-660-hsl: 228 calc(var(--saturation-factor, 1)*6.7%) calc(var(--lightness-600-660, 0) + 14.7%);
    --primary-700: hsl(var(--primary-700-hsl)/1);
    --primary-700-hsl: 225 calc(var(--saturation-factor, 1)*6.3%) calc(var(--lightness-700-760, 0) + 12.5%);
    --primary-730: hsl(var(--primary-730-hsl)/1);
    --primary-730-hsl: 225 calc(var(--saturation-factor, 1)*7.1%) calc(var(--lightness-700-760, 0) + 11%);
    --primary-760: hsl(var(--primary-760-hsl)/1);
    --primary-760-hsl: 220 calc(var(--saturation-factor, 1)*6.4%) calc(var(--lightness-700-760, 0) + 9.2%);
    --primary-800: hsl(var(--primary-800-hsl)/1);
    --primary-800-hsl: 220 calc(var(--saturation-factor, 1)*8.1%) calc(var(--lightness-800-860, 0) + 7.3%);
    --primary-830: hsl(var(--primary-830-hsl)/1);
    --primary-830-hsl: 240 calc(var(--saturation-factor, 1)*4%) calc(var(--lightness-800-860, 0) + 4.9%);
    --primary-860: hsl(var(--primary-860-hsl)/1);
    --primary-860-hsl: 240 calc(var(--saturation-factor, 1)*7.7%) calc(var(--lightness-800-860, 0) + 2.5%);
    --primary-900: hsl(var(--primary-900-hsl)/1);
    --primary-900-hsl: 0 calc(var(--saturation-factor, 1)*0%) calc(var(--lightness-900, 0) + 0.8%);
}

.theme-dark,
html.theme-dark .theme-light .root-1CAIjD,
.theme-light.popout-15UxD6 {
    --activity-card-background: var(--primary-830);
    --android-navigation-bar-background: var(--primary-830);
    --android-navigation-scrim-background: hsl(var(--primary-830-hsl)/0.5);
    --android-ripple: hsl(var(--white-500-hsl)/0.07);
    --background-accent: var(--primary-760);
    --background-floating: var(--primary-830);
    --background-message-hover: hsl(var(--primary-900-hsl)/0.06);
    --background-mobile-primary: var(--black-500);
    --background-mobile-secondary: var(--primary-860);
    --background-modifier-accent: hsl(var(--primary-760-hsl)/0.48);
    --background-modifier-active: hsl(var(--primary-760-hsl)/0.48);
    --background-modifier-hover: hsl(var(--primary-760-hsl)/0.4);
    --background-modifier-selected: hsl(var(--primary-760-hsl)/0.6);
    --background-nested-floating: var(--primary-830);
    --background-primary: var(--primary-900);
    --background-secondary: var(--primary-830);
    --background-secondary-alt: var(--primary-800);
    --background-tertiary: var(--primary-860);
    --bug-reporter-modal-submitting-background: hsl(var(--primary-800-hsl)/0.6);
    --button-outline-brand-background: hsl(var(--white-500-hsl)/0);
    --button-outline-brand-text: var(--white-500);
    --button-outline-brand-text-active: var(--white-500);
    --button-outline-brand-text-hover: var(--white-500);
    --button-outline-danger-background: hsl(var(--white-500-hsl)/0);
    --button-outline-danger-background-active: var(--red-460);
    --button-outline-danger-background-hover: var(--red-430);
    --button-outline-danger-border: var(--red-400);
    --button-outline-danger-border-active: var(--red-430);
    --button-outline-danger-border-hover: var(--red-430);
    --button-outline-danger-text: var(--white-500);
    --button-outline-danger-text-active: var(--white-500);
    --button-outline-danger-text-hover: var(--white-500);
    --button-outline-positive-background: hsl(var(--white-500-hsl)/0);
    --button-outline-positive-text: var(--white-500);
    --button-outline-positive-text-active: var(--white-500);
    --button-outline-positive-text-hover: var(--white-500);

    --button-outline-primary-background: var(--primary-700);
    --button-outline-primary-background-active: var(--primary-600);
    --button-outline-primary-background-hover: var(--primary-630);
    --button-outline-primary-border: var(--primary-700);
    --button-outline-primary-border-active: var(--primary-600);
    --button-outline-primary-border-hover: var(--primary-630);
    --button-outline-primary-text: var(--white-500);
    --button-outline-primary-text-active: var(--white-500);
    --button-outline-primary-text-hover: var(--white-500);
    
    --button-secondary-background: var(--primary-700);
    --button-secondary-background-active: var(--primary-600);
    --button-secondary-background-disabled: var(--primary-700);
    --button-secondary-background-hover: var(--primary-630);
    --channel-icon: var(--primary-400);
    --channel-text-area-placeholder: var(--primary-400);
    --channels-default: var(--primary-360);
    --channeltextarea-background: var(--primary-830);
    --chat-background: var(--black-500);
    --chat-border: var(--primary-700);
    --chat-input-container-background: var(--primary-600);
    --deprecated-card-bg: hsl(var(--primary-700-hsl)/0.6);
    --deprecated-card-editable-bg: hsl(var(--primary-700-hsl)/0.3);
    --deprecated-quickswitcher-input-background: var(--primary-400);
    --deprecated-quickswitcher-input-placeholder: hsl(var(--white-500-hsl)/0.3);
    --deprecated-store-bg: var(--primary-600);
    --deprecated-text-input-bg: var(--primary-700);
    --deprecated-text-input-border: hsl(var(--black-500-hsl)/0.3);
    --deprecated-text-input-border-disabled: var(--primary-700);
    --deprecated-text-input-border-hover: var(--primary-900);
    --deprecated-text-input-prefix: var(--primary-200);
    --display-banner-overflow-background: hsl(var(--primary-700-hsl)/0.5);
    --forum-post-extra-media-count-container-background: hsl(var(--primary-660-hsl)/0.8);
    --forum-post-tag-background: hsl(var(--primary-660-hsl)/0.9);
    --header-primary: var(--primary-130);
    --header-secondary: var(--primary-345);
    --home-background: var(--primary-760);
    --home-card-resting-border: hsl(var(--transparent-hsl)/0);
    --info-danger-text: var(--white-500);
    --info-help-text: var(--white-500);
    --info-positive-text: var(--white-500);
    --info-warning-text: var(--white-500);
    --input-background: var(--primary-800);
    --input-placeholder-text: var(--input-placeholder-text-dark);
    --interactive-active: var(--primary-130);
    --interactive-hover: var(--primary-230);
    --interactive-muted: var(--primary-500);
    --interactive-normal: var(--primary-345);
    --live-stage-tile-border: hsl(var(--primary-500-hsl)/0.6);
    --logo-primary: var(--white-500);
    --mention-background: hsl(var(--brand-500-hsl)/0.3);
    --modal-background: var(--primary-860);
    --modal-footer-background: var(--primary-900);
    --profile-gradient-message-input-border: hsl(var(--primary-500-hsl)/0.48);
    --profile-gradient-note-background: hsl(var(--black-500-hsl)/0.3);
    --profile-gradient-overlay: hsl(var(--black-500-hsl)/0.6);
    --profile-gradient-overlay-synced-with-user-theme: hsl(var(--black-500-hsl)/0.8);
    --profile-gradient-profile-body-background-hover: hsl(var(--white-500-hsl)/0.16);
    --profile-gradient-role-pill-background: hsl(var(--primary-660-hsl)/0.5);
    --profile-gradient-role-pill-border: hsl(var(--white-500-hsl)/0.2);
    --profile-gradient-section-box: hsl(var(--black-500-hsl)/0.45);
    --scrollbar-auto-scrollbar-color-thumb: var(--primary-700);
    --scrollbar-auto-scrollbar-color-track: var(--primary-630);
    --scrollbar-auto-thumb: var(--primary-600);
    --scrollbar-auto-track: var(--primary-860);
    --scrollbar-thin-thumb: var(--primary-700);
    --scrollbar-thin-track: hsl(var(--black-500-hsl)/0);
    --spoiler-hidden-background: var(--primary-700);
    --spoiler-revealed-background: var(--primary-660);
    --status-danger-text: var(--white-500);
    --status-positive-text: var(--white-500);
    --status-warning-text: var(--black-500);
    --text-muted: var(--primary-345);
    --text-normal: var(--primary-300);
    --textbox-markdown-syntax: var(--primary-360);
    --user-profile-header-overflow-background: hsl(var(--primary-700-hsl)/0.5);
    --elevation-stroke: 0 0 0 1px hsl(var(--primary-600-hsl)/0.15);
    --elevation-low: 0 1px 0 hsl(var(--primary-630-hsl)/0.2),0 1.5px 0 hsl(var(--primary-600-hsl)/0.05),0 2px 0 hsl(var(--primary-630-hsl)/0.05);
    --elevation-medium: 0 4px 4px hsl(var(--black-500-hsl)/0.16);
    --elevation-high: 0 8px 16px hsl(var(--black-500-hsl)/0.24);

    --profile-gradient-primary-color: var(--background-secondary-alt);
    --profile-gradient-secondary-color: var(--background-secondary-alt);
    --profile-gradient-overlay-color: transparent;
    --profile-gradient-button-color: var(--button-secondary-background);
    --profile-avatar-border-color: var(--background-secondary-alt);
    --profile-message-input-border-color: var(--background-modifier-accent);
    --profile-body-background-color: var(--background-primary);
    --profile-body-background-hover: var(--background-modifier-hover);
    --profile-body-divider-color: var(--background-modifier-accent);
    --profile-role-pill-background-color: var(--background-secondary-alt);
    --profile-role-pill-border-color: var(--interactive-normal);

    --search-popout-option-fade: linear-gradient(90deg,hsl(var(--primary-830-hsl)/0),hsl(var(--primary-830-hsl)/1) 80%);
    --search-popout-option-fade-hover: linear-gradient(90deg,hsl(var(--primary-800-hsl)/0),var(--primary-800) 50%);
}