:is(.theme-dark, .theme-amoled) #app-mount .chat-9g_3Xj, .container-3s2w-i {
    .form-3qe0Ni {
        .optionPill-2kmuZR {
            background-color: var(--primary-730);
        }
        .channelAttachmentArea-HwpkuQ {
            .upload-vLbqu- {
                background-color: var(--background-primary);
            }
        }
    }
}