:is(.theme-dark, .theme-midnight) #app-mount .chat__52833, .container__694a1 {
    .form_d8a4a1 {
        .optionPill__618f2 {
            background-color: var(--primary-730);
        }
        .channelAttachmentArea__5e46a {
            .upload_c98ecb {
                background-color: var(--background-primary);
            }
        }
    }
}