:is(.theme-dark, .theme-midnight) #app-mount .container_b92032 {
    .mainCard__0ec2c, .container__50cdd, .increasedActivityMainCard_e53744, .container__852f7, .container__7afce {
        background-color: var(--background-tertiary);
    }
    .loadingCard_ecb256, .card__2c1e2 {
        background-color: var(--background-tertiary);
    }
    .container__7d004 {
        &:hover {
            background-color: var(--background-modifier-hover);
        }
        &:active {
            background-color: var(--background-modifier-active);
        }
        &.isOpen_d88bb6 {
            background-color: var(--background-modifier-selected);
        }
        .textContentFooter_e03480 {
            background: transparent;
        }
    }
    .container_de2a56, .container__5130c {
        &:active {
            background-color: var(--background-modifier-active);
        }
        &.isOpen__8593d, &.isOpen__036bf {
            background-color: var(--background-modifier-selected);
        }
    }
}