#app-mount .container-3wLKDe {
    background-color: var(--background-primary);
    .mainCard-3KBsBI,
    .container-3arpDl,
    .container-2nXUah,
    .container-2_J666 {
        background-color: var(--background-tertiary);
    }
    .container-2qVG6q:active {
        background-color: var(--background-modifier-active);
    }
    .tagFiltered-1YWPlr,
    .pill-3pRQlO.clickable-3YTfAq:not(.disabled-3Rezaw):hover {
        background-color: var(--background-modifier-hover);
    }
}