#app-mount .container-3wLKDe {
    background-color: var(--background-primary);
    .mainCard-3KBsBI:not(.isOpen-2OXbFs):not(.container-2qVG6q:active, .container-1PloNW:active),
    .container-3arpDl,
    .container-2nXUah,
    .container-2_J666,
    .loadingCard-3pIp9h {
        background-color: var(--background-tertiary);
    }
    .tagPill-1kSbgP {
        background-color: hsla(0, calc(var(--saturation-factor, 1) * 0%), 8%, 0.8);
    }
    .tag-19iIl1,
    .tagsButton-4pwOKH,
    .sortButton-n-cIAH,
    .pill-3pRQlO.clickable-3YTfAq:not(.disabled-3Rezaw):hover {
        background-color: var(--background-secondary);
    }
    .tagFiltered-3GfGpy {
        background-color: var(--background-modifier-selected);
    }
    .textContentFooter-2JnNv8 {
        background: linear-gradient(
            0deg,
            hsla(0, calc(var(--saturation-factor, 1) * 0%), 3%, 1),
            hsla(0, calc(var(--saturation-factor, 1) * 0%), 3%, 0.97) 36px,
            hsla(0, calc(var(--saturation-factor, 1) * 0%), 3%, 0.4)
        );
    }
}