:is(.theme-dark, .theme-midnight) #app-mount .chat_f75fb0 {
    .headerContent_a7218d .searchBox_a7218d {
        background-color: var(--input-background);
        .searchBoxInput_a7218d {
            color: var(--primary-260);
            &::placeholder {
                color: hsl(var(--white-500-hsl)/0.3);
            }
        }
        .searchIcon_a7218d {
            color: hsl(var(--white-500-hsl)/0.3);
        }
        .closeIcon_a7218d {
            color: var(--interactive-normal);
            &:hover {
                color: var(--interactive-hover);
            }
            &:focus {
                color: var(--interactive-active);
            }
        }
    }
}
