#app-mount {
    .background-fkKrXt {
        background-color: var(--background-primary);
    }
    // main card
    .container-2Hi7Km {
        background-color: var(--background-secondary);
    }
    // active now card
    .container-xwOzwi {
        background-color: var(--background-secondary);
        @media (max-width: 1300px) {
            background: none;
        }
    }
    .container-3HMTms {
        background-color: var(--background-secondary);
		&:not(.fillerCard-28hW81) {
			&:hover {
				background-color: var(--background-secondary-alt);
			}
			@media (max-width: 1300px) {
				&:hover {
					background-color: var(--background-secondary);
				}
			}
		}
    }
    // top messages card
    .card-3x20HF .reaction-2A2y9y,
    .container-4HqGB3.background-3X6Uak,
    .emptyStateContainer-xWOMPJ,
    .options-2psDVJ {
        background-color: var(--background-secondary-alt);
    }
    .option-3x6TXa:hover {
        background-color: var(--background-modifier-hover);
    }
    .card-3x20HF,
    .homeContent-2_a0jF .wrapper-15CKyy {
        background-color: var(--background-secondary);
    }
}