:is(.theme-dark, .theme-midnight) #app-mount {
    // Gifts
    .tile_ab47a1 {
        background-color: var(--background-secondary);
        &:hover {
            background-color: var(--background-modifier-hover);
        }
        .invalidPoop_ff31dd {
            background-color: hsl(var(--primary-700-hsl)/0.3);
        }
    }
    // Activity Invites
    .invite_f61cb8 {
        border-color: hsl(var(--primary-800-hsl)/0.9);
        background-color: hsl(var(--primary-830-hsl)/0.6);
    }
    // Polls
    .container_a1531c {
        .answer_cf2c85:hover .answerInner_cf2c85.currentlyVoting_cf2c85:not(.selected_cf2c85) {
            outline-color: var(--background-secondary-alt);
        }

        .votePercentageBar_cf2c85 {
            background-color: var(--background-secondary-alt);
        }
    }
}