:is(.theme-dark, .theme-midnight) #app-mount {
    // Gifts
    .tile_ab47a1 {
        background-color: var(--background-secondary);
        &:hover {
            background-color: var(--background-modifier-hover);
        }
        .invalidPoop_ff31dd {
            background-color: var(--background-secondary-alt);
        }
    }
    // Spotify Invites
    .invite_cdcad9 {
        border-color: var(--background-secondary-alt);
        background-color: var(--background-secondary);
    }
    // Polls -- scuffed but it works
    .container_a1531c {
        background-color: var(--background-secondary);

        .enabled_b97e9a[aria-checked="false"] .answerInner_cf2c85:hover {
            outline-color: var(--background-secondary-alt);
        }

        .normalStylesDefault_b5cb3c .votePercentageBar_cf2c85 {
            background-color: var(--background-secondary-alt);
        }
    }
}