:is(.theme-dark, .theme-amoled) #app-mount .chat__52833 {
    // Roles
    .container__10dc7,
    .container__7590f,
    .header__60bef,
    .scrollerContainer_bf5dbd,
    .emptyPage__3e15d {
        background-color: transparent;
    }
    .prompt__1b100 {
        background-color: var(--background-tertiary);
        .selected__90dd8 {
            background-color: var(--background-modifier-active);
        }
    }
    .profileCard_bd55ee {
        background-color: var(--background-tertiary);
    }
    // Channels
    .channelRow__96673 {
        background-color: var(--background-tertiary);
        &:not(.disabled__583e7):hover {
            background-color: var(--background-modifier-hover);
        }
    }
}