:is(.theme-dark, .theme-midnight) #app-mount .chat__52833 {
    // Roles
    .container__03ec9,
    .container__6b2e5,
    .header__71942,
    .scrollerContainer_dda72c,
    .emptyPage_feb902 {
        background-color: transparent;
    }
    .prompt__1b100 {
        background-color: var(--background-tertiary);
        .selected__31118 {
            background-color: var(--background-modifier-active);
        }
    }
    .profileCard__1d74b {
        background-color: var(--background-tertiary);
    }
    // Channels
    .channelRow__538ef {
        background-color: var(--background-tertiary);
        &:not(.disabled__556e5):hover {
            background-color: var(--background-modifier-hover);
        }
    }
}