:is(.theme-dark, .theme-midnight) #app-mount .chat_f75fb0 {
    // Roles
    .prompt__5d7c9 {
        background-color: var(--background-tertiary);
        .selected__270d7 {
            background-color: var(--background-modifier-active);
        }
    }
    .profileCard__5d7c9 {
        background-color: var(--background-tertiary);
    }
    // Channels
    .channelRow_e4503a {
        background-color: var(--background-tertiary);
        &:not(.disabled_e4503a):hover {
            background-color: var(--background-modifier-hover);
        }
    }
}