#app-mount .container-cH6QoY {
    .callContainer-BGIngG,
    .scroller-35tvpe,
    .container-3r7mfc,
    .participants-3hk3ND,
    .rowContainer-jDvyA4 {
        background-color: var(--background-primary);
    }
    .tileContainer-Os085F {
        background-color: var(--background-primary);
        &:hover {
            background-color: var(--background-secondary-alt);
        }
    }

    .divider-vv_iHh,
    .separator-3FDGQ4 {
        background-color: var(--background-secondary);
        border-color: var(--background-secondary);
    }

    .container-1IyjjY {
        background-color: var(--background-secondary);
        &:hover {
            background-color: var(--background-tertiary);
        }
    }

    .iconBackground-3qSXiM {
        background-color: var(--background-secondary-alt);
    }
}