:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e {
    .wrapper_d880dc.minimum_d880dc {
        background-color: var(--background-primary);
    }
    .iconBackground_e5ee5b {
        background-color: var(--background-secondary-alt);
    }
    .container_dc3fc4:hover {
        background-color: var(--background-modifier-hover);
    }
    .colorable_ef18ee.primaryDark_ef18ee {
        background-color: var(--background-secondary-alt);
        &.active_ef18ee, &:hover {
            background-color: var(--background-modifier-hover);
        }
    }
}