:is(.theme-dark, .theme-amoled) #app-mount .chat-9g_3Xj {
    .wrapper-1gVUIN.minimum-fXpVNc {
        background-color: var(--background-primary);
    }
    .iconBackground-3qSXiM {
        background-color: var(--background-secondary-alt);
    }
    .container-1IyjjY:hover {
        background-color: var(--background-modifier-hover);
    }
}