:is(.theme-dark, .theme-midnight) #app-mount .chat__52833 {
    .wrapper__6bf2d.minimum__7f356 {
        background-color: var(--background-primary);
    }
    .iconBackground__62649 {
        background-color: var(--background-secondary-alt);
    }
    .container__3aeff:hover {
        background-color: var(--background-modifier-hover);
    }
}