:is(.theme-dark, .theme-amoled) #app-mount .chat__52833 {
    .wrapper_bd2abe.minimum_ebf000 {
        background-color: var(--background-primary);
    }
    .iconBackground__61963 {
        background-color: var(--background-secondary-alt);
    }
    .container__515b3:hover {
        background-color: var(--background-modifier-hover);
    }
}