:is(.theme-dark, .theme-amoled) #app-mount .container-1YVRxo {
    .header__02652, .autocompleteArrow__353a5 {
        background-color: var(--background-tertiary);
    }
    .sectionTag_b0df68 {
        background-color: var(--background-secondary);
    }
}