:is(.theme-dark, .theme-amoled) #app-mount .container-1YVRxo {
    .header-PfVfAO, .autocompleteArrow-2CRgr2 {
        background-color: var(--background-tertiary);
    }
    .sectionTag-euh3ZW {
        background-color: var(--background-secondary);
    }
}