:is(.theme-dark, .theme-midnight) #app-mount .container_b1d738 {
    .header_def8e2, .autocompleteArrow__6156d {
        background-color: var(--background-tertiary);
    }
    .sectionTag__03ea5 {
        background-color: var(--background-secondary);
    }
}