.theme-midnight {
    .addGamePopout_cc46f0 {
        box-shadow:
            0 0 0 1px var(--border-subtle),
            var(--legacy-elevation-high);
        border-radius: 10px;
        background-color: var(--background-base-low);
    }
}