:is(.theme-dark, .theme-midnight) #app-mount .container_e84cda {
    .header__02652, .autocompleteArrow__353a5 {
        background-color: var(--background-tertiary);
    }
    .sectionTag_b0df68 {
        background-color: var(--background-secondary);
    }
}