.theme-midnight {
    .cc46f0f859f26200-addGamePopout {
        box-shadow:
            0 0 0 1px var(--border-subtle),
            var(--legacy-elevation-high);
        background-color: var(--background-base-low);
    }
}