.theme-midnight {
    ._13533e3c5791980f-autocomplete {
        border: 1px solid var(--border-muted);
        background-color: var(--background-base-low);
        ._14245bb948377a25-wrapper {
            background-color: var(--background-base-low);
        }

        ._4e6cebf8beed1ad8-wrapper {
            border-right: 1px solid var(--border-muted);
        }
    }
}