:is(.theme-dark, .theme-midnight) #app-mount .autocomplete_df266d {
    background-color: var(--background-tertiary);
    .categoryHeader_f97a5f {
        background-color: var(--background-tertiary);
    }
}