.theme-midnight {
    // Mentions
    .autocomplete__6b0e0 {
        border: 1px solid var(--border-faint);
    }

    // Slash Commands
    .autocomplete__13533 {
        border: 1px solid var(--border-faint);
        background-color: var(--background-base-low);
        .wrapper__14245 {
            background-color: var(--background-base-low);
        }

        .wrapper__4e6ce {
            border-right: 1px solid var(--border-faint);
            background-color: var(--background-base-lower);
        }

        .base__13533:hover {
            background-color: var(--background-surface-high);
        }
    }
}