:is(.theme-dark, .theme-midnight) #app-mount .autocomplete__743a5 {
    background-color: var(--background-tertiary);
    .categoryHeader__70c8e {
        background-color: var(--background-tertiary);
    }
}