.theme-midnight {
    .autocompleteArrow_d5ae15,
    .header_d5ae15 {
        background-color: var(--background-surface-high);
    }

    .container_d5ae15 {
        background-color: var(--background-base-low);
    }

    .row_d5ae15 {
        &:focus .rowInner_d5ae15,
        &:hover .rowInner_d5ae15 {
            background-color: var(--background-mod-faint);
        }

        &.selected_d5ae15 .rowInner_d5ae15 {
            // No variable uses this token; using it directly since --background-modifier-selected is too bright
            background-color: var(--opacity-16);
        }
    }
}