:is(.theme-dark, .theme-amoled) #app-mount .customColorPicker__3cb6a {
    border: none;
    box-shadow: var(--dark-elevation-border), var(--dark-elevation-high);
    background-color: var(--background-tertiary);
}