:is(.theme-dark, .theme-midnight) #app-mount .customColorPicker_bbc020 {
    border: none;
    box-shadow: var(--dark-elevation-border), var(--dark-elevation-high);
    background-color: var(--background-tertiary);
}