.theme-midnight {
    .menu_c1e9c4 {
        border-color: var(--border-faint);
        background-color: var(--background-surface-high);
    }
    .button_f563df {
        background-color: var(--background-mod-faint);
        &:hover {
            background-color: var(--background-mod-subtle);
        }
        &:active {
            background-color: var(--background-mod-strong);
        }
    }
    .menu__43313 .customMenuItem__43313 .customNotches__43313 {
        color: var(--background-surface-high);
    }
}