:is(.theme-dark, .theme-midnight) #app-mount .contentWarningPopout__7d8c2 {
    background-color: var(--background-floating);
    .footer__36118 {
        background-color: var(--background-tertiary);
    }
}