.theme-midnight {
    .contentWarningPopout_d2eed6 {
        background-color: var(--background-surface-high);
    }
    .footer_d2eed6 {
        background-color: var(--background-mod-faint);
    }
}