.theme-midnight {
    .d2eed6166a4ad770-contentWarningPopout {
        background-color: var(--background-surface-high);
    }
    .d2eed6166a4ad770-footer {
        background-color: var(--background-mod-muted);
    }
}