:is(.theme-dark, .theme-midnight) #app-mount .contentWarningPopout__84e38 {
    background-color: var(--background-floating);
    .footer__068c0 {
        background-color: var(--background-tertiary);
    }
}