.theme-midnight {
    .c1e9c47c23f12ca3-menu {
        border-color: var(--border-muted);
        background-color: var(--background-surface-high);
    }
    .f563df886a7377be-button {
        background-color: var(--background-mod-muted);
        &:hover {
            background-color: var(--background-mod-subtle);
        }
        &:active {
            background-color: var(--background-mod-strong);
        }
    }
    ._43313a79e7443995-menu ._43313a79e7443995-customMenuItem ._43313a79e7443995-customNotches {
        color: var(--background-surface-high);
    }
}