.contentWrapper-3vHNP2,
.emojiPicker-6YCk8a {
    background-color: var(--background-tertiary);
    .wrapper-1NNaWG {
        background-color: var(--background-tertiary);
    }
    .categoryItemDefaultCategorySelected-2YeRUu, 
    .categoryItemDefaultCategorySelected-2YeRUu:hover {
        background-color: var(--background-secondary-alt);
    }
    .inspector-DFKXwB {
        background-color: var(--background-secondary-alt);
    }
    .navButtonActive-1EqC5l {
        background-color: var(--background-modifier-selected);
    }
    .container-2oNtJn,
    .container-1SX9VC {
        background-color: var(--searcharea-background);
    }
}
.wrapper-22rqw6 {
    background-color: var(--background-secondary);
}