#app-mount .drawerSizingWrapper-1txdWG {
    // Gifs
    .emptyHintCard-2A7Tng {
        background-color: var(--background-primary);
    }
    // Emojis
    .imageLoading-2uloYN {
        border-radius: 35%;
        background-color: var(--background-secondary-alt);
        background-image: none;
    }
}