:is(.theme-dark, .theme-midnight) #app-mount .drawerSizingWrapper_e20f1f {
    // Gifs
    .emptyHintCard_cac1d9 {
        background-color: var(--background-primary);
    }
    // Emojis
    .imageLoading_fb7de7 {
        border-radius: 35%;
        background-color: var(--background-secondary-alt);
        background-image: none;
    }
}