:is(.theme-dark, .theme-amoled) #app-mount .drawerSizingWrapper__30274 {
    // Gifs
    .emptyHintCard_f3e81a {
        background-color: var(--background-primary);
    }
    // Emojis
    .imageLoading__37d01 {
        border-radius: 35%;
        background-color: var(--background-secondary-alt);
        background-image: none;
    }
}