:is(.theme-dark, .theme-midnight) #app-mount .drawerSizingWrapper__08434 {
    // Gifs
    .emptyHintCard__2dc39 {
        background-color: var(--background-primary);
    }
    // Emojis
    .imageLoading__1859b {
        border-radius: 35%;
        background-color: var(--background-secondary-alt);
        background-image: none;
    }
}