.theme-midnight {
    ._0f481cbbd7530492-popoutContainer {
        background-color: color-mix(in oklab, var(--background-surface-high), transparent 10%);
    }
    .d5cd2da5733d0b6e-guildSection {
        background-color: var(--background-base-low);
        border-top: 1px solid var(--border-muted);
    }
}