.theme-midnight {
    .popoutContainer__0f481 {
        background-color: color-mix(in oklab, var(--background-surface-high), transparent 10%);
    }
    .guildSection_d5cd2d {
        background-color: var(--background-base-low);
        border-top: 1px solid var(--border-faint);
    }
}