.theme-midnight {
    .container__2692d,
    .container_fc561d,
    .container_f6bd5f,
    .container__03885 {
        border: 1px solid var(--app-border-frame);
        background-color: var(--background-base-low);
    }

    .channelHeader__35a7e,
    .container__0f711 {
        background-color: var(--background-base-low);
    }

    .messageContainer__95796,
    .messages__1ccd1,
    .forumPost__7d15e {
        background-color: var(--background-base-lowest);
    }

    .tutorial__2692d,
    .upsellContainer__4a7f0,
    .icon_d404a3 {
        background-color: var(--background-surface-high);
    }
}