#app-mount {
    .tertiary-1e-lAP,
    .primary-38Hs-h:hover:not(.disabled-184-il),
    .secondary-2bzKEX {
        background-color: var(--background-secondary-alt);
        &:hover {
            background-color: var(--background-primary);
        }
    }
    .messageContainer-3VTXBC,
    .messages-23can0 {
        background-color: var(--background-secondary-alt);
    }
    .messages-23can0 .content-3spvdd {
        background-color: var(--background-secondary-alt);
    }
    .tutorialIcon-25VF3Q {
        background-color: var(--background-secondary-alt);
    }
    .icon-2yhmi8 {
        background-color: var(--background-secondary-alt);
    }
}