.theme-midnight {
    .fc561d3c125f6a2f-container {
        background-color: var(--background-base-low);
    }

    ._35a7ecf3aba351b2-channelHeader,
    ._0f7115b4703f7b3a-container {
        background-color: var(--background-base-low);
    }

    ._957962c2bd49881b-messageContainer,
    ._1ccd1ba5cb2270c2-messages,
    ._7d15e06278d36a38-forumPost {
        background-color: var(--background-base-lowest);
    }

    ._2692d04af6567ec8-tutorial,
    ._4a7f08b7f81c8b8d-upsellContainer,
    .d404a36e7b59cdcf-icon {
        background-color: var(--background-surface-high);
    }
}