@forward 'add-game';
@forward 'add-tags';
@forward 'autocomplete';
@forward 'channel-permissions';
@forward 'content-warning';
@forward 'context-menu';
@forward 'dropdowns';
@forward 'emoji-info';
@forward 'inbox';
@forward 'messages';
@forward 'popout-list';
@forward 'quick-select';
@forward 'search';
@forward 'threads';