@forward 'add-game';
@forward 'add-tags';
@forward 'autocomplete';
@forward 'content-warning';
@forward 'context-menu';
@forward 'country-code';
@forward 'dropdowns';
@forward 'emoji-info';
@forward 'inbox';
@forward 'messages';
@forward 'region-select';
@forward 'search';
@forward 'threads';