:is(.theme-dark, .theme-midnight) #app-mount .overflowRolesPopout__88ab9 {
    background-color: var(--background-floating);
    .overflowRolesPopoutArrow_f3db31 {
        background-color: var(--background-floating);
    }
}