:is(.theme-dark, .theme-midnight) #app-mount .overflowRolesPopout__03a09 {
    background-color: var(--background-floating);
    .overflowRolesPopoutArrow_de5244 {
        background-color: var(--background-floating);
    }
}