.theme-midnight {
    // Shared styles for pinned messages and inbox
    .messagesPopoutWrap_e8b59c {
        background-color: var(--background-base-low);
    }

    .header_e8b59c {
        background-color: var(--background-base-low);
    }

    .footer_e8b59c {
        background-color: var(--background-surface-high);
    }

    .messageGroupWrapper_e8b59c {
        background-color: var(--background-base-lowest);
    }
}