.theme-midnight {
    // Shared styles for pinned messages and inbox
    .e8b59c4b335dd2fc-messagesPopoutWrap {
        background-color: var(--background-base-low);
    }

    .e8b59c4b335dd2fc-header {
        background-color: var(--background-base-low);
    }

    .e8b59c4b335dd2fc-footer {
        background-color: var(--background-surface-high);
    }

    .e8b59c4b335dd2fc-messageGroupWrapper {
        background-color: var(--background-base-lowest);
    }
}