.theme-midnight {
    // Shared styles for pinned messages and inbox
    .messagesPopoutWrap__45690 {
        border: 1px solid var(--app-border-frame);
        background-color: var(--background-base-low);
    }

    .header__45690 {
        background-color: var(--background-base-low);
    }

    .footer__45690 {
        border-top: 1px solid var(--app-border-frame);
        background-color: var(--background-surface-high);
    }

    .messageGroupWrapper__45690 {
        background-color: var(--background-base-lowest);
    }
}