#app-mount {
    .layer-2aCOJ3 {
        .header-1w9Q93 {
            + div {
                background-color: var(--background-secondary);
            }
        }
        .tab-TRrPC8.active-1grPyy {
            background-color: var(--background-modifier-selected);
        }
    }
    // select menus
    .popout-1KHNAq {
        background-color: var(--background-secondary-alt);
    }
    // roles view
    .overflowRolesPopout-1Puiuq {
        background-color: var(--background-tertiary);
    }
    // threads list
    .container-2rzKKA {
        background-color: var(--background-tertiary);
        border-color: var(--background-tertiary);
        &:hover {
            border-color: var(--background-secondary);
        }
    }
    // noise suppression
    .notches-2w7UZJ.black-11MaxJ {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='rgb(12, 12, 12)'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
    // color picker
    .colorPickerCustom-1swUKF {
        background-color: var(--background-secondary);
        border-color: var(--background-secondary-alt);
    }
    // tooltips
    .tooltipGrey-lpLZjh {
        background-color: var(--background-secondary);
        .tooltipPointer-3L49xb {
            border-top-color: var(--background-secondary);
        }
    }
}