.theme-midnight {
    .ebaca56eb4bb23eb-quickSelectPopout {
        border: 1px solid var(--border-muted);
        background-color: var(--background-surface-high);
    }
    .ebaca56eb4bb23eb-quickSelectPopoutOption {
        &:hover {
            background-color: var(--background-mod-muted);
        }
        &:focus {
            background-color: var(--background-mod-subtle);
        }
    }
}