:is(.theme-dark, .theme-midnight) #app-mount .streamPreview__1846c {
    background-color: var(--background-secondary);
    .previewContainer_bb1924 {
        background-color: var(--background-secondary-alt);
    }
}