:is(.theme-dark, .theme-midnight) #app-mount .streamPreview__965fa {
    background-color: var(--background-secondary);
    .previewContainer__1e0bb {
        background-color: var(--background-secondary-alt);
    }
}