:is(.theme-dark, .theme-midnight) #app-mount .layer__6b5c3 {
    .focused__68b93 {
        background-color: var(--background-secondary);
    }
    .calendarPicker__47c85 {
        .react-datepicker {
            background-color: var(--background-secondary);
        }
        .react-datepicker__header {
            background-color: var(--background-secondary);
        }
        .react-datepicker__navigation,
        .react-datepicker__navigation {
            background-color: var(--background-secondary);
        }
        .react-datepicker__current-month {
            background-color: var(--background-secondary);
        }
        .react-datepicker__day--outside-month,
        .react-datepicker__day--disabled {
            background-color: var(--background-tertiary);
        }
        //  .react-datepicker__day--disabled,  .react-datepicker__day--outside-month, .react-datepicker__day.react-datepicker__day--disabled, .react-datepicker__day.react-datepicker__day--disabled:hover
    }
}