:is(.theme-dark, .theme-midnight) #app-mount .layer_cd0de5 {
    .focused_eedf95 {
        background-color: var(--background-secondary);
    }
    .calendarPicker_be05cd {
        .react-datepicker {
            background-color: var(--background-secondary);
        }
        .react-datepicker__header {
            background-color: var(--background-secondary);
        }
        .react-datepicker__current-month {
            border-bottom-color: var(--background-modifier-accent);
        }
        .react-datepicker__day {
            &.react-datepicker__day--disabled,
            &.react-datepicker__day--disabled:hover {
                background-color: var(--background-tertiary);
            }
        }
    }
}