.theme-midnight {
    ._55c999adcf6db265-container {
        background-color: var(--background-base-low);
    }
    ._55c999adcf6db265-queryContainer {
        border-bottom-color: var(--border-subtle);
    }
    ._55c999adcf6db265-focused {
        background-color: var(--background-base-lower);
    }

    .d27f17593b8064c5-calendarPicker {
        .react-datepicker,
        .react-datepicker__header {
            background-color: var(--background-base-low);
        }
        .react-datepicker__current-month {
            border-bottom-color: var(--border-muted);
        }
        .react-datepicker__day {
            &.react-datepicker__day--disabled,
            &.react-datepicker__day--disabled:hover {
                background-color: var(--background-base-lower);
            }
        }
    }
}