:is(.theme-dark, .theme-midnight) #app-mount .picker__6dca7 {
    .soundButton__845c7 {
        background-color: var(--background-primary);
    }
    .keybindHint__28b43 {
        background-color: var(--background-primary);
    }
}