:is(.theme-dark, .theme-midnight) #app-mount .picker__6dca7 {
    .soundButton__5ad7b {
        background-color: var(--background-primary);
    }
    .keybindHint__70c7e {
        background-color: var(--background-primary);
    }
}