.theme-midnight {
    .container_d9c882 {
        background-color: var(--background-base-low);

        &:not(.browser__9a792) {
            border: 1px solid var(--app-border-frame);
        }
    }

    .header_d9c882 {
        background-color: var(--background-base-low);
    }

    .browser__9a792 {
        background-color: var(--background-base-lowest);
        .header_d9c882 {
            background-color: var(--background-base-lowest);
        }
    }

    .container__6764b {
        background-color: var(--background-base-lowest);
        &:hover {
            background-color: var(--background-base-lower);
        }
    }

    .icon__1b24f {
        background-color: var(--background-surface-high);
    }
}