.theme-midnight {
    .d9c8822889d1d4a1-container {
        background-color: var(--background-base-low);
    }

    .d9c8822889d1d4a1-header {
        background-color: var(--background-base-low);
    }

    ._9a792ca8df2a06f0-browser {
        background-color: var(--background-base-lowest);
        .d9c8822889d1d4a1-header {
            background-color: var(--background-base-lowest);
        }
    }

    ._6764bd76e0340219-container {
        background-color: var(--background-base-lowest);
        &:hover {
            background-color: var(--background-base-lower);
        }
    }

    ._1b24f0fdfb13e41c-icon {
        background-color: var(--background-surface-high);
    }
}