#app-mount .userPopout-2j1gM4 {
    background-color: var(--background-tertiary);
    .avatar-2Vndt_ {
        border-color: var(--background-tertiary);
        background-color: var(--background-tertiary);
    }
    .bodyInnerWrapper-2bQs1k,
    .footer-3naVBw {
        background-color: var(--background-tertiary);
    }
    .input-2z42oC {
        background-color: var(--background-secondary);
    }
}