:root,
.theme-dark:not(.userProfileOuterThemed-3EfHmv),
.theme-light:not(.userProfileOuterThemed-3EfHmv),
.theme-amoled:not(.userProfileOuterThemed-3EfHmv) {
    // base
    --background-primary: hsl(0, calc(var(--saturation-factor, 1) * 0%), 0%);
    --background-secondary: hsl(0, calc(var(--saturation-factor, 1) * 0%), 8%);
    --background-secondary-alt: hsl(0, calc(var(--saturation-factor, 1) * 0%), 10%);
    --background-tertiary: hsl(0, calc(var(--saturation-factor, 1) * 0%), 4%);
    --background-accent: hsl(0, calc(var(--saturation-factor, 1) * 0%), 12%);
    --background-floating: hsl(0, calc(var(--saturation-factor, 1) * 0%), 6%);
    --channeltextarea-background: hsl(0, calc(var(--saturation-factor, 1) * 0%), 5%);
    --input-background: hsl(0, calc(var(--saturation-factor, 1) * 0%), 4%);

    // text colors
    --channels-default: hsl(0, calc(var(--saturation-factor, 1) * 0%), 55%);
    --header-primary: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%);
    --header-secondary: hsl(216, calc(var(--saturation-factor, 1) * 4%), 74%);
    --text-normal: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%);
    --text-muted: hsl(0, calc(var(--saturation-factor, 1) * 0%), 59%);

    // scrollers
    --scroller-thumb: hsl(0, calc(var(--saturation-factor, 1) * 0%), 12%);
    --scroller-track: hsl(0, calc(var(--saturation-factor, 1) * 0%), 4%);

    // bg modifier colors
    --background-modifier-hsl: 0, calc(var(--saturation-factor, 1) * 0%), 16%;
    --background-modifier-hover: hsla(var(--background-modifier-hsl), 0.3);
    --background-modifier-active: hsla(var(--background-modifier-hsl), 0.4);
    --background-modifier-selected: hsla(var(--background-modifier-hsl), 0.5);
    --background-modifier-accent: hsla(var(--background-modifier-hsl), 0.4);

    // interactive
    --interactive-normal: hsl(216, calc(var(--saturation-factor, 1) * 4%), 74%);
    --interactive-hover: hsl(210, calc(var(--saturation-factor, 1) * 3%), 87%);
    --interactive-active: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%);
    --interactive-muted: hsl(0, calc(var(--saturation-factor, 1) * 0%), 29%);

    // elevation
    --elevation-low: 0 1px 0 hsla(240, calc(var(--saturation-factor, 1) * 11%), 18%, 0.2),
        0 1.5px 0 hsla(240, calc(var(--saturation-factor, 1) * 8%), 25%, 0.05),
        0 2px 0 hsla(240, calc(var(--saturation-factor, 1) * 11%), 18%, 0.05);
}