:root {
  /* ignore these, unless you wanna mess with them, then go for it. they may be removed at any time, though. */
  --lightness-600-660: 0%;
  --lightness-700-760: 0%;
  --lightness-800-860: 0%;
  --lightness-900: 0%;
  --primary-100: hsl(var(--primary-100-hsl)/1);
  --primary-100-hsl: 0 calc(var(--saturation-factor, 1)*0%) 97.6%;
  --primary-130: hsl(var(--primary-130-hsl)/1);
  --primary-130-hsl: 220 calc(var(--saturation-factor, 1)*13%) 95.5%;
  --primary-160: hsl(var(--primary-160-hsl)/1);
  --primary-160-hsl: 210 calc(var(--saturation-factor, 1)*11.1%) 92.9%;
  --primary-200: hsl(var(--primary-200-hsl)/1);
  --primary-200-hsl: 216 calc(var(--saturation-factor, 1)*9.8%) 90%;
  --primary-230: hsl(var(--primary-230-hsl)/1);
  --primary-230-hsl: 210 calc(var(--saturation-factor, 1)*9.1%) 87.1%;
  --primary-260: hsl(var(--primary-260-hsl)/1);
  --primary-260-hsl: 214 calc(var(--saturation-factor, 1)*8.4%) 83.7%;
  --primary-300: hsl(var(--primary-300-hsl)/1);
  --primary-300-hsl: 210 calc(var(--saturation-factor, 1)*9.3%) 78.8%;
  --primary-330: hsl(var(--primary-330-hsl)/1);
  --primary-330-hsl: 215 calc(var(--saturation-factor, 1)*8.8%) 73.3%;
  --primary-345: hsl(var(--primary-345-hsl)/1);
  --primary-345-hsl: 214 calc(var(--saturation-factor, 1)*8.4%) 67.5%;
  --primary-360: hsl(var(--primary-360-hsl)/1);
  --primary-360-hsl: 214 calc(var(--saturation-factor, 1)*8.1%) 61.2%;
  --primary-400: hsl(var(--primary-400-hsl)/1);
  --primary-400-hsl: 223 calc(var(--saturation-factor, 1)*5.8%) 52.9%;
  --primary-430: hsl(var(--primary-430-hsl)/1);
  --primary-430-hsl: 229 calc(var(--saturation-factor, 1)*4.8%) 44.9%;
  --primary-460: hsl(var(--primary-460-hsl)/1);
  --primary-460-hsl: 228 calc(var(--saturation-factor, 1)*5.2%) 38%;
  --primary-500: hsl(var(--primary-500-hsl)/1);
  --primary-500-hsl: 228 calc(var(--saturation-factor, 1)*6%) 32.5%;
  --primary-530: hsl(var(--primary-530-hsl)/1);
  --primary-530-hsl: 227 calc(var(--saturation-factor, 1)*6.5%) 27.3%;
  --primary-560: hsl(var(--primary-560-hsl)/1);
  --primary-560-hsl: 225 calc(var(--saturation-factor, 1)*6.7%) 23.5%;
  --primary-600: hsl(var(--primary-600-hsl)/1);
  --primary-600-hsl: 223 calc(var(--saturation-factor, 1)*6.7%) calc(var(--lightness-600-660, 0) + 20.6%);
  --primary-630: hsl(var(--primary-630-hsl)/1);
  --primary-630-hsl: 220 calc(var(--saturation-factor, 1)*6.5%) calc(var(--lightness-600-660, 0) + 18%);
  --primary-645: hsl(var(--primary-645-hsl)/1);
  --primary-645-hsl: 220 calc(var(--saturation-factor, 1)*7%) calc(var(--lightness-600-660, 0) + 16.9%);
  --primary-660: hsl(var(--primary-660-hsl)/1);
  --primary-660-hsl: 228 calc(var(--saturation-factor, 1)*6.7%) calc(var(--lightness-600-660, 0) + 14.7%);
  --primary-700: hsl(var(--primary-700-hsl)/1);
  --primary-700-hsl: 225 calc(var(--saturation-factor, 1)*6.3%) calc(var(--lightness-700-760, 0) + 12.5%);
  --primary-730: hsl(var(--primary-730-hsl)/1);
  --primary-730-hsl: 225 calc(var(--saturation-factor, 1)*7.1%) calc(var(--lightness-700-760, 0) + 11%);
  --primary-760: hsl(var(--primary-760-hsl)/1);
  --primary-760-hsl: 220 calc(var(--saturation-factor, 1)*6.4%) calc(var(--lightness-700-760, 0) + 9.2%);
  --primary-800: hsl(var(--primary-800-hsl)/1);
  --primary-800-hsl: 220 calc(var(--saturation-factor, 1)*8.1%) calc(var(--lightness-800-860, 0) + 7.3%);
  --primary-830: hsl(var(--primary-830-hsl)/1);
  --primary-830-hsl: 240 calc(var(--saturation-factor, 1)*4%) calc(var(--lightness-800-860, 0) + 4.9%);
  --primary-860: hsl(var(--primary-860-hsl)/1);
  --primary-860-hsl: 240 calc(var(--saturation-factor, 1)*7.7%) calc(var(--lightness-800-860, 0) + 2.5%);
  --primary-900: hsl(var(--primary-900-hsl)/1);
  --primary-900-hsl: 0 calc(var(--saturation-factor, 1)*0%) calc(var(--lightness-900, 0) + 0.8%);
}

.theme-dark {
  --activity-card-background: var(--primary-830) !important;
  --autocomplete-bg: var(--primary-860) !important;
  --background-accent: var(--primary-760) !important;
  --background-floating: var(--primary-830) !important;
  --background-message-hover: hsl(var(--primary-530-hsl)/0.06) !important;
  --background-mobile-primary: var(--black) !important;
  --background-mobile-secondary: var(--primary-830) !important;
  --background-modifier-accent: hsl(var(--primary-760-hsl)/0.48) !important;
  --background-modifier-accent-2: hsl(var(--primary-760-hsl)/0.48) !important;
  --background-modifier-active: hsl(var(--primary-760-hsl)/0.48) !important;
  --background-modifier-hover: hsl(var(--primary-760-hsl)/0.4) !important;
  --background-modifier-selected: hsl(var(--primary-760-hsl)/0.6) !important;
  --background-nested-floating: var(--primary-830) !important;
  --background-primary: var(--black) !important;
  --background-secondary: var(--primary-830) !important;
  --background-secondary-alt: var(--primary-800) !important;
  --background-tertiary: var(--primary-860) !important;
  --bg-base-primary: var(--black) !important;
  --bg-base-secondary: var(--primary-830) !important;
  --bg-base-tertiary: var(--primary-860) !important;
  --bg-mod-faint: var(--black) !important;
  --bg-mod-strong: hsl(var(--primary-760-hsl)/0.54) !important;
  --bg-mod-subtle: hsl(var(--primary-760-hsl)/0.48) !important;
  --bg-surface-overlay: var(--primary-830) !important;
  --bg-surface-raised: var(--black) !important;
  --button-outline-primary-background: var(--primary-700) !important;
  --button-outline-primary-background-active: var(--primary-600) !important;
  --button-outline-primary-background-hover: var(--primary-630) !important;
  --button-outline-primary-border: var(--primary-700) !important;
  --button-outline-primary-border-active: var(--primary-600) !important;
  --button-outline-primary-border-hover: var(--primary-630) !important;
  --button-secondary-background: var(--primary-700) !important;
  --button-secondary-background-active: var(--primary-600) !important;
  --button-secondary-background-disabled: var(--primary-700) !important;
  --button-secondary-background-hover: var(--primary-630) !important;
  --card-primary-bg: var(--primary-800) !important;
  --card-primary-pressed-bg: var(--primary-860) !important;
  --card-secondary-bg: var(--primary-830) !important;
  --card-secondary-pressed-bg: var(--primary-860) !important;
  --channel-icon: var(--plum-10) !important;
  --channel-text-area-placeholder: var(--plum-11) !important;
  --channels-default: var(--plum-9) !important;
  --channeltextarea-background: var(--primary-830) !important;
  --chat-background: var(--black) !important;
  --chat-border: var(--primary-700) !important;
  --deprecated-store-bg: var(--black) !important;
  --deprecated-text-input-bg: var(--primary-800) !important;
  --deprecated-text-input-border-disabled: var(--primary-800) !important;
  --embed-title: var(--plum-2) !important;
  --header-muted: var(--plum-10) !important;
  --header-primary: var(--plum-2) !important;
  --header-secondary: var(--plum-8) !important;
  --home-background: var(--black) !important;
  --input-background: var(--primary-800) !important;
  --input-focused-border: hsl(var(--white-hsl)/0.03) !important;
  --input-placeholder-text: var(--plum-9) !important;
  --live-stage-tile-border: hsl(var(--primary-860-hsl)/0.6) !important;
  --modal-background: var(--primary-860) !important;
  --modal-footer-background: var(--primary-900) !important;
  --scrollbar-auto-scrollbar-color-thumb: var(--primary-800) !important;
  --scrollbar-auto-scrollbar-color-track: var(--primary-860) !important;
  --scrollbar-auto-thumb: var(--primary-800) !important;
  --scrollbar-auto-track: var(--primary-860) !important;
  --scrollbar-thin-thumb: var(--primary-800) !important;
  --scrollbar-thin-track: hsl(var(--black-hsl)/0) !important;
  --text-low-contrast: var(--plum-12) !important;
  --text-message-preview-low-sat: var(--plum-9) !important;
  --text-muted: var(--plum-10) !important;
  --text-normal: var(--plum-4) !important;
  --text-primary: var(--plum-4) !important;
  --text-secondary: var(--plum-8) !important;
  --textbox-markdown-syntax: var(--plum-9) !important;
  --elevation-stroke: 0 0 0 1px hsl(var(--primary-600-hsl)/0.15) !important;
  --elevation-low: 0 1px 0 hsl(var(--primary-630-hsl)/0.2),0 1.5px 0 hsl(var(--primary-600-hsl)/0.05),0 2px 0 hsl(var(--primary-630-hsl)/0.05) !important;
  --elevation-medium: 0 4px 4px hsl(var(--black-500-hsl)/0.16) !important;
  --elevation-high: 0 8px 16px hsl(var(--black-500-hsl)/0.24) !important;
  --search-popout-option-fade: linear-gradient(90deg,hsl(var(--primary-830-hsl)/0),hsl(var(--primary-830-hsl)/1) 80%) !important;
  --search-popout-option-fade-hover: linear-gradient(90deg,hsl(var(--primary-800-hsl)/0),var(--primary-800) 50%) !important;
}

.theme-dark:not(.custom-profile-theme) {
  --profile-gradient-primary-color: var(--background-floating) !important;
  --profile-gradient-secondary-color: var(--background-floating) !important;
  --profile-gradient-overlay-color: transparent !important;
  --profile-gradient-button-color: var(--button-secondary-background) !important;
  --profile-avatar-border-color: var(--background-floating) !important;
  --profile-body-background-color: var(--background-primary) !important;
  --profile-body-background-hover: var(--background-modifier-hover) !important;
  --profile-body-divider-color: var(--background-modifier-accent) !important;
  --profile-body-border-color: var(--border-faint) !important;
  --profile-message-input-border-color: var(--background-modifier-accent) !important;
  --profile-note-background-color: var(--background-tertiary) !important;
  --profile-role-pill-background-color: var(--background-floating) !important;
  --profile-role-pill-border-color: var(--interactive-normal) !important;
}

@supports (color: color-mix(in lch, red, blue)) and (top: var(--f)) {
  .theme-dark {
    --activity-card-background: color-mix(
        in oklab,
        var(--primary-830) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --autocomplete-bg: color-mix(
        in oklab,
        var(--primary-860) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-accent: color-mix(
        in oklab,
        var(--primary-760) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-floating: color-mix(
        in oklab,
        var(--primary-830) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-message-hover: color-mix(
        in oklab,
        hsl(var(--primary-530-hsl) / 0.06) 100%,
        hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.06) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-mobile-primary: color-mix(
        in oklab,
        var(--black) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-mobile-secondary: color-mix(
        in oklab,
        var(--primary-830) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-modifier-accent: color-mix(
        in oklab,
        hsl(var(--primary-760-hsl) / 0.48) 100%,
        hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.48) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-modifier-accent-2: color-mix(
        in oklab,
        hsl(var(--primary-760-hsl) / 0.48) 100%,
        hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.48) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-modifier-active: color-mix(
        in oklab,
        hsl(var(--primary-760-hsl) / 0.48) 100%,
        hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.48) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-modifier-hover: color-mix(
        in oklab,
        hsl(var(--primary-760-hsl) / 0.4) 100%,
        hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.4) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-modifier-selected: color-mix(
        in oklab,
        hsl(var(--primary-760-hsl) / 0.6) 100%,
        hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.6) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-nested-floating: color-mix(
        in oklab,
        var(--primary-830) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-primary: color-mix(
        in oklab,
        var(--black) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-secondary: color-mix(
        in oklab,
        var(--primary-830) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-secondary-alt: color-mix(
        in oklab,
        var(--primary-800) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --background-tertiary: color-mix(
        in oklab,
        var(--primary-860) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --bg-base-primary: color-mix(
        in oklab,
        var(--black) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --bg-base-secondary: color-mix(
        in oklab,
        var(--primary-830) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --bg-base-tertiary: color-mix(
        in oklab,
        var(--primary-860) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --bg-mod-faint: color-mix(
        in oklab,
        var(--black) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --bg-mod-strong: color-mix(
        in oklab,
        hsl(var(--primary-760-hsl) / 0.54) 100%,
        hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.54) var(--theme-base-color-amount, 0%)
    ) !important;
    --bg-mod-subtle: color-mix(
        in oklab,
        hsl(var(--primary-760-hsl) / 0.48) 100%,
        hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.48) var(--theme-base-color-amount, 0%)
    ) !important;
    --bg-surface-overlay: color-mix(
        in oklab,
        var(--primary-830) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --bg-surface-raised: color-mix(
        in oklab,
        var(--black) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --card-primary-bg: color-mix(
        in oklab,
        var(--primary-800) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --card-primary-pressed-bg: color-mix(
        in oklab,
        var(--primary-860) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --card-secondary-bg: color-mix(
        in oklab,
        var(--primary-830) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --card-secondary-pressed-bg: color-mix(
        in oklab,
        var(--primary-860) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --channel-text-area-placeholder: color-mix(
        in oklab,
        var(--plum-11) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --channel-icon: color-mix(
        in oklab,
        var(--plum-10) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --channel-text-area-placeholder: color-mix(
        in oklab,
        var(--plum-11) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --channels-default: color-mix(
        in oklab,
        var(--plum-9) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --channeltextarea-background: color-mix(
        in oklab,
        var(--primary-830) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --chat-background: color-mix(
        in oklab,
        var(--black) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --chat-border: color-mix(
        in oklab,
        var(--primary-700) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --deprecated-store-bg: color-mix(
        in oklab,
        var(--black) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --deprecated-text-input-bg: color-mix(
        in oklab,
        var(--primary-800) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --deprecated-text-input-border-disabled: color-mix(
        in oklab,
        var(--primary-800) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --embed-title: color-mix(
        in oklab,
        var(--plum-2) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --header-muted: color-mix(
        in oklab,
        var(--plum-10) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --header-primary: color-mix(
        in oklab,
        var(--plum-2) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --header-secondary: color-mix(
        in oklab,
        var(--plum-8) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --home-background: color-mix(
        in oklab,
        var(--black) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --input-background: color-mix(
        in oklab,
        var(--primary-800) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --input-focused-border: color-mix(
        in oklab,
        hsl(var(--white-hsl) / 0.03) 100%,
        hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.03) var(--theme-base-color-amount, 0%)
    ) !important;
    --input-placeholder-text: color-mix(
        in oklab,
        var(--plum-9) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --live-stage-tile-border: color-mix(
        in oklab,
        hsl(var(--primary-860-hsl) / 0.6) 100%,
        hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.6) var(--theme-base-color-amount, 0%)
    ) !important;
    --modal-background: color-mix(
        in oklab,
        var(--primary-860) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --modal-footer-background: color-mix(
        in oklab,
        var(--primary-900) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --scrollbar-auto-scrollbar-color-thumb: color-mix(
        in oklab,
        var(--primary-800) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --scrollbar-auto-scrollbar-color-track: color-mix(
        in oklab,
        var(--primary-860) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --scrollbar-auto-thumb: color-mix(
        in oklab,
        var(--primary-800) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --scrollbar-auto-track: color-mix(
        in oklab,
        var(--primary-860) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --scrollbar-thin-thumb: color-mix(
        in oklab,
        var(--primary-800) 100%,
        var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
    ) !important;
    --scrollbar-thin-track: color-mix(
        in oklab,
        hsl(var(--black-hsl) / 0) 100%,
        hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0) var(--theme-base-color-amount, 0%)
    ) !important;
    --text-low-contrast: color-mix(
        in oklab,
        var(--plum-12) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --text-message-preview-low-sat: color-mix(
        in oklab,
        var(--plum-9) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --text-muted: color-mix(
        in oklab,
        var(--plum-10) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --text-normal: color-mix(
        in oklab,
        var(--plum-4) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --text-primary: color-mix(
        in oklab,
        var(--plum-4) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --text-secondary: color-mix(
        in oklab,
        var(--plum-8) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
    --textbox-markdown-syntax: color-mix(
        in oklab,
        var(--plum-9) 100%,
        var(--theme-text-color, black) var(--theme-text-color-amount, 0%)
    ) !important;
  }
}
:is(.theme-dark, .theme-midnight) #app-mount .container_e40c16 {
  background-color: var(--background-primary);
}

:is(.theme-dark, .theme-midnight) #app-mount .container_fc4f04 [class*=searchBar] {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .container_fc4f04 [class*=searchBar] .searchAnswer_b0fa94,
:is(.theme-dark, .theme-midnight) #app-mount .container_fc4f04 [class*=searchBar] .searchFilter_b0fa94 {
  background-color: var(--background-primary);
}

:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .form_a7d72e .optionPill_d4df8b, .container_d1c246 .form_a7d72e .optionPill_d4df8b {
  background-color: var(--primary-730);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .form_a7d72e .channelAttachmentArea_e8c527 .upload_df1eaf, .container_d1c246 .form_a7d72e .channelAttachmentArea_e8c527 .upload_df1eaf {
  background-color: var(--background-primary);
}

:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .wrapper_f7e168, .container_d1c246 .wrapper_f7e168 {
  background-color: var(--background-tertiary);
}

:is(.theme-dark, .theme-midnight) #app-mount .container_a6d69a .mainCard_a6d69a:not(.container_a57509:is(.isOpen_a57509, :hover, :active),
.container_d331f1:is(.isOpen_d331f1, :active)),
:is(.theme-dark, .theme-midnight) #app-mount .container_a6d69a .container_a03b48,
:is(.theme-dark, .theme-midnight) #app-mount .container_a6d69a .container_ddbb27,
:is(.theme-dark, .theme-midnight) #app-mount .container_a6d69a .container_a039eb {
  background-color: var(--background-tertiary);
}
:is(.theme-dark, .theme-midnight) #app-mount .container_a6d69a .matchingPostsRow_a6d69a {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .container_a6d69a .loadingCard_a6d69a {
  background-color: var(--background-tertiary);
}
:is(.theme-dark, .theme-midnight) #app-mount .container_a6d69a .sortDropdown_a6d69a, :is(.theme-dark, .theme-midnight) #app-mount .container_a6d69a .tag_a6d69a:not(.selected_c993da), :is(.theme-dark, .theme-midnight) #app-mount .container_a6d69a .tagsButton_a6d69a {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .container_a6d69a .pill_c993da.clickable_c993da:not(.disabled_c993da):hover {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .container_a6d69a .textContentFooter_a57509 {
  background: linear-gradient(to top, hsl(var(--black-hsl)/1), hsl(var(--black-hsl)/0.97) 36px, hsl(var(--black-hsl)/0.4));
}
:is(.theme-dark, .theme-midnight) #app-mount .container_a6d69a .textContentFooter_a57509.noTags_a57509 {
  background: linear-gradient(to top, hsl(var(--black-hsl)/1), hsl(var(--black-hsl)/0));
}

:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .headerContent_d33b18 .searchBox_d33b18 {
  background-color: var(--input-background);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .headerContent_d33b18 .searchBox_d33b18 .searchBoxInput_d33b18 {
  color: var(--primary-260);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .headerContent_d33b18 .searchBox_d33b18 .searchBoxInput_d33b18::placeholder {
  color: hsl(var(--white-500-hsl)/0.3);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .headerContent_d33b18 .searchBox_d33b18 .searchIcon_d33b18 {
  color: hsl(var(--white-500-hsl)/0.3);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .headerContent_d33b18 .searchBox_d33b18 .closeIcon_d33b18 {
  color: var(--interactive-normal);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .headerContent_d33b18 .searchBox_d33b18 .closeIcon_d33b18:hover {
  color: var(--interactive-hover);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .headerContent_d33b18 .searchBox_d33b18 .closeIcon_d33b18:focus {
  color: var(--interactive-active);
}

:is(.theme-dark, .theme-midnight) #app-mount .tile_ab47a1 {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .tile_ab47a1:hover {
  background-color: var(--background-modifier-hover);
}
:is(.theme-dark, .theme-midnight) #app-mount .tile_ab47a1 .invalidPoop_ff31dd {
  background-color: hsl(var(--primary-700-hsl)/0.3);
}
:is(.theme-dark, .theme-midnight) #app-mount .invite_f61cb8 {
  border-color: hsl(var(--primary-800-hsl)/0.9);
  background-color: hsl(var(--primary-830-hsl)/0.6);
}
:is(.theme-dark, .theme-midnight) #app-mount .container_a1531c .answer_cf2c85:hover .answerInner_cf2c85.currentlyVoting_cf2c85:not(.selected_cf2c85) {
  outline-color: var(--background-secondary-alt);
}
:is(.theme-dark, .theme-midnight) #app-mount .container_a1531c .votePercentageBar_cf2c85 {
  background-color: var(--background-secondary-alt);
}

:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .prompt_c6b11b {
  background-color: var(--background-tertiary);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .prompt_c6b11b .selected_bd5e1f {
  background-color: var(--background-modifier-active);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .profileCard_c6b11b {
  background-color: var(--background-tertiary);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .channelRow_f04d06 {
  background-color: var(--background-tertiary);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .channelRow_f04d06:not(.disabled_f04d06):hover {
  background-color: var(--background-modifier-hover);
}

:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .wrapper_d880dc.minimum_d880dc {
  background-color: var(--background-primary);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .iconBackground_e5ee5b {
  background-color: var(--background-secondary-alt);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .container_dc3fc4:hover {
  background-color: var(--background-modifier-hover);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .videoWrapper_ba4b17, :is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .streamHidden_e145d9, :is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .streamPreview_ba4b17 {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .cta_cdef0d {
  background-color: var(--button-secondary-background);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .cta_cdef0d:hover {
  background-color: var(--button-secondary-background-hover);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .participantsButton_b83b18, :is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .buttonColor_d4af21 {
  background-color: var(--background-secondary-alt);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .participantsButton_b83b18:hover, :is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .buttonColor_d4af21:hover {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .colorable_ef18ee.primaryDark_ef18ee, :is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .primaryButtonColor_e12b21 {
  background-color: var(--background-secondary-alt);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .colorable_ef18ee.primaryDark_ef18ee.active_ef18ee, :is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .colorable_ef18ee.primaryDark_ef18ee.active_e12b21, :is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .colorable_ef18ee.primaryDark_ef18ee:hover, :is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .primaryButtonColor_e12b21.active_ef18ee, :is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .primaryButtonColor_e12b21.active_e12b21, :is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .primaryButtonColor_e12b21:hover {
  background-color: var(--background-modifier-hover);
}
:is(.theme-dark, .theme-midnight) #app-mount .chat_a7d72e .raisedHandButtonIconActive_e12b21 {
  color: var(--background-secondary);
}

:is(.theme-dark, .theme-midnight) .folder_bc7085.hover_bc7085 {
  background-color: var(--background-secondary-alt);
}

:is(.theme-dark, .theme-midnight) #app-mount .wrapper_f90abb:not(.selected_f90abb) .childWrapperNoHoverBg_f90abb,
:is(.theme-dark, .theme-midnight) #app-mount .circleIconButton_db6521:not(.selected_db6521) {
  background-color: var(--background-secondary-alt);
}

:is(.theme-dark, .theme-midnight) #app-mount .button_adcaac.buttonColor_adcaac:not(.buttonActive_adcaac),
:is(.theme-dark, .theme-midnight) #app-mount .button_adcaac .buttonColor_adcaac:not(.buttonActive_adcaac) {
  background-color: var(--button-secondary-background);
}
:is(.theme-dark, .theme-midnight) #app-mount .button_adcaac.buttonColor_adcaac:not(.buttonActive_adcaac):hover,
:is(.theme-dark, .theme-midnight) #app-mount .button_adcaac .buttonColor_adcaac:not(.buttonActive_adcaac):hover {
  background-color: var(--button-secondary-background-hover);
}
:is(.theme-dark, .theme-midnight) #app-mount .button_adcaac.buttonColor_adcaac:not(.buttonActive_adcaac):active,
:is(.theme-dark, .theme-midnight) #app-mount .button_adcaac .buttonColor_adcaac:not(.buttonActive_adcaac):active {
  background-color: var(--button-secondary-background-active);
}
:is(.theme-dark, .theme-midnight) #app-mount .default_a467ac {
  background-color: var(--background-primary);
}

:is(.theme-dark, .theme-midnight) #app-mount .key_c90023:not(.keyComboInner_f51af4, .keyComboInner_c11c02) {
  box-shadow: inset 0 -4px 0 var(--primary-760);
  background-color: var(--primary-660);
}

:is(.theme-dark, .theme-midnight) #app-mount .bar_c7a159:not(.microphone_b6e3f3) {
  background-color: var(--background-accent);
}
:is(.theme-dark, .theme-midnight) #app-mount .markDash_c7a159 {
  background: var(--background-accent);
}

:is(.theme-dark, .theme-midnight) .container_cbd271 {
  background-color: var(--background-primary);
}
:is(.theme-dark, .theme-midnight) .container_cbd271 .container_c64476:not(.selected_c64476) {
  background-color: var(--background-tertiary);
}

:is(.theme-dark, .theme-midnight) #app-mount .member_cbd271, :is(.theme-dark, .theme-midnight) #app-mount .members_cbd271 {
  background-color: var(--background-primary);
}

:is(.theme-dark, .theme-midnight) #app-mount .root_f9a4c9 .contentWrapper_ed5743 {
  background: var(--modal-background);
}

:is(.theme-dark, .theme-midnight) #app-mount .root_f9a4c9 .authBox_b83a05 {
  background-color: transparent;
}
:is(.theme-dark, .theme-midnight) #app-mount .root_f9a4c9 .navRow_be9398 {
  background-color: var(--modal-footer-background);
}

:is(.theme-dark, .theme-midnight) #app-mount .container_f24a96 {
  background-color: var(--modal-background);
}
:is(.theme-dark, .theme-midnight) #app-mount .container_f24a96 .footer_f24a96 {
  background-color: var(--modal-footer-background);
}

:is(.theme-dark, .theme-midnight) #app-mount .root_f9a4c9 .footerSeparator_f9a4c9 {
  box-shadow: inset 0 1px 0 var(--modal-footer-background);
}

:is(.theme-dark, .theme-midnight) #app-mount .root_f9a4c9 .container_c18ec9 {
  background-color: var(--input-background);
}
:is(.theme-dark, .theme-midnight) #app-mount .root_f9a4c9 .footer_cedfaf {
  background-color: var(--modal-footer-background);
}

:is(.theme-dark, .theme-midnight) #app-mount .root_f9a4c9 .keyboardShortcutsModal_ad95dc {
  background-color: var(--modal-background);
}

:is(.theme-dark, .theme-midnight) #app-mount .modal_b8f561 .verifiedRoleHasRole_b8f561 {
  background-color: var(--background-secondary);
  border-color: var(--background-secondary);
}

:is(.theme-dark, .theme-midnight) #app-mount .uploadModal_f82cc7 .footer_f82cc7 {
  background-color: var(--modal-footer-background);
}

:is(.theme-dark, .theme-midnight) #app-mount .root_f9a4c9 .header_da6bd8 {
  background-color: var(--modal-background);
}

:is(.theme-dark, .theme-midnight) #app-mount .promptContent_cd377c .optionButtonWrapper_bd5e1f.selected_bd5e1f {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .promptContent_cd377c .overlay_cd377c {
  background: linear-gradient(to top, hsl(var(--primary-860-hsl)), hsl(var(--primary-860-hsl)/0)) !important;
}

:is(.theme-dark, .theme-midnight) #app-mount .voters_cbdbf0 {
  background-color: var(--modal-background);
}

:is(.theme-dark, .theme-midnight) #app-mount .modal_b3373b .body_b3373b {
  background-color: var(--modal-background);
}
:is(.theme-dark, .theme-midnight) #app-mount .modal_b3373b .container_f8759f, :is(.theme-dark, .theme-midnight) #app-mount .modal_b3373b .roleTag_b463ca {
  background-color: var(--background-primary);
}

:is(.theme-dark, .theme-midnight) #app-mount .root_f9a4c9 .previewDark_ac5e75 {
  background-color: var(--background-primary);
}

:is(.theme-dark, .theme-midnight) #app-mount .tips_ca0caf {
  background-color: var(--background-primary);
}

:is(.theme-dark, .platform-overlay) .overlayActive_e17343, :is(.theme-dark, .platform-overlay) .invalidContainer_e17343 {
  background-color: hsl(var(--primary-900-hsl)/0.8);
}
:is(.theme-dark, .platform-overlay) .inactiveContainer_e17343 {
  background-color: var(--background-primary);
}
:is(.theme-dark, .platform-overlay) .previewingInGameHeader_e17343 {
  background-color: hsl(var(--primary-900-hsl)/0.9);
}

:is(.theme-dark, .platform-overlay) .widget_cbf964.default_cbf964 {
  background-color: var(--background-primary);
}
:is(.theme-dark, .platform-overlay) .widget_cbf964.unpinned_cbf964 {
  background-color: var(--background-tertiary);
}
:is(.theme-dark, .platform-overlay) .bar_cbf964 {
  background-color: hsl(var(--primary-900-hsl)/0.85);
}
:is(.theme-dark, .platform-overlay) .bar_cbf964.default_cbf964, :is(.theme-dark, .platform-overlay) .bar_cbf964.unpinned_cbf964 {
  background-color: var(--background-primary);
}
:is(.theme-dark, .platform-overlay) .body_cbf964.default_cbf964, :is(.theme-dark, .platform-overlay) .body_cbf964.unpinned_cbf964 {
  background-color: var(--background-primary);
}
:is(.theme-dark, .platform-overlay) .body_cbf964.pinned_cbf964 {
  background-color: hsl(var(--primary-900-hsl)/0.75);
}

:is(.theme-dark, .platform-overlay) .contained_ac9afa {
  background-color: var(--background-primary);
}
:is(.theme-dark, .platform-overlay) :is(.contained_ac9afa, .pinned_ac9afa:not(:has(.locked_ac9afa))) .headerDefault_ac9afa[style*="rgb(54, 57, 63)"], :is(.theme-dark, .platform-overlay) :is(.contained_ac9afa, .pinned_ac9afa:not(:has(.locked_ac9afa))) .messagesContainer_ac9afa[style*="rgb(54, 57, 63)"], :is(.theme-dark, .platform-overlay) :is(.contained_ac9afa, .pinned_ac9afa:not(:has(.locked_ac9afa))) .footerContent_ac9afa[style*="rgb(54, 57, 63)"] {
  background-color: var(--background-primary) !important;
}
:is(.theme-dark, .platform-overlay) :is(.contained_ac9afa, .pinned_ac9afa:not(:has(.locked_ac9afa))) .headerDefault_ac9afa[style*="rgb(54, 57, 63, 0.75)"], :is(.theme-dark, .platform-overlay) :is(.contained_ac9afa, .pinned_ac9afa:not(:has(.locked_ac9afa))) .messagesContainer_ac9afa[style*="rgb(54, 57, 63, 0.75)"], :is(.theme-dark, .platform-overlay) :is(.contained_ac9afa, .pinned_ac9afa:not(:has(.locked_ac9afa))) .footerContent_ac9afa[style*="rgb(54, 57, 63, 0.75)"] {
  background-color: hsl(var(--black-hsl)/0.75) !important;
}
:is(.theme-dark, .platform-overlay) :is(.contained_ac9afa, .pinned_ac9afa:not(:has(.locked_ac9afa))) .headerDefault_ac9afa[style*="rgb(54, 57, 63, 0.25)"], :is(.theme-dark, .platform-overlay) :is(.contained_ac9afa, .pinned_ac9afa:not(:has(.locked_ac9afa))) .messagesContainer_ac9afa[style*="rgb(54, 57, 63, 0.25)"], :is(.theme-dark, .platform-overlay) :is(.contained_ac9afa, .pinned_ac9afa:not(:has(.locked_ac9afa))) .footerContent_ac9afa[style*="rgb(54, 57, 63, 0.25)"] {
  background-color: var(var(--black-hsl)/0.25) !important;
}
:is(.theme-dark, .platform-overlay) .opacityHeader_c6d3b6 {
  background-color: var(--background-primary);
}
:is(.theme-dark, .platform-overlay) .background-opacity-high .scrollableContainer_d0696b {
  background-color: var(--channeltextarea-background);
}

:is(.theme-dark, .platform-overlay) .themePrimary_f6b647.container_f6b647 {
  background-color: hsl(var(--primary-900-hsl)/0.95);
}
:is(.theme-dark, .platform-overlay) .themePrimary_f6b647.container_f6b647.clickable_f6b647:hover {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .platform-overlay) .themePrimary_f6b647 .divider_f6b647 {
  background-color: var(--background-secondary-alt);
}
:is(.theme-dark, .platform-overlay) .themePrimary_f6b647 .dismissButton_f6b647 {
  box-shadow: none;
  background-color: var(--background-secondary);
}

:is(.theme-dark, .platform-overlay) .option_b877fa:not(.selected_b877fa, :hover) {
  background-color: var(--primary-600);
}
:is(.theme-dark, .platform-overlay) .disabled_b877fa:not(.selected_b877fa, :hover) {
  color: var(--primary-600);
}

:is(.theme-dark, .platform-overlay) .sidebar_d86933,
:is(.theme-dark, .platform-overlay) .scroller_c47fa9 {
  background-color: var(--background-primary);
}
:is(.theme-dark, .platform-overlay) .header_d86933,
:is(.theme-dark, .platform-overlay) .base_aabd07 {
  background-color: var(--background-primary) !important;
}
:is(.theme-dark, .platform-overlay) .searchBar_ec7a6d {
  box-shadow: none;
}
:is(.theme-dark, .platform-overlay) .panels_c0cc4b, :is(.theme-dark, .platform-overlay) .panels_c0cc4b > div,
:is(.theme-dark, .platform-overlay) .panels_ec7a6d, :is(.theme-dark, .platform-overlay) .panels_ec7a6d > div {
  background-color: var(--background-primary) !important;
}

:is(.theme-dark, .platform-overlay) .controls_c5dd04,
:is(.theme-dark, .platform-overlay) .streamerControls_cfed93 {
  background-color: hsl(var(--primary-900-hsl)/0.85);
}

:is(.theme-dark, .theme-midnight) #app-mount .nowPlayingColumn_c2739c .separator_cd82a7 {
  background-color: var(--background-secondary);
}

.theme-dark body .wrapper-28jGDw {
  background-color: var(--background-primary);
}
.theme-dark body .hasBorder-17PTeu {
  border-bottom-color: var(--background-modifier-accent);
}
.theme-dark body .searchContainer-2duiLS:is(:hover) button {
  border-color: var(--background-secondary);
  background-color: var(--input-background);
}
.theme-dark body .contentWrapper-1Cwe5m hr {
  background-color: hsl(var(--primary-760-hsl)/0.6);
}
.theme-dark body .pre-398F0p {
  background-color: var(--background-tertiary);
}
.theme-dark body .mdxCard-iv9u29:hover {
  background-color: var(--card-secondary-pressed-bg);
}
.theme-dark body .colorDark-311Rq5,
.theme-dark body .colorLight-1o6rnK {
  background-color: var(--background-tertiary);
}
.theme-dark body .borderPrimary-1l1Cvj {
  border-color: var(--background-secondary);
}
.theme-dark body .tooltip-2YjxAH {
  background-color: var(--background-floating);
}
.theme-dark body .top-3SkhL3:after {
  border-top-color: var(--background-floating);
}
.theme-dark body .bottom-1VilIE:after {
  border-bottom-color: var(--background-floating);
}
.theme-dark body .left-3N6_YX:after {
  border-left-color: var(--background-floating);
}
.theme-dark body .right-2v0SN-:after {
  border-right-color: var(--background-floating);
}
.theme-dark body .grey-IHse8x {
  background-color: var(--background-secondary-alt);
}
.theme-dark body .grey-IHse8x:after {
  border-top-color: var(--background-secondary-alt) !important;
}
.theme-dark body .divider-_0um2u {
  background-color: var(--background-modifier-accent);
}
.theme-dark body [class$=-control] {
  border-color: var(--background-secondary);
}
.theme-dark body [class$=-control]:hover {
  border-color: var(--background-secondary-alt);
}
.theme-dark body .css-gqriav-menu {
  border-color: var(--background-secondary);
  box-shadow: var(--background-secondary) 0px 1px 5px 0px;
  background-color: var(--background-floating);
}
.theme-dark body .css-17vfzgn-option {
  background-color: var(--background-modifier-selected);
}
.theme-dark body .css-ic7iun-option {
  background-color: var(--background-modifier-hover);
}
.theme-dark body .modalContent-31OOYM {
  background-color: var(--modal-background);
}
.theme-dark body .modalContent-31OOYM .modalFooter-3193QM {
  border: none;
  background-color: var(--modal-footer-background);
}
.theme-dark body .modalContent-31OOYM .divider-Qljx2k {
  background-color: var(--background-modifier-accent);
}
.theme-dark body .disabled-29cfPA,
.theme-dark body .disabled-29cfPA:hover {
  border-color: var(--background-secondary);
  background-color: var(--background-tertiary);
}
.theme-dark body .disabled-29cfPA + .pageButtonNext-2_bbdk,
.theme-dark body .disabled-29cfPA + .pageCount-17vMJm,
.theme-dark body .disabled-29cfPA:hover + .pageButtonNext-2_bbdk,
.theme-dark body .disabled-29cfPA:hover + .pageCount-17vMJm,
.theme-dark body .pageButtonNext-2_bbdk,
.theme-dark body .pageCount-17vMJm,
.theme-dark body .pageButtonNext-2_bbdk,
.theme-dark body .pageButtonPrev-3q9rh8 {
  border-color: var(--background-secondary) !important;
  background-color: var(--background-tertiary);
}
.theme-dark body .pageButtonNext-2_bbdk:hover,
.theme-dark body .pageButtonPrev-3q9rh8:hover {
  border-color: var(--background-secondary-alt) !important;
  background-color: var(--background-secondary);
}
.theme-dark body .contentWrapper-3RqEiS .cardLink-H6gvNe:hover {
  background-color: var(--background-secondary-alt);
}
.theme-dark body .contentWrapper-3RqEiS .cardLink-H6gvNe .cardImagePlaceholder-EjWnzT {
  background-color: var(--background-primary);
}
.theme-dark body .contentWrapper-3RqEiS .avatarUploaderInner-yEhTv5 {
  background-color: var(--background-primary);
}
.theme-dark body .contentWrapper-3RqEiS .invite-1J5PX7 {
  border-color: var(--background-modifier-accent);
}

:is(.theme-dark, .theme-midnight) #app-mount .content_a4d4d9 .backdrop_accde0 {
  background-color: var(--background-primary);
}
:is(.theme-dark, .theme-midnight) #app-mount .content_a4d4d9 .darkThemeGradient_f2bc91 {
  background: linear-gradient(0deg, var(--background-secondary-alt) 0%, hsla(var(--primary-800-hsl)/0.95) 20.31%, hsla(var(--primary-800-hsl)/0) 100%);
}

:is(.theme-dark, .theme-midnight) #app-mount .page_d20375 .mainTableContainer_e23072 {
  background-color: var(--background-tertiary);
}
:is(.theme-dark, .theme-midnight) #app-mount .page_d20375 .container_c18ec9 {
  background-color: var(--background-secondary);
}

:is(.theme-dark, .theme-midnight) #app-mount .row_b53f4f {
  background-color: var(--background-tertiary);
}
:is(.theme-dark, .theme-midnight) #app-mount .row_b53f4f:hover {
  background-color: var(--background-modifier-hover);
}
:is(.theme-dark, .theme-midnight) #app-mount .clickableAction_e3f878:hover .action_e3f878 {
  background-color: var(--background-modifier-hover);
}
:is(.theme-dark, .theme-midnight) #app-mount .action_e3f878 {
  background-color: var(--background-tertiary);
}
:is(.theme-dark, .theme-midnight) #app-mount .sidebarCardWrapper_e85cee {
  background-color: var(--background-tertiary);
}
:is(.theme-dark, .theme-midnight) #app-mount .headerIcon_d32e26 {
  background-color: var(--background-tertiary);
  border-color: var(--background-tertiary);
}

:is(.theme-dark, .theme-midnight) #app-mount .container_cac32e {
  background-color: var(--background-primary);
}
:is(.theme-dark, .theme-midnight) #app-mount .container_cac32e .opaqueBackground_eb6c38 {
  background-color: hsl(var(--primary-800-hsl)/0.85);
}

:is(.theme-dark, .theme-midnight) #app-mount .shop_e77fa3 .headerBarTransparentDarkBackground_d8354c {
  background-color: hsl(var(--black-hsl)/0.8) !important;
}

:is(.theme-dark, .theme-midnight) #app-mount .popout_a35965 .interactionsContainerHeader_a35965 {
  border-top-color: var(--background-modifier-accent);
}
:is(.theme-dark, .theme-midnight) #app-mount .popout_a35965 .shareToChannelButton_a35965 {
  border-right-color: var(--background-secondary);
}

:is(.theme-dark, .theme-midnight) #app-mount .addGamePopout_fd966d {
  background-color: var(--background-tertiary);
}

:is(.theme-dark, .theme-midnight) #app-mount .draggableContainer_ca37d0 .container_ca37d0 {
  background-color: var(--background-tertiary);
}
:is(.theme-dark, .theme-midnight) #app-mount .draggableContainer_ca37d0 .footerContainer_ca37d0 {
  background: linear-gradient(180deg, hsla(var(--primary-760-hsl)/0) 0%, hsla(var(--primary-800-hsl)/0.9) 50%, var(--background-secondary-alt) 100%);
}

:is(.theme-dark, .theme-midnight) #app-mount .customColorPicker_b91d66 {
  border: none;
  box-shadow: var(--dark-elevation-border), var(--dark-elevation-high);
  background-color: var(--background-tertiary);
}

:is(.theme-dark, .theme-midnight) #app-mount .contentWarningPopout_fa823b {
  background-color: var(--background-floating);
}
:is(.theme-dark, .theme-midnight) #app-mount .contentWarningPopout_fa823b .footer_fa823b {
  background-color: hsl(var(--primary-900-hsl)/0.8);
}

:is(.theme-dark, .theme-midnight) #app-mount .popoutList_da8701 {
  background-color: var(--background-floating);
}

:is(.theme-dark, .theme-midnight) #app-mount .drawerSizingWrapper_af5dbb .emptyHintCard_bad108 {
  background-color: var(--background-primary);
}
:is(.theme-dark, .theme-midnight) #app-mount .drawerSizingWrapper_af5dbb .imageLoading_b000dd {
  border-radius: 35%;
  background-color: var(--background-secondary-alt);
  background-image: none;
}

:is(.theme-dark, .theme-midnight) #app-mount .container_ac201b {
  background-color: var(--background-secondary);
}

:is(.theme-dark, .theme-midnight) #app-mount .overflowRolesPopout_e4010c {
  background-color: var(--background-floating);
}
:is(.theme-dark, .theme-midnight) #app-mount .overflowRolesPopout_e4010c .overflowRolesPopoutArrow_e4010c {
  background-color: var(--background-floating);
}

:is(.theme-dark, .theme-midnight) #app-mount .popout_b705bc {
  background-color: var(--background-floating);
}

:is(.theme-dark, .theme-midnight) #app-mount .quickSelectPopout_abbf45 {
  background-color: var(--background-floating);
}

:is(.theme-dark, .theme-midnight) #app-mount .streamPreview_adbea6 {
  background-color: var(--background-secondary);
}

:is(.theme-dark, .theme-midnight) #app-mount .layer_cd0de5 .focused_eedf95 {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .layer_cd0de5 .calendarPicker_be05cd .react-datepicker {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .layer_cd0de5 .calendarPicker_be05cd .react-datepicker__header {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .layer_cd0de5 .calendarPicker_be05cd .react-datepicker__current-month {
  border-bottom-color: var(--background-modifier-accent);
}
:is(.theme-dark, .theme-midnight) #app-mount .layer_cd0de5 .calendarPicker_be05cd .react-datepicker__day.react-datepicker__day--disabled, :is(.theme-dark, .theme-midnight) #app-mount .layer_cd0de5 .calendarPicker_be05cd .react-datepicker__day.react-datepicker__day--disabled:hover {
  background-color: var(--background-tertiary);
}

:is(.theme-dark, .theme-midnight) #app-mount .picker_cd703d .soundButton_f40049 {
  background-color: var(--background-primary);
}
:is(.theme-dark, .theme-midnight) #app-mount .picker_cd703d .keybindHint_c66e5e {
  background-color: var(--background-primary);
}

:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .avatarUploaderInnerSquareDisabled_e9b3be {
  background-color: var(--background-secondary-alt);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .background_bfac79 {
  color: var(--background-secondary-alt);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .prefixInput_a6236d {
  background-color: hsl(var(--primary-700-hsl)/0.2);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .backgroundContainer_ceff93 {
  background-color: var(--background-secondary-alt);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .containerFooter_ceff93 {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .iconWrapper_cc6793 {
  background: var(--button-secondary-background);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .iconWrapper_cc6793 .icon_cc6793:hover {
  background: var(--button-secondary-background-hover);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .iconWrapper_cc6793 .icon_cc6793:hover.disabled_cc6793 {
  background: var(--button-secondary-background-disabled);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .auditLog_eebd33 {
  border-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .auditLog_eebd33 .headerDefault_eebd33,
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .auditLog_eebd33 .headerClickable_eebd33 {
  background-color: hsl(var(--primary-660-hsl)/0.3);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .auditLog_eebd33 .headerExpanded_eebd33 {
  background-color: hsl(var(--primary-660-hsl)/0.5);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .auditLog_eebd33 .divider_eebd33 {
  background-color: var(--background-modifier-accent);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .auditLog_eebd33 .changeDetails_eebd33 {
  background-color: hsl(var(--primary-660-hsl)/0.3);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .tierBody_da77bd {
  background-color: var(--background-secondary-alt);
}

:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .sidebarRegionScroller_c25c6d {
  background-color: var(--background-primary);
}

:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .cardPrimary_a298b8.outline_a298b8 {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .paymentPane_f66684 .expandedInfo_a28a08 {
  background-color: var(--background-primary);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .paymentPane_f66684 .hoverablePayment_a28a08:hover {
  background-color: var(--background-modifier-hover);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .paymentPane_f66684 .bottomDivider_f66684 {
  border-bottom-color: var(--background-modifier-accent);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .codeRedemptionRedirect_cb70f4 {
  border-color: var(--background-tertiary);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .preview_a614a7 {
  border-color: var(--background-secondary);
  background-color: var(--background-primary) !important;
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .notches_a1107d.gray_a1107d {
  color: var(--background-primary);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .progress_a1107d {
  background-color: var(--primary-700);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .sliderBar_b6e3f3:not(.speaking_b6e3f3, .microphone_b6e3f3) {
  background-color: var(--primary-700);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .container_c67e31 {
  background-color: hsl(var(--primary-800-hsl)/0.6);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .container_c67e31:not(:hover, :focus-within) {
  border-color: hsl(var(--primary-800-hsl)/0.8);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .game_fd966d {
  box-shadow: none;
  border-bottom: 1px solid var(--background-modifier-accent);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .game_fd966d .gameNameInput_fd966d:is(:hover, :focus) {
  border-color: hsl(var(--primary-800-hsl)/0.6);
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .option_b877fa:not(.selected_b877fa, :hover) {
  background-color: var(--background-accent);
}
:is(.theme-dark, .theme-midnight) #app-mount .layers_d4b6c5 .disabled_b877fa:not(.selected_b877fa, :hover) {
  color: var(--background-accent);
}

:is(.theme-dark, .theme-midnight) #app-mount .content_a4d4d9 .sidebar_a4d4d9,
:is(.theme-dark, .theme-midnight) #app-mount .content_a4d4d9 .container_ee69e0,
:is(.theme-dark, .theme-midnight) #app-mount .content_a4d4d9 .container_e462a4,
:is(.theme-dark, .theme-midnight) #app-mount .content_a4d4d9 .privateChannels_f0963d {
  background-color: var(--background-primary);
}
:is(.theme-dark, .theme-midnight) #app-mount .content_a4d4d9 .users_a5bc92 {
  background-color: var(--background-tertiary);
}
:is(.theme-dark, .theme-midnight) #app-mount .content_a4d4d9 .total_a5bc92 {
  background-color: var(--background-secondary);
}
:is(.theme-dark, .theme-midnight) #app-mount .content_a4d4d9 .total_a5bc92::after {
  border-right-color: var(--background-secondary);
}

:is(.theme-dark, .theme-midnight) .sidebar_a4d4d9 .searchBarComponent_f0963d {
  background-color: var(--background-secondary);
}

:is(.theme-dark, .theme-midnight) #app-mount .sidebar_a4d4d9 .bannerImage_fd6364:before {
  background: linear-gradient(to bottom, var(--primary-900), transparent 100%);
}

:is(.theme-dark, .theme-midnight) .sidebar_a4d4d9 .panels_a4d4d9 {
  background-color: var(--background-primary);
}
:is(.theme-dark, .theme-midnight) .sidebar_a4d4d9 .panels_a4d4d9 .wrapper_c721cc,
:is(.theme-dark, .theme-midnight) .sidebar_a4d4d9 .panels_a4d4d9 .panel_bf1a22,
:is(.theme-dark, .theme-midnight) .sidebar_a4d4d9 .panels_a4d4d9 .container_adcaac,
:is(.theme-dark, .theme-midnight) .sidebar_a4d4d9 .panels_a4d4d9 .container_b2ca13 {
  background-color: var(--background-primary);
}
