@import url("https://raw.githack.com/LuckFire/Theme-Source/main/src/source.css");
@import url("https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css"); /* Discord Font */

/* AMOLEDCord Watermark */
.wordmark-2iDDfm svg {
    width: 0px;
}
.wordmark-2iDDfm:after {
    content: "AMOLEDCord";
    font-size: 14px;
    background: rgb(100, 100, 100);
    background-size: 400% 400%;
    animation: Gradient1 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    position: absolute;
    padding-left: -3px;
    top: 6px;
    font-family: "Discord";
}

/* Join/Create a Server - ty bowser */
html.theme-dark .theme-light {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --background-primary: var(--backgruond-primary) !important;
    --background-secondary: rgb(7, 7, 7) !important;
    --background-secondary-alt: rgb(15, 15, 15) !important;
    --background-tertiary: black !important;
    --background-modifier-accent: rgb(15, 15, 15) !important;
    --background-modifier-hover: rgb(15, 15, 15) !important;
}
html.theme-dark .theme-light .root-1gCeng {
    background-color: rgb(7, 7, 7) !important;
    box-shadow: 0 0 0 1px var(--background-secondary), 0 2px 10px 0 rgba(0, 0, 0, .2) !important;
} 
html.theme-dark .theme-light .footer-2gL1pp {
    background-color: black !important;
    box-shadow: inset 0 1px 0 var(--background-tertiary) !important;
    color: var(--text-normal) !important;
}
.footerButton-ayFTfX.colorGrey-2DXtkV {
    background-color: rgb(15, 15, 15) !important;
}

/* sum other fixies */
.checkboxWrapper-SkhIWG > .checkbox-1ix_J3:not(.checked-3_4uQ9) {
    background: var(--background-secondary-alt);
}
.accountCreditRow-SHgyi0:not(:last-child) {
    border-bottom: 0;
}
.notches-1sAcEM.gray-3_LNYR {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='rgb(8, 8, 8)'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E") !important;
}

/* Cool Roles */
.role-2irmRk {
    position: relative;
    overflow: hidden;
    border: 0;
    z-index: 0;
    padding: 5px;
}
.roleCircle-3xAZ1j::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.25;
}

/* Visible Box Shadows */
.container-1r6BKw,
.container-2Rl01u:not(.hasBanner-14PPlG),
.searchBar-6Kv8R2 {
    box-shadow: 0 1px 2px var(--background-tertiary) !important;
}

/* Status Picker */
#status-picker {
    background-color: var(--background-primary);
    border: 1px solid var(--background-secondary-alt);
}
