body, #app-mount, .app-2rEoOp, .bg-h5JY_x {
	background: var(--background-dark);
}

.popout-VcNcHB {
    border-color: var(--background-light);
    background-color: var(--background-alt);
    .option-3KoAJB {
        &:hover, &:focus {
            background-color: var(--background-light-alt);
        }
        &[aria-selected=true] {
            background-color: var(--background-dark);
        }
    }
}