#bd-pub-button {
    background-color: var(--background-light-alt);
}
#app-mount .bd-addon-card {
    background-color: var(--background-light-alt);
}
#app-mount .bd-addon-header {
    background-color: var(--background-alt);
}
.bd-switch-body {
    --switch-color: #4c4c4c;
}
.bd-search-wrapper {
    background-color: var(--searcharea-background);
}