#app-mount {
    .button-1EGGcP.buttonColor-3bP3fX, 
    .button-1EGGcP .buttonColor-3bP3fX,
    .lookFilled-yCfaCM.colorGrey-2iAG-B,
    .lookFilled-yCfaCM.colorPrimary-2AuQVo {
        background-color: rgb(40, 40, 40);
        &:enabled:hover {
            background-color: rgb(30, 30, 30);
        }
    }
    .container-2nx-BQ[style="opacity: 1; background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"] {
        background-color: rgb(40, 40, 40) !important;
    }
    .colorable-3rVGna.primaryDark-2UJt1G {
        background-color: rgb(40, 40, 40);
    }
}