.container-3Mxszk {
    .scroller-1IIF0A,
    .scroller-2XE8rp {
        background-color: var(--background-base);
    }
    .defaultIndicator-3WqGFB {
        background-color: var(--background-light-alt);
    }
    .installationPath-3cStrB {
        box-shadow: 0 1px 0 0 var(--background-light);
    }
    .hiddenLibraryApplication-T6N3U1 {
        border-color: var(--background-light);
        &::before {
            border-color: var(--background-light-alt);
            background-color: var(--background-alt);
        }
    }
}