.applicationStore-1pNvnv {
    background-color: var(--background-base);
    .scroller-9moviB {
        background-color: var(--background-base);
    }
    .subscriptionsRedirectContainer-21LuI0,
    .feature-2w65J5 {
        background-color: var(--background-light);
    }
}