.theme-midnight {
    .header__0b563 {
        border-left: 1px solid var(--app-border-frame);
        background-color: transparent !important;
    }
    .pageBody__41ed7 {
        background: var(--background-base-lowest);
    }
    .container__0b563 {
        background: var(--background-base-lowest) !important;
    }
}