.theme-midnight {
    // Browse Channels
    ._0b56311ebc6682e2-header {
        background-color: var(--background-base-lowest) !important;
    }
    ._41ed70e52483df6d-pageBody {
        background-color: var(--background-base-lowest);
    }
    ._0b56311ebc6682e2-container {
        background-color: var(--background-base-lowest) !important;
    }
    .e4503acec53c64dd-channelRow:hover:not(.e4503acec53c64dd-disabled) {
        background-color: var(--opacity-12) !important;
    }
    .bc0d3515e6cb489a-container {
        background-color: var(--background-base-low);
        border: 1px solid var(--border-subtle);
    }

    // Customize
    ._5d7c9a81ac5dd074-prompt {
        background-color: var(--background-base-low);
    }
    ._5d7c9a81ac5dd074-emptyPage {
        background-color: var(--background-base-lowest);
    }
    ._5d7c9a81ac5dd074-profileCard {
        border: 1px solid var(--border-subtle);
    }
}