.theme-midnight {
    // Connection Buttons
    .wrapper__02fc8 button {
        border: 1px solid var(--border-subtle);
        background-color: var(--background-base-lower);
        &:hover {
            background-color: var(--bg-mod-subtle);
        }
    }
}