.theme-midnight {
    // Content Loading
    .wrapper_fc8177,
    .wrapper_d852db {
        background: var(--background-base-lowest);
    }

    .content_f75fb0 .chatContent_f75fb0 {
        background: var(--background-base-lowest);
    }

    .members_c8ffbb {
        background: var(--background-base-lowest);

        .member__5d473 {
            &:hover .childContainer__91a9d {
                background-color: var(--bg-mod-faint);
            }
            &:is(.selected__91a9d, :active) .childContainer__91a9d {
                background-color: var(--bg-mod-subtle);
            }
        }
    }

    .wrapper_f7ecac {
        background-color: var(--background-surface-high);
    }

    .channelTextArea__74017 {
        background: var(--background-base-low);
        .themedBackground__74017 {
            background: var(--background-base-low);
        }
    }
    // commands
    .optionPill__1464f {
        border: 1px solid var(--border-faint);
        background-color: var(--background-surface-high);
        .optionPillKey__1464f {
            background-color: var(--background-base-lower);
        }
    }

    .stackedBars__74017 {
        background: var(--background-surface-high);
    }

    // automod
    .content__44492 {
        .messageContent__44492 {
            margin-top: 5px;

            border-radius: 5px 5px 0 0;
            border-top: 1px solid;
            border-right: 1px solid;
            border-left: 1px solid;
            border-color: var(--border-subtle);
            background-color: var(--background-surface-high);

            .embedCard__44c9a {
                background-color: transparent;
            }
        }
        .footerContainer__44492 {
            border-radius: 0 0 5px 5px;
            border: 1px solid var(--border-subtle);
            background-color: var(--background-base-low);
        }
    }

    .embedCard_b99f57 {
        border: 1px solid var(--border-subtle);
        background-color: var(--background-surface-high);
        .cardFooter_b99f57 {
            border-top: 1px solid var(--border-subtle);
            background-color: var(--background-base-low);
        }
    }

    // split chat
    .chatContent_f75fb0 {
        background-color: transparent;
    }
}