.theme-midnight {
    .channelTextArea_f75fb0 {
        background: var(--background-base-low);
        .themedBackground__74017 {
            background: var(--background-base-low);
        }
    }

    .stackedBars__74017 {
        background: var(--background-surface-high);
    }
}