.theme-midnight {
    // Content Loading
    .fc817765600a960a-wrapper,
    .d852db00c0588eb9-wrapper {
        background: var(--background-base-lowest);
    }

    .f75fb00fb7356cbe-chatContent,
    ._34c2c51cfce1632e-container,
    .fb64c9a451c49797-container {
        background: var(--background-base-lowest);
    }

    ._7641b507c6cdbb10-emptyState {
        border-left: 1px solid var(--app-frame-border);
    }

    .f7ecaca5c80dbf3a-wrapper {
        background-color: var(--background-surface-high);
    }

    .f75fb00fb7356cbe-channelTextArea {
        background: var(--background-base-low);
    }
    ._740174f3d6a2c8fe-channelTextArea:not(._740174f3d6a2c8fe-inlineContainer) ._740174f3d6a2c8fe-themedBackground {
        background: var(--background-base-low);
    }
    ._362cdf3489683f20-bannerContainer {
        background: var(--background-base-low);
    }

    .f75fb00fb7356cbe-formWithLoadedChatInput:before,
    ._36d072eab2b2e737-chatGradient {
        background: linear-gradient(to bottom, transparent, var(--background-base-lowest) 100%);
    }
    ._36d072eab2b2e737-chatTypingGradientAtBottom {
        background: linear-gradient(
            to bottom,
            transparent,
            var(--background-base-lowest) 8px,
            var(--background-base-lowest) 100%
        );
    }
    ._36d072eab2b2e737-chatTypingGradientNotAtBottom {
        background: linear-gradient(
            to bottom,
            transparent,
            var(--background-base-lowest) 72px,
            var(--background-base-lowest) 100%
        );
    }

    // Commands
    ._1464f16f3e3c14a9-optionPill {
        border: 1px solid var(--border-muted);
        background-color: var(--background-surface-high);
        ._1464f16f3e3c14a9-optionPillKey {
            background-color: var(--background-base-lower);
        }
    }

    ._740174f3d6a2c8fe-stackedBars {
        background: var(--background-surface-high);
    }

    // AutoMod
    ._44c9ad8d149f0821-embedCard {
        border: 1px solid var(--border-subtle);
        border-bottom: none;
        background-color: var(--background-surface-high);
    }
    ._444920e965051ae6-footerContainer {
        border: 1px solid var(--border-subtle);
        background-color: var(--background-base-lower);
    }

    .b99f57e338f8c028-embedCard {
        border: 1px solid var(--border-subtle);
        background-color: var(--background-surface-high);
        .b99f57e338f8c028-cardFooter {
            border-top: 1px solid var(--border-subtle);
            background-color: var(--background-base-low);
        }
    }

    // Channel Followers Publish CTA
    .cacd02fa13551840-bumpBox {
        background-color: var(--background-base-low);
        border: 1px solid var(--border-muted);
    }
}