.theme-midnight {
    // Main panel
    .db0ccbb8b3b775e5-container,
    .fe7ab2c36478c141-tabBar {
        background-color: var(--background-base-lowest);
    }
    .fe7ab2c36478c141-tabBar,
    .db0ccbb8b3b775e5-sidebarContent {
        border-color: var(--app-border-frame);
    }

    // Sub panel
    .a51e6d4f2ee35a39-container,
    .a813349e2fe16207-actionProperties {
        background-color: var(--background-base-lowest);
        border-color: var(--app-border-frame);
    }
    ._0939dbb675fd8b10-inspectorContainer,
    .a813349e2fe16207-inspectorContainer {
        background-color: var(--background-base-lowest);
    }
    .fe7ab2c36478c141-inspectorWrapper > ul {
        background-color: var(--background-base-lowest) !important;
    }

    // Playground
    .df4c28a1dd232372-canvas {
        background-color: var(--background-base-lowest);
    }
}