.theme-midnight {
    .container_f369db {
        background-color: var(--background-base-lowest);
    }

    .previewForm_d9be46 {
        background-color: var(--background-base-low);
        border-color: var(--border-faint);
    }

    .descriptionContainer_ca49a1 {
        background-color: var(--background-base-lowest);
        border: 1px solid var(--border-subtle);
    }
    .linkContainer_ca49a1 {
        background-color: var(--background-base-lowest);
    }
    .gradient_ca49a1 {
        background: linear-gradient(to top, var(--background-base-lowest), transparent);
    }

    .contentPreview__9a337 {
        background-color: var(--background-base-lowest);
    }
    .textContentFooter__9a337 {
        background: linear-gradient(
            to top,
            hsl(var(--black-hsl) / 1),
            hsl(var(--black-hsl) / 0.97) 36px,
            hsl(var(--black-hsl) / 0.4)
        );
        &.noTags__9a337 {
            background: linear-gradient(to top, hsl(var(--black-hsl) / 1), hsl(var(--black-hsl) / 0));
        }
    }
}