.theme-midnight {
    .f369dba7416c67f0-container {
        background-color: var(--background-base-lowest);
    }

    .ca49a1898ddc29e3-descriptionContainer {
        background-color: var(--background-base-lowest);
        border: 1px solid var(--border-subtle);
    }
    .ca49a1898ddc29e3-linkContainer {
        background-color: var(--background-base-lowest);
    }
    .ca49a1898ddc29e3-gradient {
        background: linear-gradient(to top, var(--background-base-lowest), transparent);
    }

    ._9a337c84ff86a914-contentPreview {
        background-color: var(--background-base-lowest);
    }
    ._9a337c84ff86a914-textContentFooter {
        background: linear-gradient(
            to top,
            hsl(var(--black-hsl) / 1),
            hsl(var(--black-hsl) / 0.97) 36px,
            hsl(var(--black-hsl) / 0.4)
        );
        &._9a337c84ff86a914-noTags {
            background: linear-gradient(
                to top,
                hsl(var(--black-hsl) / 1),
                hsl(var(--black-hsl) / 0)
            );
        }
    }
}