.theme-midnight {
    .container__133bf {
        border-left: 1px solid var(--app-border-frame);
        .tabBody__133bf {
            border-left: unset;
        }
    }

    .tabBody__133bf,
    .container__7d20c {
        background-color: var(--background-base-lowest);
    }

    .section__00943 {
        border: 1px solid var(--border-subtle);
        background-color: var(--background-base-lowest);
    }

    .addFriendInputWrapper__72ba7 {
        /**
         * the border is supposed to appear blue when the input is selected,
         * but i forgot how to check that...
         */
        border-color: var(--input-border);
        background: var(--input-background);
    }

    // Active Now
    .outer_bf1984 {
        background-color: var(--background-base-low);

        &:hover {
            background-color: var(--background-surface-high);
        }
    }
}