.theme-midnight {
    .container__9293f,
    .chatHeaderBar_a53846 {
        --__header-bar-background: var(--background-base-lowest);
    }

    .backdrop__8a7fc {
        background: var(--background-base-lowest);
    }

    .container__9293f {
        border-left: 1px solid var(--app-border-frame);
    }

    // Unset border-left on HeaderBar if its parent already has a border-left,
    // or if the bar is resized, to avoid double borders
    // Channel
    .subtitleContainer_f75fb0,
    // ChannelCallHeader
    .subtitleContainer__49508,
    // StageChannelCall
    .container__722ff,
    // ChannelChatResizableSidebar
    .container__01ae2,
    // EmptyChannel
    .noChannel__01d5c,
    // DevTools
    .container_db0ccb,
    // ApplicationStore
    .applicationStore_f07d62 {
        .container__9293f {
            border-left: unset;
        }
    }
}