.theme-midnight {
    ._9293f6b2fc12398a-container,
    .a53846f6e9583cbd-chatHeaderBar {
        --__header-bar-background: var(--background-base-lowest);
    }

    ._8a7fc664acf53af6-backdrop {
        background: var(--background-base-lowest);
    }
}