.theme-midnight {
    /**
     * the header is like, 1px off for some reason.. im going NUTS
     */
    .libraryHeader__5a895 {
        border: 1px solid var(--app-border-frame);
        background-color: var(--background-base-lowest);
    }

    .scroller__4a84a,
    .scroller_fb04e1 {
        border-left: 1px solid var(--app-border-frame);
        background-color: var(--background-base-lowest);
    }
}