.theme-midnight {
    .header_c791b2 {
        border-left: 1px solid var(--app-border-frame);
    }
    .page_c791b2 {
        background-color: var(--background-base-lowest) !important;

        > div.thin_d125d2.scrollerBase_d125d2 {
            border-left: 1px solid var(--app-border-frame);
        }

        .content_f75fb0 {
            border-left: unset;
        }
    }
}