.theme-midnight {
    .contentContainer__89463 {
        border-left: 1px solid var(--app-border-frame);
    }

    .sidebarContainer__89463 {
        background-color: var(--background-base-lowest);
    }
}