.theme-midnight {
    .background__7449f {
        background-color: var(--background-base-lowest);
    }

    .resourceChannel__7449f:hover {
        background-color: var(--background-modifier-hover);
    }

    .headerBarInner__7449f:after {
        background: linear-gradient(to bottom, rgba(50, 52, 58, 0) 0, var(--background-base-lowest) 100%);
    }
}