.theme-midnight {
    .circleIconButton__5bc7e:not(.selected__5bc7e),
    .childWrapperNoHoverBg__6e9f8,
    .pendingFolderButtonIcon__93fc9:not(:hover) {
        background-color: var(--background-base-low);
    }
}