.theme-midnight {
    ._7449fa59699cedd9-background {
        background-color: var(--background-base-lowest);
    }

    ._7449fa59699cedd9-resourceChannel:hover {
        background-color: var(--interactive-background-hover);
    }

    ._7449fa59699cedd9-headerBarInner:after {
        background: linear-gradient(to bottom, rgba(50, 52, 58, 0) 0, var(--background-base-lowest) 100%);
    }
}