.theme-midnight {
    .headerBar__80679 {
        border-left: 1px solid var(--app-border-frame);
        background-color: var(--background-base-lowest);
    }

    .mainContent__08415,
    .pageWrapper__6db1d {
        border-left: 1px solid var(--app-border-frame);
        background-color: var(--background-base-lowest);
    }

    .darkCardBackground_c3d04b {
        background-color: var(--background-base-low);
    }
}