.theme-midnight {
    // Channels
    .wrapper__2ea32:hover .link__2ea32 {
        background-color: var(--bg-mod-faint);
    }
    .wrapper__2ea32:active,
    .modeSelected__2ea32,
    .modeSelected__2ea32:hover {
        .link__2ea32 {
            background-color: var(--bg-mod-subtle);
        }
    }
    .wrapper__260e1 {
        border-color: var(--background-base-low);
        .users__260e1 {
            background-color: var(--background-base-low);
        }
        .total__260e1 {
            background-color: var(--background-surface-high);
            &::after {
                border-right-color: var(--background-surface-high);
            }
        }
    }

    // Private Messages
    .interactive_bf202d {
        &:hover {
            background: var(--bg-mod-faint);
        }

        &:active,
        &.selected_bf202d {
            background: var(--bg-mod-subtle);
        }
    }

    // Discovery
    .navItem__551b0 {
        &:hover {
            background: var(--bg-mod-faint);
        }

        &:active,
        &.selected__551b0 {
            background: var(--bg-mod-subtle);
        }
    }
}