.theme-midnight {
    // Channels
    .wrapper__2ea32:hover .link__2ea32 {
        background-color: var(--background-surface-high);
    }
    .wrapper__2ea32:active,
    .modeSelected__2ea32,
    .modeSelected__2ea32:hover {
        .link__2ea32 {
            background-color: var(--background-surface-higher);
        }
    }

    // Private Messages
    .interactive_bf202d {
        &:hover {
            background: var(--background-surface-high);
        }

        &:active,
        &.selected_bf202d {
            background: var(--background-surface-higher);
        }
    }

    // Discovery
    .navItem__551b0 {
        &:hover {
            background: var(--background-surface-high);
        }

        &:active,
        &.selected__551b0 {
            background: var(--background-surface-higher);
        }
    }
}