.theme-midnight {
    .a562c840daab72a7-mini,
    .a562c840daab72a7-slider {
        .a562c840daab72a7-bar {
            background-color: var(--background-surface-highest);
        }
    }
    .a562c840daab72a7-markDash {
        background-color: var(--background-surface-highest);
    }
}
