.theme-midnight {
    .pageContainer__09fde,
    .emptySearchWrapper__83bd4 {
        background-color: var(--background-base-lowest);
    }
    .searchBox_d727b3 {
        border: 1px solid var(--input-border);
    }
}