.theme-midnight {
    .buttonSection__1405b {
        border-color: var(--border-faint);
    }

    // DM call resize dragger
    .resizeHandle__4b144:after {
        background: var(--app-border-frame);
        content: "";
        display: block;
        height: 1px;
    }

    // Stages
    .container__722ff {
        border-left: 1px solid var(--app-border-frame);
    }
}