.theme-midnight {
    ._2f4f7eb58b61c328-videoWrapper:not(._48b20dfd18726df7-wrapper),
    .c30e20083a9cfc88-streamHidden,
    ._2f4f7eb58b61c328-streamPreview {
        background-color: var(--background-base-low);
    }
    ._211d1cc3f7e37d69-participantsButton {
        background-color: var(--background-surface-higher);
        &:hover {
            background-color: var(--background-surface-high);
        }
    }

    // DM call resize dragger
    .cb9592ad77576717-wrapper:has(._4b14452430df187a-resizeHandle) .cb9592ad77576717-callContainer {
        border-bottom: 1px solid var(--border-subtle);
    }

    // Stages
    ._664ffc673b75c994-container {
        border-left: 1px solid var(--app-border-frame);
        background-color: var(--background-base-lowest);
    }
    ._506d985b6344ef3a-background {
        background-color: var(--background-base-low);
    }

    // We need to use raw tokens here because they override the default theme to dark
    // --neutral-95 is --background-base-low
    // --opacity-12 is --interactive-background-hover
    // --opacity-24 is --border-subtle
    ._6b38f2a3ad7aaedf-container._6b38f2a3ad7aaedf-pulse {
        background-color: var(--neutral-95);
        border: 1px solid var(--opacity-24);

        &:hover {
            background-color: var(--opacity-12);
        }
    }
    ._71eb2d6ae9535ae3-tileContainer:hover {
        background-color: var(--opacity-12);
    }
}