.theme-midnight {
    .buttonSection__1405b {
        border-color: var(--border-faint);
    }

    .videoWrapper__2f4f7:not(.wrapper__48b20),
    .streamHidden_c30e20,
    .streamPreview__2f4f7 {
        background-color: var(--background-base-low);
    }
    .cta_a3a802 {
        background-color: var(--button-secondary-background);
        &:hover {
            background-color: var(--button-secondary-background-hover);
        }
    }
    .participantsButton__211d1,
    .buttonColor__7b3e8 {
        background-color: var(--background-surface-higher);
        &:hover {
            background-color: var(--background-surface-high);
        }
    }

    // DM call resize dragger
    .resizeHandle__4b144:after {
        background: var(--app-border-frame);
        content: "";
        display: block;
        height: 1px;
    }

    // Stages
    .container__722ff {
        border-left: 1px solid var(--app-border-frame);
    }

    /*
        We need to use raw tokens here because they override the default theme to dark
        --neutral-95 is --background-base-low
        --opacity-12 is --background-modifier-hover
        --opacity-24 is --border-subtle
    */
    .container__6b38f.pulse__6b38f {
        background-color: var(--neutral-95);
        border: 1px solid var(--opacity-24);

        &:hover {
            background-color: var(--opacity-12);
        }
    }
    .tileContainer__71eb2:hover {
        background-color: var(--opacity-12);
    }
}